<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Candiate">
        <div class="container">
            <form action="" [formGroup]="registrationForm">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText class="" formControlName="userName" />
                            <label for="float-input">Enter your name</label>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="p-float-label">
                            <input type="email" pInputText formControlName="email" />
                            <label for="float-input">Enter your email</label>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="p-float-label">
                            <p-inputNumber formControlName="mobile" inputId="withoutgrouping"
                                [useGrouping]="false"></p-inputNumber>
                            <label for="withoutgrouping">Enter your mobile number</label>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="p-float-label">
                            <p-password formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
                            <label for="float-input">Enter your password</label>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="p-float-label">
                            <p-password formControlName="confirmPassword" [feedback]="false"
                                [toggleMask]="true"></p-password>
                            <label for="float-input">Confirm your password</label>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <span class="checkbox-sec">
                            <input type="checkbox" formControlName="agree" />
                            <label>I have read and agree to the Terms of Service</label>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="College">
        <form action="" [formGroup]="registrationFormCollege">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="" />
                        <label for="float-input">Enter your name</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="p-float-label">
                        <input type="email" pInputText />
                        <label for="float-input">Enter your email</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="p-float-label">
                        <p-inputNumber inputId="withoutgrouping"
                            [useGrouping]="false"></p-inputNumber>
                        <label for="withoutgrouping">Enter your mobile number</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="p-float-label">
                        <p-password [toggleMask]="true" [feedback]="false"></p-password>
                        <label for="float-input">Enter your password</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="p-float-label">
                        <p-password [feedback]="false"
                            [toggleMask]="true"></p-password>
                        <label for="float-input">Confirm your password</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="checkbox-sec">
                        <input type="checkbox" />
                        <label>I have read and agree to the Terms of Service</label>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <button class="btn btn-primary" type="submit" value="Sign Up">Sign Up</button>
                </div>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Company"> Content 3 </mat-tab>
    <mat-tab label="Mentor"> Content 4 </mat-tab>
</mat-tab-group>