.testimonial-wrapper {
  padding: 50px 50px;
  background: radial-gradient(
    70.83% 70.83% at 49.97% 50%,
    #adcbfa 0%,
    #fefdff 100%
  );
}

::ng-deep .owl-item {
  // margin: 10px 0;
}

.testimonial-wrapper {
  margin-top: 130px;
  .heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #522d80;
  }
  .title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.8;
    text-align: center;
    color: #292929;
    width: 100%;
    margin: 0 auto 3rem;
    padding-bottom: 30px;
    position: relative;
  }
  .title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #522d80;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -20px);
  }
}

.items {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin: 5px 10px;
  height: 450px;
  max-height: 100%;
  position: relative;

  .starts-area {
    text-align: center;
    margin: 15px 0;

    i {
      color: #083b68;
    }
  }
  .review-artical {
    p {
      font-weight: 500;
      font-size: 0.95rem;
      line-height: 1.7;
      color: #171717;
      text-align: center;
      margin: 30px 0;
      font-style: italic;
    }
  }
  .users-section {
    .user-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .users-name {
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 40px;
      .name {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #292929;
        margin-bottom: 5px;
        font-style: italic;
      }
      .post {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #53046a;
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .testimonial-wrapper {
    margin-top: 30px;
    padding: 50px 20px;
    .title {
      width: 90%;
      font-size: 30px;
      line-height: 36px;
    }
    ::ng-deep .owl-theme {
      margin-top: 30px;
    }
  }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
  .testimonial-wrapper {
    ::ng-deep .owl-theme {
      margin-top: 30px !important;
    }
  }
}