<!-- <div class="testimonial-wrapper">
    <p class="heading">Testimonials</p>
    <h3 class="title">What People Say about Our Company</h3>
    <div class="carousel-wrapper">
        <owl-carousel-o [options]="testimonial" class="owl-slide-cs">
            <ng-template carouselSlide>
                <div class="items">
                    <div class="starts-area">

                    </div>
                    <div class="review-artical">
                        <p>
                            Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Facilisis magna etiam tempor orci eu lobortis. Faucibus interdum posuere lorem ipsum.
                        </p>
                    </div>
                    <div class="users-section">
                        <div class="user-img">
                            <img src="" alt="">
                        </div>
                        <div class="users-name">
                            <p class="name">Leslie Johnson</p>
                            <small class="post">Volunteer</small>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="items">
                    <div class="starts-area">

                    </div>
                    <div class="review-artical">
                        <p>
                            Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Facilisis magna etiam tempor orci eu lobortis. Faucibus interdum posuere lorem ipsum.
                        </p>
                    </div>
                    <div class="users-section">
                        <div class="user-img">
                            <img src="" alt="">
                        </div>
                        <div class="users-name">
                            <p class="name">Leslie Johnson</p>
                            <small class="post">Volunteer</small>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="items">
                    <div class="starts-area">

                    </div>
                    <div class="review-artical">
                        <p>
                            Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Facilisis magna etiam tempor orci eu lobortis. Faucibus interdum posuere lorem ipsum.
                        </p>
                    </div>
                    <div class="users-section">
                        <div class="user-img">
                            <img src="" alt="">
                        </div>
                        <div class="users-name">
                            <p class="name">Leslie Johnson</p>
                            <small class="post">Volunteer</small>
                        </div>
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</div> -->