<div class="our-team-wrapper">
    <div class="container-fluid p-0">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="left-our-team">
                    <p>Our Team</p>
                    <h4>Driving Innovation through Collaboration</h4>
                    <article>At Innov Catalyst, our team is a group of passionate individuals who are committed to driving innovation through collaboration. With diverse backgrounds and expertise, we work together to bridge the gap between academia and industry, connecting fresh ideas with industry needs.
                    </article>
                    <!-- <button type="button" class="know-more">Know More <span class="icon-hearts"></span></button> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-our-team">
                    <div class="img-wrap">
                        <img src="../../../assets/our-team.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>