<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="myFormSec">
  <div class="formLeft">
    <img src="../../../assets/portfolio-vector.png" />
    <h3>Add Portfolio</h3>
  </div>
  <div class="formRight">

    <ul type="1">
      <li>
        <label>Title</label>
        <input type="text" #text formControlName="title" />
      </li>
      <li>
        <label>Description</label>
        <p-editor [style]="{ height: '320px' }" formControlName="description">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button type="button" class="ql-italic" aria-label="Italic"></button>
              <button type="button" class="ql-underline" aria-label="Underline"></button>
            </span>
          </ng-template>
        </p-editor>
      </li>
      <li>
        <label>Select Upload Option</label>
        <div class="">
          <p-dropdown [options]="portfolioStatusOption" placeholder="portfolio status" optionLabel="name"
            (onChange)="selectItemPortfolio($event, obj.id)"></p-dropdown>
        </div>
      </li>
      <li>
        <div class="px1">
          <label>Select Media Type</label>
          <p-dropdown [options]="uploadItem" placeholder="Select a option" optionLabel="name"
            (onChange)="selectItem($event, obj.id)" appendTo="body"></p-dropdown>
        </div>
      </li>
    </ul>
    <div class="youtube-url position-relative" *ngIf="selectedItem == 'Pdf'">
      <label>Upload pdf file</label>
      <input type="file" name="pdfFile" #fileInput id="pdfInput" formControlName="pdf" (change)="pdfSelected($event)"
        accept=".pdf" />
      <button class="remove" (click)="deletePdf()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="youtube-url" *ngIf="selectedItem == 'Image'">
      <label>Please upload Image...</label>


      <div>
        <input type="file" formControlName="image" accept="image/*" (change)="onImageSelected($event)"
          id="imageInput" />
        <button (click)="removeImage()"><i class="pi pi-times"></i></button>
      </div>
    </div>

    <div class="youtube-url" *ngIf="selectedItem == 'url'">
      <div>
        <p>Paste url</p>
        <input type="url" formControlName="url" (change)="urlChange($event)" placeholder="Paste URL here .. " />
      </div>
    </div>
    <div class="youtube-url" *ngIf="selectedItem == 'youtubeVideo'">
      <div>
        <p>Paste Youtube url</p>
        <input type="url" formControlName="youtubeUrl" (change)="youtubeUrlChange($event)"
          placeholder="Paste your link here .. " />
      </div>

      <!-- <button type="submit">Submit</button> -->
    </div>
    <button type="submit">Submit</button>
    </div>
    
</form>
<!-- </li>
    <li>
      <div class="px3">
        <p-dropdown
  
          [options]="uploadItem"
          [(ngModel)]="selectedItem"
          placeholder="Select a option"
          optionLabel="name"
          (onChange)="selectItem($event, obj.id)"
        ></p-dropdown>
      </div>
    </li> 
   
  </ol> -->

<!-- <button (click)="UploadProtfolio(text.value)">
  Upload Protfolio
</button>  -->
<!-- <iframe src="https://www.youtube.com/embed/6q9NtaWYbBk"></iframe> -->