.visitor-wrapper {
  background-image: url(../../../assets/visitor-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 610px;
  position: relative;
  margin-top: 200px;
}

.overlap-area {
  //   background: #ffffff;
  box-shadow: 0px 10px 40px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  background-image: url(../../../assets/overlap-bg.png);
  background-repeat: no-repeat;
  height: 320px;
  background-size: cover;
  position: absolute;
  top: -90px;
  width: 50%;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}

.test-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  padding: 0 20px;
  .text {
    .text-sec {
      font-weight: 600;
      font-size: 40px;
      line-height: 46px;
      color: #292929;
      position: relative;
    }
    .text-sec::after {
      content: "";
      left: 0;
      position: absolute;
      bottom: -15px;
      width: 124px;
      height: 3px;
      background: #ec8e11;
      border-radius: 50px;
    }
  }
  .btn-section {
    button {
      background: #522d80;
      border-radius: 5px;
      padding: 18px 35px;
      color: #fff;
    }
  }
}

.numbers-section {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    li {
      list-style: none;
      .numbers {
        font-weight: 700;
        font-size: 70px;
        line-height: 60px;
        color: #fff;
        position: relative;
        width: max-content;
      }
      .numbers::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        width: 61px;
        height: 4px;
        background-color: #ec8e11;
        transform: translate(-50%, 0);
      }
      p {
        font-weight: 600;
        font-size: 23px;
        line-height: 26px;
        color: #fff;
        width: 60%;
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  .visitor-wrapper {
    margin-top: 50px;
    .numbers-section {
      ul {
        flex-direction: column;
        width: 80%;
        justify-content: flex-start;
        align-items: flex-start;
        li {
          margin-bottom: 15px;
          .numbers {
            font-size: 50px;
            line-height: 40px;
          }
          p {
            width: 100%;
          }
        }
      }
    }
    .overlap-area {
      width: 90%;
      top: -40px;
      height: auto;
      .test-area {
        flex-direction: column;
        padding: 20px;
        .text {
          .text-sec {
            font-size: 30px;
            line-height: 36px;
          }
        }
        .btn-section {
          button {
            margin-top: 20px;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}