<div class="visitor-wrapper">
    <div class="numbers-section">
        <ul>
            <li class="number-area">
                <h3 class="numbers">6k</h3>
                <p>Number of
                    Visitor</p>
            </li>
            <li class="number-area">
                <h3 class="numbers">2k+</h3>
                <p>Number of
                    Employee</p>
            </li>
            <li class="number-area">
                <h3 class="numbers">5k+</h3>
                <p>Number of 
                    Student</p>
            </li>
        </ul>
    </div>
    <div class="overlap-area">
        <div class="test-area">
            <div class="text">
                <p class="text-sec">Visitors to our website</p>
            </div>
            <div class="btn-section">
                <button type="button">know More</button>
            </div>
        </div>
    </div>
</div>