<div class="container-fluid p-0">
    <div class="row section-wrapper">
        <div class="col-sm-4 internships">
            <h2 class="heading">Internships</h2>
            <p class="description">Experience the Industry Firsthand</p>
            <button class="button-section" type="button">APPLY NOW</button>
        </div>
        <div class="col-sm-4 jobs sky-color">
            <h2 class="heading">Jobs</h2>
            <p class="description">Build a Strong Foundation for Your Career</p>
            <button class="button-section" type="button">APPLY NOW</button>
        </div>
        <div class="col-sm-4 projects">
            <h2 class="heading">Projects</h2>
            <p class="description">Showcase Your Projects and Achievements!</p>
            <button class="button-section" type="button">SHOWCASE NOW</button>
        </div>
    </div>
</div>