p,h2,button{
    font-family: 'Poppins', sans-serif !important;

}
.section-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 64px 0 0 0;
    .internships{
        background: #522D80;
        padding: 25px 60px;
        text-align: center;
        .heading{
            font-weight: 600;
            font-size: 36px;
            line-height: 37px;
            color: #FFFFFF;
            position: relative;
        }
        .heading::after{
            content: '';
            width: 53px;
            height: 2px;
            background-color: #EC8E11;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 10px);
        }
        .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #F5F5F5;
            margin-top: 20px;
        }
        .button-section{
            background: #EC8E11;
            border-radius: 5px;
            padding: 18px 35px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }
    .jobs{
        background: #8CD3F6;
        padding: 25px 60px;
        text-align: center;
        .heading{
            font-weight: 600;
            font-size: 36px;
            line-height: 37px;
            color: #522D80;
            position: relative;
        }
        .heading::after{
            content: '';
            width: 53px;
            height: 2px;
            background-color: #522D80;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 10px);
        }
        .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #522D80;
            margin-top: 20px;
        }
        .button-section{
            background: #522D80;
            border-radius: 5px;
            padding: 18px 35px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }
    .projects{
        background: #522D80;
        padding: 25px 60px;
        text-align: center;
        .heading{
            font-weight: 600;
            font-size: 36px;
            line-height: 37px;
            color: #FFFFFF;
            position: relative;
        }
        .heading::after{
            content: '';
            width: 53px;
            height: 2px;
            background-color: #EC8E11;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 10px);
        }
        .description{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 20px;
        }
        .button-section{
            background: #EC8E11;
            border-radius: 5px;
            padding: 18px 35px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }
}