<div class="get-your-job-wrapper">
  <div class="container">
    <div class="row section-wrapper">
      <div class="col-sm-6 jobs sky-color">
        <div class="text-wrapper">
          <h2 class="heading">JOBS</h2>
          <ul class="check-item">
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Connects recruiters with job seekers for entry level roles based
                on their experience, projects, skills and achievements.
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                A comprehensive pool of unscreened candidates for quick hiring
                needs.
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Candidates evaluated through two levels of expert screening for
                targeted needs
              </a>
            </li>
          </ul>
          <button class="button-section" type="button" (click)="openModal()">
            <span>Click Here</span>
            <i class="pi pi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-6 internships">
        <div class="img-wrapper text-center">
          <img loading="lazy" width="400" height="450"
            src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/illus-4.png" width="762px" height="800px" alt="" />
        </div>
      </div>
    </div>

    <div class="row section-wrapper mt-0">
      <div class="col-md-6">
        <div class="img-wrapper text-center">
          <img loading="lazy" width="400" height="400"
            src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/project-enable.webp" width="762px" height="800px" alt="" />
        </div>
      </div>
      <div class="col-md-6 jobs">
        <div class="text-wrapper cs-padding">
          <h2 class="heading">PROJECT HUB</h2>
          <ul class="check-item">
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                A large pool of fresh ideas, stimulating investors to explore
                new domains and invest in impactful projects
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Enhances industry-institute interaction, enabling joint R&D and
                collaborative project execution
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Simplified search for recruiters to find skilled interns and
                entry-level talent through showcased projects
              </a>
            </li>
          </ul>
          <button class="button-section" type="button">
            <span>Click Here</span>
            <i class="pi pi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>


    <!-- <div class="row section-wrapper mt-0">
      <div class="col-md-6 mentor">
        <div class="text-wrapper cs-padding">
          <h2 class="heading">MENTOR</h2>
          <ul class="check-item">
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Offering personalized mentorship to guide students through project planning and execution
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Connecting students with industry experts and experienced professionals for valuable insights
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Providing resources and tools to help students overcome project challenges.
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-group-check"></span>
                Facilitating regular feedback sessions to track progress and improve project outcomes.
              </a>
            </li>
          </ul>
          <button class="button-section" type="button">
            <span>Click Here</span>
            <i class="pi pi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-wrapper text-center">
          <img loading="lazy" width="400" height="400"
            src="../../../assets/mentor.png" width="762px" height="800px" alt="" />
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- <p-dialog [(visible)]="isRegisterModal" [style]="{width: '50vw'}" [transitionOptions]="'100ms'" (onHide)="onhideModal()">
    <app-mini-header></app-mini-header>
</p-dialog> -->