<div class="get-your-job-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="head-text-area">
                    <h2>Simple steps to get your job</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-account-section">
                    <a href="#">Create your account here</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="left-box-section">
                    <img src="../../../assets/get-job-img.svg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <ul class="right-section-menu">
                    <li>
                        <a href="#">Create your account</a>
                    </li>
                    <li>
                        <a href="#">Search Internships</a>
                    </li>
                    <li>
                        <a href="#">Make a deal</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>