<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/MU3qrgR2Kkc?controls=0&amp;start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
<div class="video-wrapper">
  <video height="530" width="100%" autoplay muted loop>
    <source
      src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/mixkit-silhouette-of-business-person-with-portfolio-33947-medium.mp4"
      type="video/mp4"
    />
  </video>
  <div class="video-texts">
    <p>Watch Our Video</p>
    <h5>
      Ideas / projects at your finger tips. Fresh Ideas / projects, just a click
      away
    </h5>
    <a href="#"></a>
  </div>
</div>
https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/inncyst-logo-white.png
