.container {
    width: 1196px;
    height: 500px;
    margin-top: 100px;

    .heading-section {
        text-align: center;

        h1 {
            color: #563186;
        }

        article {
            margin-bottom: 25px;
            color: #4a4190;
        }
    }

    .content-section {
        background-color: #edeaea5c;
        box-shadow: 6px 5px 9px 5px #edeaeafa;
        display: grid;
        border-radius: 10px;
        padding: 10px;
        grid-template-columns: .8fr 1fr;
        grid-column-gap: 10px;
        border: 2px solid #f1f1f1d1;

        .contact-info-section {
            background-color: #0aa3c6;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 8px 15px;

            .info-inner-section {
                .info-header-section {
                    color: #ffffff;

                }

                .info-mid-section {
                    ul {
                        list-style: none;
                        padding: 0;
                        margin-top: 90px;

                        li {
                            padding: 10px 0;

                            svg {
                                margin-right: 1.1rem;
                            }

                            a {
                                color: #ffffff;
                                text-decoration: none;
                                // text-wrap: balance;
                                width: 80%;
                                display: flex;

                            }
                        }
                    }
                }

                .footer-section {
                    ul {
                        list-style: none;
                        margin-top: 2rem;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        li {
                            padding: 0 1rem;

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .form-section {
            padding: 20px 0;
            width: 100%;
            position: relative;

            form {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 15px;

                .input-area-sm,
                .input-area-lg {
                    padding-bottom: 20px;

                    ::ng-deep {

                        .p-inputtext,
                        p-inputnumber,
                        .p-inputnumber,
                        .p-password {
                          display: block;
                          width: 100% !important;
                          margin: 15px 0;
                        }
          
                        .p-float-label>label {
                          font-weight: 300;
                          font-size: 0.87rem;
                          top: 20px;
                        }
          
                        .p-float-label input:focus~label,
                        .p-float-label input.p-filled~label,
                        .p-float-label .p-inputwrapper-focus~label,
                        .p-float-label .p-inputwrapper-filled~label {
                          font-size: 0.8rem;
                          font-weight: 600 !important;
                          left: 14px;
                          top: 0;
                          background: #fff;
                          padding: 0 5px;
                          color: #270345;
                        }

                        input {

                            width: 100%;

                        }
          
          
                      }
                }

                .input-area-lg {
                    grid-column: span 2;
                }

                .submit-area {
                    grid-column: span 2;
                    text-align: right;

                    input {
                        background-color: #0aa3c6;
                        color: #ffffff;
                        text-transform: uppercase;
                        border: none;
                        padding: 10px 25px;
                        margin-top: 50px;
                        border-radius: 6px;
                    }
                }
            }

            .bg-img {
                position: absolute;
                bottom: -50px;
                left: 0;
            }
        }
    }
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 0;
    position: relative;
    top: -11px;
}