<ul class="industry_listing">
    <li>
        <div class="listing_head">
            <figure><img src="" /></figure>
            <h2>HR Executive - Recoupment</h2>
        </div>
        <div class="listing_details">
            <ul>
                <li>
                    <strong>Opportunity type:</strong>
                    <label>HR Executive</label>
                </li>
                <li>
                    <strong>Internship start date:</strong>
                    <label>23.12.2023</label>
                </li>
                <li>
                    <strong>Stipend:</strong>
                    <label>12000/-</label>
                </li>
                <li>
                    <strong>Internship duration:</strong>
                    <label>23.12.2024</label>
                </li>
                <li>
                    <strong>Number of openings:</strong>
                    <label>50</label>
                </li>
            </ul>
            <div class="list_status">
                <label>Status</label>
                <!-- <p-inputSwitch formControlName="enabled"></p-inputSwitch> -->
            </div>
        </div>
    </li>
</ul>