<button class="add_job_btn" type="button" (click)="addJobs()">Add Job</button>
<div
  class="search-results-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="250"
  (scrolled)="onScroll()"
  [scrollWindow]="true"
>
<ul class="industry_listing">
  <li *ngFor="let items of postList">
    <!-- <li> -->
    <div class="listing_head">
      <div class="ribbon_draft">Draft</div>
      <!-- <i class="pi pi-times" style="color: green ;"></i>  -->
      <button (click)="delete(items._id)">X</button>
            <br>&nbsp;
      <button *ngIf="items.status" (click)="studentList(items._id)">Applied Student List</button>
      <figure><img src="" /></figure>

      <h2>{{ items.details }}</h2>

      <br />
      <i class="pi pi-ellipsis-v" (click)="edit(items._id,items.type)"></i>
    </div>
    <div class="listing_details">
      <ul>
        <li>
          <strong>Opportunity type:</strong>
          <label>{{ items.details }}</label>
        </li>
        <li>
          <strong>Internship start date:</strong>
          <label>{{ items.startDate }}</label>
        </li>
        <li>
          <strong>Stipend:</strong>
          <label>{{ items.salary }} /-</label>
        </li>
        <li>
          <strong>Internship duration:</strong>
          <label>{{ items.duration }} </label>
        </li>
        <li>
          <strong>Number of openings:</strong>
          <label>{{ items.jobOpening }}</label>
        </li>
      </ul>
      <div class="list_status">
        <label>Status</label>
        <div class="edit_btn">
          <i class="file-edit" (click)="editStatus(items._id)"
            ><img src="../../../assets/edit-icon.png"
          /></i>
        </div>
      </div>
    </div>
  </li>
  <div *ngIf="postList.length == 0">No Record Found</div>

  <p-dialog
    
    [(visible)]="visible"
    [style]="{ width: '50vw', height: '300px' }"
  >
    <p>please update the status</p>
    <div class="card flex justify-content-center">
      <p-dropdown
        [options]="status"
        [(ngModel)]="selectedStatus"
        optionLabel="name"
        placeholder="Select a Status"
        (onChange)="statusChange($event)"
      ></p-dropdown>
    </div>
  </p-dialog>

  <!-- <li>
    <div class="listing_head">
      <div class="ribbon_draft">Draft</div>
      <figure><img src="" /></figure>
      <h2>HR Executive - Recoupment</h2>
      <i class="pi pi-ellipsis-v"></i>
    </div>
    <div class="listing_details">
      <ul>
        <li>
          <strong>Opportunity type:</strong>
          <label>HR Executive</label>
        </li>
        <li>
          <strong>Internship start date:</strong>
          <label>23.12.2023</label>
        </li>
        <li>
          <strong>Stipend:</strong>
          <label>12000/-</label>
        </li>
        <li>
          <strong>Internship duration:</strong>
          <label>23.12.2024</label>
        </li>
        <li>
          <strong>Number of openings:</strong>
          <label>50</label>
        </li>
      </ul>
      <div class="list_status">
        <label>Status</label>
        <div class="edit_btn">
          <i class="file-edit"><img src="../../../assets/edit-icon.png" /></i>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="listing_head">
      <div class="ribbon_draft">Draft</div>
      <figure><img src="" /></figure>
      <h2>HR Executive - Recoupment</h2>
      <i class="pi pi-ellipsis-v"></i>

    </div>
    <div class="listing_details">
      <ul>
        <li>
          <strong>Opportunity type:</strong>
          <label>HR Executive</label>
        </li>
        <li>
          <strong>Internship start date:</strong>
          <label>23.12.2023</label>
        </li>
        <li>
          <strong>Stipend:</strong>
          <label>12000/-</label>
        </li>
        <li>
          <strong>Internship duration:</strong>
          <label>23.12.2024</label>
        </li>
        <li>
          <strong>Number of openings:</strong>
          <label>50</label>
        </li>
      </ul>
      <div class="list_status">
        <label>Status</label>
        <div class="edit_btn">
          <i class="file-edit"><img src="../../../assets/edit-icon.png" /></i>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="listing_head">
      <div class="ribbon_draft">Draft</div>
      <figure><img src="" /></figure>
      <h2>HR Executive - Recoupment</h2>
      <i class="pi pi-ellipsis-v"></i>
    </div>
    <div class="listing_details">
      <ul>
        <li>
          <strong>Opportunity type:</strong>
          <label>HR Executive</label>
        </li>
        <li>
          <strong>Internship start date:</strong>
          <label>23.12.2023</label>
        </li>
        <li>
          <strong>Stipend:</strong>
          <label>12000/-</label>
        </li>
        <li>
          <strong>Internship duration:</strong>
          <label>23.12.2024</label>
        </li>
        <li>
          <strong>Number of openings:</strong>
          <label>50</label>
        </li>
      </ul>
      <div class="list_status">
        <label>Status</label>
        <div class="edit_btn">
          <i class="file-edit"><img src="../../../assets/edit-icon.png" /></i>
        </div>
      </div>
    </div>
  </li>  -->
</ul>
<h1 *ngIf="loading">loading...................</h1>
</div>
<!-- <div class="no-records">No records found</div> -->
