.industry_listing{
    padding: 30px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & > li {
        list-style: none;
        border-radius: 11px;
        border: 0.5px solid #999;
        background: #FFF;
        flex: 0 0 400px;
        .listing_head {
            padding: 20px 18px;
            border-bottom: 1px solid #A9A9A9;
            display: flex;
            flex-direction: row;
            align-items: center;
            figure {
                width: 43px;
                height: 43px;
                background: #D9D9D9;
                border-radius: 50%;
                margin:0 10px 0 0;
            }
            h2 {
                color: #522D80;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                margin: 0;
            }
        }
        .listing_details {
            padding: 18px 20px 18px 60px;
            ul {
                list-style: none;
                margin: 0;
                padding:0 0 20px;
                border-bottom: 1px solid rgba(169,169,169,0.6);
                li {
                    display: flex;
                    flex-direction: row;
                    strong {
                        color: #522D80;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        flex:0 0 55%;
                    }
                    label {
                        color: #6C6C6C;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}