.wrapper-header {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    .filter-section {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {

            font-size: 0.7rem;
            top: 23px;

        }

        i.filter {

            z-index: 9;

        }

        .p-inputtext:enabled:focus {
            border: 0;
            box-shadow: none;
          }
          

        .p-dropdown {
            margin-bottom: 0 !important;
            height: 2.5rem;
        }

        .p-dropdown .p-dropdown-label.p-placeholder {
            color: #6c757d;
            height: 2.5rem;
            font-size: 0.8rem;
            line-height: 1;
            padding-left: 3rem;
        }
    }



    .jobprofile-search {

        height: 2.5rem;
        font-size: 0.8rem;

    }

    .add_job_btn {
        border-radius: 5px;
        background: #06114b;
        padding: 7px 20px;
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
        float: right;
        margin: 15px 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {

            background: #ffffff57;
            padding: 0.5rem;
            border-radius: 50%;
            font-weight: 600;
            font-size: 0.5rem;

        }
    }
}

.oppertunity-type {

    p {

        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }

}

.industry_listing {
    padding: 20px 0 60px 70px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 100%;

    &>li {
        list-style: none;
        border-radius: 11px;
        border: 0.5px solid #999;
        background: #FFF;
        flex: 0 0 400px;
        margin-bottom: 30px;
        position: relative;
        margin-right: 30px;
        transition: all 0.3s ease-in-out;

        .listing_head {
            padding: 20px 18px;
            border-bottom: 1px solid #A9A9A9;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            box-shadow: none;


            .listing_head_info {
                box-shadow: none;

                .applied_list {
                    padding: 3px 10px;
                    border-radius: 5px;
                    margin-top: 10px;
                    box-shadow: none;
                }
            }

            figure {
                width: 43px;
                height: 43px;
                background: #D9D9D9;
                border-radius: 50%;
                margin: 0 10px 0 0;
                flex: 0 0 43px;
                display: inline-block;
                vertical-align: middle;
                box-shadow: none;
            }

            h2 {
                color: #522D80;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                box-shadow: none;
            }

            .delete_btn {
                position: absolute;
                right: 40px;
                top: 13px;
                background: none;
                box-shadow: none;

            }

            &>i {
                color: #000;
                font-size: 22px;
                position: absolute;
                right: 10px;
                top: 12px;
            }
        }

        .listing_details {
            padding: 18px 20px 18px 60px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 20px;

                li {
                    display: flex;
                    flex-direction: row;

                    strong {
                        color: #522D80;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        flex: 0 0 55%;
                    }

                    label {
                        color: #6C6C6C;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        margin-left: 20px;
                    }
                }
            }
        }

        .list_status {
            padding: 10px 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid rgba(169, 169, 169, 0.6);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                color: #522D80;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 0;
            }

            .edit_btn {
                position: absolute;
                right: 20px;
                top: 4px;
            }
        }

    }

}

// .industry_listing li:hover {
//     box-shadow: 4px 3px 7px 0px #0090ba52;
//     transition: all 0.3s ease-in-out;
// }

.no-records {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #522D80;
    font-size: 20px;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

ul.action-btns {
    padding-left: 0;
    margin-bottom: 0;

    hr {

        margin: 0.2rem 0;

    }

    li {

        margin-bottom: 5px;

        button {

            font-size: 0.8rem;
            text-align: left;
            background: transparent;
            padding: 5px 15px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;

            i.edit {

                color: #03be00;
                background: #03be003d;
                padding: 0.5rem;
                border-radius: 50%;

            }

            i.delete {

                color: #d90000;
                background: #d900003d;
                padding: 0.5rem;
                border-radius: 50%;

            }

        }

    }


}




.jobs-profile {
    li {
        border: 0;
    }

    .item-status {
        width: 100%;
        height: 32px;
        position: absolute;
        right: 15px;
        top: 45px;

    }

    .card {
        border: 0;
        box-shadow: none;
        border-radius: 1rem;
        margin-bottom: 0;
        max-width: 470px;
        min-height: 100%;
        height: 430px;

        .ribbon_draft {
            width: 80px;
            height: 27px;
            background: #522D80;
            left: -5px;
            position: relative;
            top: 11px;
            text-align: center;
            color: #fff;
            font-family: Raleway;
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            box-shadow: none;

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 8px solid #14455b;
                border-left: 8px solid transparent;
                top: -8px;
                left: 0;
            }

            &::after {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                top: 1px;
                border-top: 12px solid transparent;
                border-bottom: 14px solid transparent;
                border-left: 9px solid #522D80;
                right: -9px;
            }
        }
    }

    .card-body {
        border: 0;
        margin-top: 0.5rem;


        .items-description {

            display: flex;
            gap: 15px;
            background: #ececec61;
            border-radius: 0.5rem;
            padding: 0.2rem 1rem 0;
            align-items: center;
            border: 2px solid #ececec00;
            box-shadow: rgb(50 50 93 / 0%) 0px 11px 6px -5px, rgba(0, 0, 0, 0.3) 0px 8px 8px -8px;

            .profile-img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: #fff;
                border: 4px solid #fff;

                figure {
                    margin-bottom: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    background: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

            }

            .profile-list {

                max-width: 100%;
                padding: 0.5rem 1.5rem;

                .d-flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                }

                .info {

                    white-space: nowrap;

                    label {
                        font-size: 0.6rem;
                        font-weight: 400;
                        margin-bottom: 5px;

                    }

                    p {

                        font-size: 0.8rem;
                        font-weight: 700;

                    }

                }


            }

            .few-details {

                max-width: 100%;
                display: grid;
                place-items: center;
                grid-template-columns: 2fr 2fr;
                padding: 0;
                gap: 2px;
                padding: 1rem 0;


                .info {

                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    width: 182px;
                    height: 70px;
                    padding: 0.5rem;
                    border-radius: 0.2rem;

                    i {

                        color: rgb(230 167 31);
                        background: rgb(238 180 9 / 16%);
                        padding: 0.7rem;
                        border-radius: 50%;
                        font-size: 0.7rem;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                    i.salary {

                        color: #04ac32;
                        background: #06ef181f;

                    }

                    i.duration {

                        color: #0569ba;
                        background: #0b51c61c;

                    }

                    i.opening {

                        color: #522d80;
                        background: #522d801c;

                    }

                    div {
                        white-space: nowrap;

                        label {

                            font-size: 0.6rem;
                            color: #4f4f4f;
                            font-weight: 500;
                            position: relative;
                            top: -3px;
                            margin-bottom: 2px;
                        }

                        p {
                            color: #000;
                            margin-bottom: 0;
                            font-size: 0.7rem;
                        }
                    }


                }

            }
        }

        .items-description:nth-child(3) {

            background: transparent;
            display: block;
            border: 0;
            padding: 0;
            box-shadow: none;
            border-radius: 0;

        }

    }

    .card-footer {

        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #06114b;
        color: #fff;
        border-radius: 0 0 1rem 1rem;
        height: 50px;
        padding-left: 2rem;
        padding-right: 2rem;

        &::after {
            display: none;
        }

        label {

            font-size: 0.8rem;
            margin-bottom: 0;

        }

        .edit_btn {

            i {

                color: #fff;
                font-weight: 400;

            }


        }

    }


}


.update_status {
    h2 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        text-transform: capitalize;
        font-family: Raleway;
        margin-bottom: 40px;
    }

    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin: 0 15px 0 0;
        }

        div {
            margin: 0;
        }
    }

    p {

        font-weight: 500;
    }
}

.p-dialog .p-dialog-header {
    padding: 0;
}

.update_status {
    h2 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .status-area {
        label {
            font-size: 16px;

        }
    }

}

.ellipsis_icon {
    position: absolute;
    right: 15px;
    top: 20px;
}

@media only screen and (max-width:767px) {
    .industry_listing {
        padding-left: 0;
        width: 98%;
        margin: 0 auto;

        &>li {
            flex: 0 0 100%;

            .listing_head {
                h2 {
                    font-size: 14px;
                    flex: 0 0 46%;
                }
            }

            .listing_details {
                padding-left: 20px;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:979px) {
    .industry_listing {
        padding-left: 0;
        width: 98%;
        margin: 0 auto;

        &>li {
            flex: 0 0 100%;

            .listing_details {
                padding-left: 20px;
            }
        }
    }
}

@media only screen and (min-width:980px) and (max-width:1024px) {
    .industry_listing {
        padding-left: 20px;
        width: 98%;
        margin: 0 auto;

        &>li {
            .listing_details {
                padding-left: 20px;
            }
        }
    }
}

// .search-results-container {
//     margin: 40px 0;
//     height: 1094px;
//     max-height: 1094px;
//     width: 100%;
//     position: relative;
//     overflow-y: scroll;
//      &::-webkit-scrollbar-track {
//          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//          background-color: #F5F5F5;
//      }

//      &::-webkit-scrollbar {
//          width: 2px;
//          background-color: rgba(196, 196, 196, 0.3);
//      }

//      &::-webkit-scrollbar-thumb {
//          background-color: #828282;
//      }
//     .noData {
//         display: grid;
//         align-items: center;
//         height: 100%;
//         justify-content: center;
//     }
// }