p,
h2,
button {
  font-family: "Poppins", sans-serif !important;
}

.section-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3rem 0;

  .internships {
    // background: #522D80;
    // padding: 25px 60px;
    // text-align: center;

    .img-wrapper {

      img {
        width: 400px;
        animation: zoomInOut 3s infinite ease-in-out;
      }

    }
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(0.9); 
    }
    50% {
      transform: scale(1); 
    }
    100% {
      transform: scale(0.9); 
    }
  }

  .jobs {
    // background: #8cd3f6;
    padding: 25px 60px;

    // text-align: center;
    .heading {
      font-weight: 600;
      font-size: 36px;
      line-height: 37px;
      color: #522d80;
      position: relative;
    }

    .heading::after {
      content: "";
      width: 53px;
      height: 2px;
      background-color: #522d80;
      position: absolute;
      bottom: -10px;
      left: 0;
      //   transform: translate(-50%, 10px);
    }

    .description {
      font-weight: 200;
      font-size: 0.9rem;
      line-height: 1.7;
      color: #000000;
      margin: 31px 0;
    }

    .check-item {
      padding: 0;
      margin-top: 30px;

      li {
        list-style: none;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 0.85rem;
          line-height: 1.7;
          color: #292929;
          display: flex;
          align-items: flex-start;
          gap: 7px;

          span {
            color: #522d80;
            padding-top: 5px;
          }
        }
      }
    }

    .button-section {
      background-color: #522d80;
      border: 0;
      color: #ffffff;
      border-radius: 25px;
      padding: 10px 25px;
      font-size: 0.8rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      transition: padding-left 0.3s ease-in-out, justify-content 0.3s ease-in-out;
      width: 150px;
      position: relative;
      overflow: hidden;

      span {
        transition: margin-right 0.3s ease-in-out, transform 0.3s ease-in-out;
        margin-right: 0;
      }

      i {
        font-size: 0.9rem;
        opacity: 0;
        transform: translateX(-5px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        position: absolute;
        right: 10px;
      }

      &:hover {
        justify-content: center;
        padding-left: 0px;

        i {
          opacity: 1;
          transform: translateX(-5px);
        }
      }
    }




  }
}

.projects {
  background: #522d80;
  padding: 25px 60px;
  text-align: center;

  .heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 37px;
    color: #ffffff;
    position: relative;
  }

  .heading::after {
    content: "";
    width: 53px;
    height: 2px;
    background-color: #ec8e11;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10px);
  }

  .description {
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 1.7;
    color: #000000;
    margin: 31px 0;
  }

  .button-section {
    background: #ec8e11;
    border-radius: 5px;
    padding: 18px 35px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}

::ng-deep .p-dialog-content {
  padding: 0 !important;
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .section-wrapper {
    .jobs {
      padding: 25px;
    }
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .section-wrapper {
    .jobs {
      padding: 35px 60px 25px 30px;

      .heading {
        font-size: 32px;
      }
    }
  }
}