p,
h2,
button {
  font-family: "Poppins", sans-serif !important;
}
.section-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  .internships {
    // background: #522D80;
    // padding: 25px 60px;
    // text-align: center;
  }
  .jobs {
    // background: #8cd3f6;
    padding: 25px 60px;
    // text-align: center;
    .heading {
      font-weight: 600;
      font-size: 36px;
      line-height: 37px;
      color: #522d80;
      position: relative;
    }
    .heading::after {
      content: "";
      width: 53px;
      height: 2px;
      background-color: #522d80;
      position: absolute;
      bottom: -10px;
      left: 0;
      //   transform: translate(-50%, 10px);
    }
    .description {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      //   text-align: center;
      color: #555555;
      margin-top: 20px;
    }
    .check-item {
      padding: 0;
      li {
        list-style: none;
        padding-bottom: 5px;
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: #292929;
          span {
            color: #19a6ec;
            padding-right: 10px;
          }
        }
      }
    }
    .button-section {
      background: #522d80;
      border-radius: 5px;
      padding: 18px 35px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .projects {
    background: #522d80;
    padding: 25px 60px;
    text-align: center;
    .heading {
      font-weight: 600;
      font-size: 36px;
      line-height: 37px;
      color: #ffffff;
      position: relative;
    }
    .heading::after {
      content: "";
      width: 53px;
      height: 2px;
      background-color: #ec8e11;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 10px);
    }
    .description {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
      margin-top: 20px;
    }
    .button-section {
      background: #ec8e11;
      border-radius: 5px;
      padding: 18px 35px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

::ng-deep .p-dialog-content {
  padding: 0 !important;
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .section-wrapper {
    .jobs {
      padding: 25px;
    }
  }
}