<div class="container-fluid p-0">
    <div class="row section-wrapper">
        <div class="col-sm-6 internships">
           <img src="../../../assets/illus-1.svg" alt="">
        </div>
        <div class="col-sm-6 jobs sky-color">
            <h2 class="heading">INTERNSHIP</h2>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul class="check-item">
                <li><a href=""><span class="icon-group-check"></span>Support people in extreme need</a></li>
                <li><a href=""><span class="icon-group-check"></span>Largest global crowdfunding community</a></li>
                <li><a href=""><span class="icon-group-check"></span>Make the world a better place</a></li>
                <li><a href=""><span class="icon-group-check"></span>Share your love for community</a></li>
            </ul>
            <button class="button-section" type="button">Click Here</button>
        </div>
    </div>
</div>