<owl-carousel-o [options]="customOptions" class="owl-slide-cs">
    <ng-template carouselSlide>
        <div class="banner-section">
            <div class="banner-img-area">
                <img src="../../../assets/slider.png" alt="banner">
            </div>
            <div class="banner-text-area">
                <p class="text-1">Student Empowerment</p>
                <h1 class="text-2">Empowering Students for Industry Success</h1>
                <p class="text-3">reating Collaborative Solutions: Fostering Ecosystems of Industry, Academia, and Individuals for Optimal Resource Utilization.</p>
                <div class="buttons-area">
                    <button type="button" class="rate-us">Rate us</button>
                    <a class="know-more" href="#">Know more</a>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="banner-section">
        <div class="banner-img-area">
            <img src="../../../assets/banner1.png" alt="banner">
        </div>
        <div class="banner-text-area">
            <p class="text-1">Student Empowerment</p>
            <h1 class="text-2">Empowering Students for Industry Success</h1>
            <p class="text-3">reating Collaborative Solutions: Fostering Ecosystems of Industry, Academia, and Individuals for Optimal Resource Utilization.</p>
            <div class="buttons-area">
                <button type="button" class="rate-us">Rate us</button>
                <a class="know-more" href="#">Know more</a>
            </div>
        </div>
    </div></ng-template>  
    <ng-template carouselSlide>
        <div class="banner-section">
            <div class="banner-img-area">
                <img src="../../../assets/banner1.png" alt="banner">
            </div>
            <div class="banner-text-area">
                <p class="text-1">Student Empowerment</p>
                <h1 class="text-2">Empowering Students for Industry Success</h1>
                <p class="text-3">reating Collaborative Solutions: Fostering Ecosystems of Industry, Academia, and Individuals for Optimal Resource Utilization.</p>
                <div class="buttons-area">
                    <button type="button" class="rate-us">Rate us</button>
                    <a class="know-more" href="#">Know more</a>
                </div>
            </div>
        </div>
    </ng-template>  
  </owl-carousel-o>