<div class="footer-wrapper">
  <div class="footer-section-top">
    <ul class="nav-footer">
      <li class="logo-section">
        <img
          loading="lazy"
          width="214"
          height="85"
          src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/inncyst-logo-white.png"
          alt="logo"
        />
      </li>
      <li class="menu-item">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/about-us']">About Us</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/jobs']">Jobs</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/']">Post a job</a>
      </li>
    </ul>
  </div>
  <div class="footer-mid-section">
    <div class="left-sec-text">
      <h4>Find your dream job here</h4>
    </div>
    <div class="second-menu">
      <ul>
        <li (click)="whatsappConnect()" class="menu-heading"><a>Support</a></li>
        <li class="menu-items">
          <a>Customer services</a>
        </li>
        <li class="menu-items">
          <a [routerLink]="['/contactus']">Email us</a>
        </li>
        <li class="menu-items"><a href="#">Privacy policy</a></li>
        <li class="menu-items"><a href="#">Terms and conditions</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom-section">
    <p>{{ currentYear }} Allright reserved</p>
  </div>
  <div class="powred-by">
    <a>
      Powered By:-
      <i>Betas</i>
      Technology
    </a>
  </div>
</div>
