.job_details_sec {
    margin-top: 120px;
    .job_details_sec_inner {
        width: 100%;
        max-width: 1297px;
        margin: 0 auto;
        padding-top: 30px;
        .job_details_head {
            display: flex;
            flex-direction: row;
            border-bottom: 0.5px solid #ccc;
            margin-bottom: 20px;
            span {
                margin-right: 30px;
                text-transform: capitalize;
            }
            .job_details_right {
                h2{
                    text-transform: capitalize;
                    color: #19A6EC;
                }
                & > p {
                    margin-bottom: 10px;
                    span {
                        display: inline-block;
                        margin-right: 20px;
                        color: #7b7b7b;
                       
                        i {
                            margin-right: 8px;
                        }
                    }
                    .tags {
                        display: flex;
                        justify-content: flex-start;
                        margin-top: 4px;
                        flex-wrap: wrap;
                        margin-left: 10px;

                        span {
                            background: #F2F2F2;
                            border-radius: 14px;
                            padding: 5px 12px;
                            vertical-align: middle;
                            color: #522D80;
                            font-weight: 700;
                            font-size: 12px;
                            margin-right: 10px;
                        }
                    }
                    &.desc {
                         display: flex;
                         align-items: center;
                         i {
                            margin-right: 8px;
                         }
                    }
                    
                }
            }
        }
        .overview {
            h3 {
                font-size: 18px;
                font-weight: 500;
                color: #000;
                text-transform: capitalize;
            }
        }
        .apply_btn {
            button {
                border-radius: 5px;
                background: #19A6EC;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                padding:10px 20px
            }
        }
    }
}