<app-header></app-header>

<app-loader *ngIf="loading"></app-loader>

<section class="job_details_sec">
  <div class="job_details_sec_inner" *ngFor="let a of singleJobDetails">
    <div class="job_details_head">
      <div class="company-logo">
        <img [src]="a.company.image" alt="company logo" />
      </div>
      <div>
        <h2>{{ a.company.companyName }}</h2>
        <p>
          <span>{{ a.location }}</span>
          <span>{{ a.intranshipType }}</span>
        </p>
        <p>
          <span>Posted {{ calculateDaysAgo(a.createdAt) }} days ago</span>
          <span>{{ a.jobOpening }} applicants</span>
        </p>
      </div>
    </div>
    <ul class="jobType_setup">
      <li>
        <span>Job Type</span>
        {{ a.type }}
      </li>
      <li>
        <span>Job Setup</span>
        {{ a.intranshipType }}
      </li>
      <li>
        <span>Experience Level</span>
        {{ a.experience }} {{ a.experienceTime }}
      </li>
      <li>
        <span>Salary Offer</span>
        {{ a.salary }} / month
      </li>
    </ul>
    <div class="job_para">
      <strong>Job Description :</strong>
      <p [innerHTML]="a.details">

      </p>
    </div>
    <div class="job_para">
      <strong>Responsibilities :</strong>
      <ul *ngFor="let item of a.responsibilities">
        <li [innerHTML]="item">
        
        </li>
      </ul>
    </div>
    <div class="job_para">
      <strong>Requirements :</strong>
      <ul>
        <li>{{ a.education }}</li>
        <li *ngIf="a.coverLetter.availability">
          {{ a.coverLetter.availability }}
        </li>
        <li *ngIf="a.coverLetter.letter">{{ a.coverLetter.letter }}</li>
        <!-- <li>
          <span class="tags">
            <span >{{ b }}</span>
          </span>
        </li> -->
      </ul>
      <strong>Skills :</strong>
      <ul>
        <li *ngFor="let skill of a.skills">{{ skill }}</li>
      </ul>
      <strong>Perks :</strong>
      <ul>
        <li *ngFor="let perk of a.perks">{{ perk }}</li>
      </ul>
    </div>
    <div class="overview">
      <div class="apply_btn">
        <button [disabled]="applied" type="button" (click)="applyJob()">
          Apply Now
        </button>
        <button [routerLink]="['/jobs/posts']" class="back_btn">Back</button>
      </div>
    </div>
    
  </div>
  <!-- </ng-container> -->
</section>
<p-dialog
  (onHide)="closeProfileUpdateForm()"
  [(visible)]="profileUpdate"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <!-- <h2>
      Applying for {{ singleJobDetails[0].details }} -->
    <!-- {{singleJobDetails[0].type}} -->
    <!-- <span>{{ singleJobDetails[0].companyName }}</span> -->
    <!-- </h2> -->
  </ng-template>
  <div>
    <!-- <p-steps
      [model]="items"
      [(activeIndex)]="activeIndex"
      [readonly]="false"
    ></p-steps> -->
  </div>
  <app-upload-resume-step></app-upload-resume-step>
</p-dialog>

<app-footer></app-footer>
