<div class="modal-content">
  <section class="contact_info"  *ngIf="userLoginDetails">
    <h2>Contact Info</h2>
    <div class="contact_img_details">
      <div class="contact_img">
        <span
          ><img
          src="{{
            userLoginDetails.image ? 'userLoginDetails.image' : '../../../assets/no-image.svg'
          }}"
        /></span>
      </div>
      <div class="contact_details">
        <h3>{{ userLoginDetails ?. name }}</h3>
        <span>
          Graphic designer | Web Designer | UI/UX Designer | Web developer
        </span>
        <strong>{{userLoginDetails.location}}</strong>
      </div>
    </div>
    <div class="uploadresume_form" >
      <div class="inputGroup">
        <label>Email</label>
        <input
       
          type="text"
          pInputText
          disabled
          [value]="userLoginDetails.email"
        />
      </div>
      <div class="inputGroup mobile_num">
        <label>Mobile Number</label>
        <input
          type="text"
          placeholder="+91"
          class="smallInput"
          pInputText
          disabled
        />
        <input
          type="text"
          pInputText
          disabled
          [value]="userLoginDetails.phone"
        />
      </div>
      <div class="upload_resume">
        <h3>Resume</h3>
        <div class="uploadField">
          <input
            type="file"
            (change)="onFileSelected($event)"
            size="5000000"
            accept=".pdf, .doc, .docx"
          />
         
        </div>
        <h4> {{fileName}}</h4>
        <button class="upload_btn" (click)="uploadFile()">Upload Resume</button>
        <span class="fileTypes">DOC, DOCX, PDF (5 MB)</span>
      </div>
      <div class="availability">
        <h3>Your availability</h3>
        <span>Confirm your availability</span>
        <div class="inputGroup">
          <div class="p-field-radiobutton">
            <input
              type="radio"
              name="availability"
              id="city1"
              (click)="addavailability()"
            />
            <!-- <p-radioButton
              name="availability"
              value="Chicago"
              [(ngModel)]="availability"
              inputId="yes"
              (click)="addavailability()"
            ></p-radioButton> -->
            <label for="city1">
              Yes, I am available for 3 months starting immediately for a work
              from home internship
            </label>
          </div>
          <div class="p-field-radiobutton">
            <input
              type="radio"
              id="city2"
              (click)="addTextArea()"
              name="availability"
            />
            <!-- <p-radioButton
              name="availability_message"
              value="Chicago2"
              [(ngModel)]="availability_message"
              inputId="no"
              (click)="addTextArea()"
            ></p-radioButton> -->
            <label for="city2">No (Please specify your availability)</label>
          </div>
          <div>
            <textarea type="text" rows="5" cols="50" *ngIf="inputFieldEnable" [(ngModel)]="availability_messageValue"></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="dialog-footer">
  <a class="back_link" (click)="back()">Back</a>
  <!-- {{resumeUploadSucess}} -->
  <button (click)="submitApplication()" [disabled]="!resumeUploadSucess">Submit Application</button>
</div>
