<section class="banner_card_slider">
  <h2>Hi,</h2>
  <p>
    Let's help you land your dream career
    <br />
    Trending on our website
  </p>
  <ul>
    <li class="internship">
      <div class="card_text">
        <label>Internship</label>
        <span>Be the face of our website</span>
        <button (click)="explore()">Explore</button>
      </div>
      <div>
        <img
          src="../../../assets/internship-img.png"
          width="187"
          height="189"
        />
      </div>
    </li>
    <li class="jobship">
      <div class="card_text">
        <label>Job</label>
        <span>Be the face of our website</span>
        <button>Explore</button>
      </div>
      <div>
        <img src="../../../assets/job-img.png" width="211" height="205" />
      </div>
    </li>
    <li class="projects">
      <div class="card_text">
        <label>Projects</label>
        <span>Be the face of our website</span>
        <button>Explore</button>
      </div>
      <div>
        <img src="../../../assets/projects-img.png" width="204" height="223" />
      </div>
    </li>
  </ul>
</section>
<section class="bottom-inner-content">
  <section class="jobs">
    <h3>Jobs</h3>
    <span>
      Apply for full-time & part-time in-office, work-from-home & hybrid jobs!
    </span>
    <ul>
      <li>
        <h3>Full-time</h3>
        <img src="../../../assets/full-time.png" width="156" height="140" />
      </li>
      <li>
        <h3>In-office</h3>
        <img src="../../../assets/in-office.png" width="209" height="203" />
      </li>
      <li>
        <h3>Part-time</h3>
        <img src="../../../assets/part-time.png" width="183" height="153" />
      </li>
    </ul>
  </section>
  <section class="internship">
    <h3>Internship</h3>
    <span>
      Apply for full-time & part-time in-office, work-from-home & hybrid jobs!
    </span>
    <ul>
      <li>
        <h3>Paid</h3>
        <img src="../../../assets/paid-internship.png" width="234" height="160" />
      </li>
      <li>
        <h3>Certificate</h3>
        <img src="../../../assets/certificate.png" width="210" height="170" />
      </li>
      <li>
        <h3>Part-time</h3>
        <img src="../../../assets/part-time.png" width="183" height="153" />
      </li>
    </ul>
  </section>
</section>
