<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">
    <img
      src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/inncyst-logo-white.png "
      width="200px"
      height="auto"
      alt=""
    />
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about-us']">About us</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Product/Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/']">Internship</a>
          <a class="dropdown-item" [routerLink]="['/']">Job</a>
          <a class="dropdown-item" [routerLink]="['/coming-soon']">Projects</a>
          <a class="dropdown-item" [routerLink]="['/coming-soon']">
            Laboratory Services
          </a>
          <a class="dropdown-item" [routerLink]="['/coming-soon']">
            Manufacturing Facilities
          </a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" [routerLink]="['/coming-soon']">Mentors</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contactus']">Contact US</a>
      </li>
    </ul>
  </div>
</nav>
