<div class="background-video-container">
  <video autoplay muted loop class="background-video">
    <source src="../../../assets//lab-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="content is-sup-content">
    <div *ngIf="!labReg && !labUserReg">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-12 col-sm-12">
          <div class="descriprion">
            <h4>
              Lab
              <span class="highlight-text">Pool</span>
              in a
              <span class="highlight-text">Nut</span>
              Shell
            </h4>
            <p>
              Bringing state of art laboratories/manufacturing facilities under
              one platform thereby making Innovation easier faster and cheaper
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 col-sm-12">
          <div class="options-section">
            <button type="button" (click)="openRegForm('lab-user')">
              <i class="fas fa-users"></i>
              <p>
                Register as a
                <span class="highlight-text">User</span>
              </p>
            </button>
            <button type="button" (click)="openRegForm('lab')">
              <i class="fas fa-flask"></i>
              <p>
                Register as a
                <span class="highlight-text">Lab</span>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="grafic-form">
      <div class="lab-user-form" *ngIf="labUserReg">
        <!-- <form
          [formGroup]="labUserRegistrationForm"
          (ngSubmit)="onLabUserSubmit()"
        >
          <h2>
            Registration for
            <span class="highlight-text">USER</span>
          </h2>
          <div class="form-input">
            <label for="name">Name*</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              placeholder="enter name..."
            />
            <div
              *ngIf="
                labUserRegistrationForm.get('name')?.invalid &&
                labUserRegistrationForm.get('name')?.touched
              "
            >
              <span class="error">
                Name is required
              </span>
            </div>
          </div>

          <div class="form-input">
            <label for="organisation">Organisation</label>
            <input
              id="organisation"
              type="text"
              formControlName="organisation"
              placeholder="enter org....."
            />
          </div>

          <div class="form-input">
            <label for="location">Location *</label>
            <input
              id="location"
              type="text"
              formControlName="location"
              placeholder="enter location...."
            />
            <div
              *ngIf="
                labUserRegistrationForm.get('location')?.invalid &&
                labUserRegistrationForm.get('location')?.touched
              "
            >
              <span class="error">
                Location is required
              </span>
            </div>
          </div>

          <div class="form-input">
            <label for="email">Email Id *</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="enter email...."
            />
            <div
              *ngIf="
                labUserRegistrationForm.get('email')?.invalid &&
                labUserRegistrationForm.get('email')?.touched
              "
            >
              <div
                *ngIf="labUserRegistrationForm.get('email')?.errors?.['required']"
              >
                <span class="error">
                  Email is required
                </span>
              </div>
              <div
                *ngIf="labUserRegistrationForm.get('email')?.errors?.['email']"
              >
                <span class="error">
                  Invalid email format
                </span>
              </div>
            </div>
          </div>

          <div class="form-input" formArrayName="phoneNumbers">
            <label>Phone Numbers</label>
            <div class="action-btns">
              <div *ngFor="let phone of phoneNumbers.controls; let i = index">
                <input
                  [formControlName]="i"
                  type="number"
                  placeholder="enter phone number..."
                />
              </div>
              <button
                class="addnumber"
                type="button"
                (click)="addPhoneNumber()"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="form-input">
            <re-captcha
              siteKey="6LeRui4qAAAAAHYrB524A-8wIxqLXuqGbOP1fTtn"
              (resolved)="addTokenLog('Normal mode resolved', $event)"
            ></re-captcha>
            <div
              *ngIf="
                labUserRegistrationForm.get('recaptcha')?.invalid &&
                labUserRegistrationForm.get('recaptcha')?.touched
              "
            >
              CAPTCHA is required
            </div>
          </div>
          <button
            class="user-lab-sumbit-btn"
            type="submit"
            [disabled]="labUserRegistrationForm.invalid"
          >
            Submit
          </button>
        </form> -->
      </div>
    </div>
    <div class="lab-form lab-user-form" *ngIf="labReg">
      <div class="form-container">
        <!-- Step 1: Lab Information -->
        <!-- Step 1 -->
        <div *ngIf="currentStep === 1" class="step1 form-step">
          <form [formGroup]="getStepFormGroup(1)">
            <div class="form-input">
              <label for="nameLab">
                Name of the Lab
                <span class="text-danger">*</span>
              </label>
              <input type="text" id="nameLab" formControlName="nameLab" />
              <div
                *ngIf="
                  getStepFormGroup(1).get('nameLab')?.invalid &&
                  getStepFormGroup(1).get('nameLab')?.touched
                "
              >
                <span class="error">Name of the Lab is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="labType">Lab Type</label>
              <select id="labType" formControlName="labType">
                <option value="">Select Lab Type</option>
                <option value="academic">Academic and Research Labs</option>
                <option value="corporate">Corporate Labs</option>
                <option value="accredited">Accredited Labs</option>
              </select>
              <div
                *ngIf="
                  getStepFormGroup(1).get('labType')?.invalid &&
                  getStepFormGroup(1).get('labType')?.touched
                "
              >
                <span class="error">Lab Type is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="affiliation">
                Affiliation
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="affiliation"
                formControlName="affiliation"
              />
              <div
                *ngIf="
                  getStepFormGroup(1).get('affiliation')?.invalid &&
                  getStepFormGroup(1).get('affiliation')?.touched
                "
              >
                <span class="error">Affiliation is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="logo">Upload Logo [Optional]</label>
              <input
                type="file"
                id="logo"
                (change)="onFileSelected($event, 'logo')"
              />
            </div>
            <button type="button" (click)="saveStep(1)">Save</button>
          </form>
        </div>

        <!-- Step 2 -->
        <div *ngIf="currentStep === 2" class="step2 form-step">
          <form [formGroup]="getStepFormGroup(2)">
            <div class="form-input">
              <label for="desclab">
                Brief description about the Lab
                <span class="text-danger">*</span>
              </label>
              <input type="text" id="desclab" formControlName="desclab" />
              <div
                *ngIf="
                  getStepFormGroup(2).get('desclab')?.invalid &&
                  getStepFormGroup(2).get('desclab')?.touched
                "
              >
                <span class="error">Description of the Lab is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="location">Area / Locality</label>
              <input id="location" type="text" formControlName="location" />
            </div>
            <div class="form-input">
              <label for="city">City</label>
              <input id="city" type="text" formControlName="city" />
              <div
                *ngIf="
                  getStepFormGroup(2).get('city')?.invalid &&
                  getStepFormGroup(2).get('city')?.touched
                "
              >
                <span class="error">city is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="state">State</label>
              <input id="state" type="text" formControlName="state" />
              <div
                *ngIf="
                  getStepFormGroup(2).get('state')?.invalid &&
                  getStepFormGroup(2).get('state')?.touched
                "
              >
                <span class="error">zipcode is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="country">
                Country
                <span class="text-danger">*</span>
              </label>
              <input id="country" type="text" formControlName="country" />
              <div
                *ngIf="
                  getStepFormGroup(2).get('country')?.invalid &&
                  getStepFormGroup(2).get('country')?.touched
                "
              >
                <span class="error">Country is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="zipcode">
                Zip Code
                <span class="text-danger">*</span>
              </label>
              <input id="zipcode" type="text" formControlName="zipcode" />
              <div
                *ngIf="
                  getStepFormGroup(2).get('zipcode')?.invalid &&
                  getStepFormGroup(2).get('zipcode')?.touched
                "
              >
                <span class="error">zipcode is required</span>
              </div>
            </div>
            <button type="button" (click)="saveStep(2)">Save</button>
            <button type="button" (click)="previousStep()">Previous</button>
          </form>
        </div>

        <!-- Step 3 -->
        <div *ngIf="currentStep === 3" class="step3 form-step">
          <form [formGroup]="getStepFormGroup(3)">
            <div class="form-input">
              <label for="nameContactPerson">
                Name of Contact Person
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="nameContactPerson"
                formControlName="nameContactPerson"
              />
              <div
                *ngIf="
                  getStepFormGroup(3).get('nameContactPerson')?.invalid &&
                  getStepFormGroup(3).get('nameContactPerson')?.touched
                "
              >
                <span class="error">Name of Contact Person is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="url">Website URL</label>
              <input type="url" id="url" formControlName="url" />
            </div>
            <div class="form-input">
              <label for="email">
                Email Id
                <span class="text-danger">*</span>
              </label>
              <input id="email" type="email" formControlName="email" />
              <div
                *ngIf="
                  getStepFormGroup(3).get('email')?.invalid &&
                  getStepFormGroup(3).get('email')?.touched
                "
              >
                <div
                  *ngIf="getStepFormGroup(3).get('email')?.errors?.['required']"
                >
                  <span class="error">Email is required</span>
                </div>
                <div
                  *ngIf="getStepFormGroup(3).get('email')?.errors?.['email']"
                >
                  <span class="error">Invalid email format</span>
                </div>
              </div>
            </div>
            <div class="form-input" formArrayName="phoneNumbers">
              <label>Phone Numbers</label>
              <div *ngFor="let phone of phoneNumbers.controls; let i = index">
                <input
                  [formControlName]="i"
                  type="number"
                  placeholder="enter phone number..."
                />
              </div>
              <button type="button" (click)="addPhoneNumber()">
                Add Phone Number
              </button>
            </div>
            <button type="button" (click)="saveStep(3)">Save</button>
            <button type="button" (click)="previousStep()">Previous</button>
          </form>
        </div>

        <!-- Step 4 -->
        <div *ngIf="currentStep === 4" class="step4 form-step">
          <form [formGroup]="getStepFormGroup(4)">
            <div class="form-input">
              <label for="authlab">
                Is the Lab Accredited by Competent Authority
                <span class="text-danger">*</span>
              </label>
              <select id="authlab" formControlName="authlab">
                <option value="">Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <div
                *ngIf="
                  getStepFormGroup(4).get('authlab')?.invalid &&
                  getStepFormGroup(4).get('authlab')?.touched
                "
              >
                <span class="error">This field is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="accreditationValidUpto">
                Accreditation Valid Upto
              </label>
              <input
                type="date"
                id="accreditationValidUpto"
                formControlName="accreditationValidUpto"
              />
              <div
                *ngIf="
                  getStepFormGroup(4).get('accreditationValidUpto')?.invalid &&
                  getStepFormGroup(4).get('accreditationValidUpto')?.touched
                "
              >
                <span class="error">This field is required</span>
              </div>
            </div>
            <div class="form-input">
              <label for="accreditationCertificate">
                Upload Accreditation Certificate
              </label>
              <input
                type="file"
                id="accreditationCertificate"
                (change)="onFileSelected($event, 'accreditationCertificate')"
              />
            </div>
            <div class="form-input">
              <re-captcha
                siteKey="6LeRui4qAAAAAHYrB524A-8wIxqLXuqGbOP1fTtn"
                (resolved)="addTokenLog('Normal mode resolved', $event)"
              ></re-captcha>
              <div
                *ngIf="
                  getStepFormGroup(4).get('recaptcha')?.invalid &&
                  getStepFormGroup(4).get('recaptcha')?.touched
                "
              >
                CAPTCHA is required
              </div>
            </div>
            <button type="button" (click)="submitForm()">Submit</button>
            <button type="button" (click)="previousStep()">Previous</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
