<div class="background-video-container">
  <video autoplay muted loop class="background-video">
    <source src="../../../assets//lab-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="content">
    <!-- Your content goes here -->
    <div *ngIf="!labReg && !labUserReg">
      <div class="descriprion">
        <h4>Lab Pool in a Nut Shell</h4>
        <p>
          Bringing state of art laboratories/manufacturing facilities under one
          platform thereby making Innovation easier faster and cheaper
        </p>
      </div>
      <div class="options-section">
        <button type="button" (click)="openRegForm('lab-user')">
          Register as a User
        </button>
        <button type="button" (click)="openRegForm('lab')">
          Register as a Lab
        </button>
      </div>
    </div>
    <div class="lab-user-form" *ngIf="labUserReg"></div>
    <div class="lab-form" *ngIf="labReg"></div>
  </div>
</div>
