.background-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 30px 80px;
    background: rgba(0, 0, 0, 0.5294117647);
    -webkit-backdrop-filter: blur(13px) brightness(0.5);
    backdrop-filter: blur(13px) brightness(0.5);
    border-radius: 15px;
    max-width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 2px solid #009fc3;
    box-shadow: 2px 2px 13px #522d80;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 450px;
}

.is-sup-content {
    background-image: url(../../../assets/bg/form-bg-abtract.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.descriprion {
    width: 100%;
    text-align: center;
    text-align: -webkit-left;
}

.is-sup-content .descriprion h4 {
    font-size: 4rem;
    color: #009fc3;
    font-weight: 500;
    text-transform: uppercase;
}

.is-sup-content .row {
    align-items: center;
}

.is-sup-content .descriprion h4 span {
    filter: drop-shadow(2px 15px 13px #009fc3);
    font-weight: 700;
    color: #1bd5ff;
}

.highlight-text {
    filter: drop-shadow(2px 15px 13px #009fc3);
    font-weight: 700;
    color: #1bd5ff;
}

.lab-user-form {
    height: 600px;
    overflow: auto;
    scroll-behavior: smooth;
    padding-right: 30px;
}

.lab-user-form h2 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 45px;
}

.lab-user-form::-webkit-scrollbar {
    width: 7px;
}

.lab-user-form::-webkit-scrollbar-thumb {
    background: #ffffff28;
    border-radius: 10px;
}

.lab-user-form::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

// .lab-user-form::-webkit-scrollbar {
//   display: none; /* For Chrome, Safari, and Opera */
// }


.descriprion p {
    font-size: 1rem;
    font-weight: 100;
    margin: 38px 0 25px;
    line-height: 2;
}

.options-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.options-section button {
    width: 170px;
    height: 170px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 1rem;
    font-weight: 700;
    background: #003060;
    border: 2px solid #1bd5ff;
    transition: all 0.2s ease-in-out;
}

.options-section button i {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.options-section button p {
    color: #2fe4ff;
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.options-section button p span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.options-section button:hover {
    transform: scale(0.9);
}

.options-section button:hover i {
    transform: scale(1.08);
    filter: drop-shadow(2px -2px 12px #fff);
}

// .options-section button:nth-child(1):before {
//     content: '';
//     width: 100%;
//     height: 3px;
//     background: #fff;
//     position: absolute;
//     bottom: 0;
// }

// .form-controls label {
//     font-size: 16px;
//     font-weight: 400;
// }

// .form-controls select,
// .form-controls input {
//     font-size: 16px;
// }

/* Basic Styling */

/* Form Layout */
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500 !important;
}

.lab-form {
    max-width: 600px;
    text-align: left;
}

/* Form Controls */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="file"] {
    border: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-msg {
    margin-top: 5px;
    color: #d9534f;
    font-size: 14px;
}

input:focus {
    box-shadow: none;
}

.form-input {
    margin: 10px 0 31px;
    position: relative;
    height: 60px;
}

.form-input label {
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.form-input input {
    background: transparent;
    border: 1px solid #83bbd4;
    border-radius: 7px;
    height: 37px;
    width: 100%;
    color: #feffff;
    font-size: 0.8rem;
    padding: 2px 16px;
}

.form-input input::placeholder {
    color: #1bd5ff6c;
}

.form-input span.error {
    position: absolute;
    right: 0;
    bottom: -27px;
    font-size: 0.8rem;
    margin: 5px 0;
    text-align: right;
    color: #ff4949;
}

.form-input .action-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}

.form-input .action-btns input {
    width: 250px;
}

.form-input .action-btns button {
    padding: 10px 13px;
    color: #fff;
    border-radius: 7px;
}

.form-input .action-btns button.removenumber {
    background: red;
}

.form-input .addnumber {
    font-size: 0.8rem;
    padding: 2px 10px;
    color: #fff;
    border-radius: 7px;
    background: #066fd8;
}

// .user-lab-form-row {
//     width: 100%;
// }

/* Phone Group Styling */
.phone-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.phone-group select,
.phone-group input {
    flex: 1;
    margin-right: 10px;
}

.remove-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.remove-btn:hover {
    background-color: #c9302c;
}

/* Add Button Styling */
.add-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.add-btn:hover {
    background-color: #4cae4c;
}

/* Submit Button Styling */
.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-btn:disabled {
    background-color: #aaa;
}

.submit-btn:not(:disabled):hover {
    background-color: #0056b3;
}

.user-lab-sumbit-btn {
    font-size: 1rem;
    padding: 10px 15px;
    background: #3fa3ff;
    width: 100%;
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

div#rc-anchor-container {
    background: #d6e7f9;
    color: #000;
    border: 0 !important;
    border-radius: 12px;
}

.user-lab-sumbit-btn:hover {
    filter: drop-shadow(2px 1px 7px #3fa3ff);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .phone-group {
        flex-direction: column;
    }

    .phone-group select,
    .phone-group input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}