<section class="internship_sec">
  <div class="internship_sec_inner">
  <h2>{{ appliedJobDetails.intranshipDetails.intranshipType }}</h2>
  <div class="location_info">
    <strong><i class="pi pi-building"></i> {{appliedJobDetails.intranshipDetails.companyName }}</strong>
    <strong><i class="pi pi-map-marker"></i>{{ appliedJobDetails.intranshipDetails.location }}</strong>
    <strong><i class="pi pi-calendar"></i>{{ appliedJobDetails.intranshipDetails.createdAt | date }}</strong>
  </div>
  <div class="job_profile_info">
    <span>₹ {{ appliedJobDetails.intranshipDetails.salary }}</span>
    <span><i class="pi pi-bookmark-fill"></i> {{ appliedJobDetails.intranshipDetails.hasApplied }}</span>
    <span><i class="pi pi-briefcase"></i> {{ appliedJobDetails.intranshipDetails.jobType }}</span>
  </div>
  <!-- <p>
    intranshipName:-
    {{ appliedJobDetails.intranshipDetails.intranshipName }}
  </p>
  <p>status:-- {{ appliedJobDetails.intranshipDetails.status }}</p> -->
  <h3><span><i class="pi pi-info-circle"></i>Benefits and Perks</span></h3>
  <div class="skillset" *ngIf="appliedJobDetails.intranshipDetails.perks.length">
    <p *ngFor="let a of appliedJobDetails.intranshipDetails.perks">
      {{ a }}
    </p>
  </div>
  <h3><span><i class="pi pi-wrench"></i>Skills</span></h3>
  <div class="skillset" *ngIf="appliedJobDetails.intranshipDetails.skills">
    <span *ngFor="let a of appliedJobDetails.intranshipDetails.skills">
      <i class="pi pi-check-square"></i> {{ a }}
    </span>
  </div>

  <img [src]="appliedJobDetails.intranshipDetails.image" />
  <h3><span><i class="pi pi-info-circle"></i>Details</span></h3>
  <p>{{ appliedJobDetails.intranshipDetails.information }}</p>


<button (click)="backToJobDetails()">Back</button>
</div>
</section>
