<div class="post_job_form_sec">
    <h2>Post internship/job</h2>
    <div class="post_job_form">
        <h3>Opportunity type</h3>
        <div class="form_group">           
            <div class="opp_type">
                <div class="field-radiobutton">
                    <p-radioButton name="internship" value="Internship" inputId="internship"></p-radioButton>
                    <label for="internship">Internship</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="job" value="Job" inputId="job"></p-radioButton>
                    <label for="job">Job</label>
                </div>
            </div>
        </div>
        <h3>Internship details</h3>
        <div class="form_group">
            <div class="form_field_group">
                <label>Internship details</label>
                <input type="text" placeholder="e.g Android app development" pInputText />
            </div>
            <div class="form_field_group">
                <label>Skills required <span>(Optional)</span></label>
                <input type="text" placeholder="e.g Java" pInputText />
            </div>
            <div class="form_field_group">
                <label>Internship type</label>
                <div class="field-radiobutton">
                    <p-radioButton name="in-office" value="In-office" inputId="in-office"></p-radioButton>
                    <label for="in-office">In-office</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="hybrid" value="Hybrid" inputId="hybrid"></p-radioButton>
                    <label for="hybrid">Hybrid</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="remote" value="Remote" inputId="remote"></p-radioButton>
                    <label for="remote">Remote</label>
                </div>
            </div>
            <div class="form_field_group">
                <label>Number of openings</label>
                <input type="text" placeholder="e.g 6" pInputText />
            </div>
            <div class="form_field_group">
                <label>Internship start date</label>
                <div class="field-radiobutton">
                    <p-radioButton name="immediate" value="Immediate" inputId="immediate"></p-radioButton>
                    <label for="immediate">Immediately (within next 30 days)</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="later" value="Later" inputId="later"></p-radioButton>
                    <label for="later">Later</label>
                </div>
            </div>
        </div>
    </div>
</div>
