<form class="myFormSec" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="formRight">

        <ul type="1">
            <li>
                <label>Title of the project</label>
                <input type="text" #text formControlName="title" />
            </li>
            <li>
                <label>Area</label>
                <input type="text" #text formControlName="area" />
            </li>
            <li>
                <label>Organisation</label>
                <input type="text" #text formControlName="organisation" />
            </li>
            <li>
                <label>Keyword</label>
                <input type="text" #text formControlName="keyword" />
            </li>
            <li>
                <label>Description</label>
                <p-editor [style]="{ height: '320px' }" formControlName="description">
                    <ng-template pTemplate="header">
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                    </ng-template>
                </p-editor>
            </li>
            <li>
                <label>Project Status</label>
                <div class="">
                    <p-dropdown placeholder="project status" optionLabel="name" (onChange)="selectItemPortfolio($event)"
                        [options]="portfolioStatusOption"></p-dropdown>
                </div>
            </li>
            <li>
                <label>Publication / Patent</label>
                <input type="text" #text formControlName="patent" />
            </li>
            <!-- <li>
                <label>Upload Image / PDF / Video link of your project</label>
                <input type="text" #text formControlName="upload" />
            </li> -->
            <li>
                <div class="youtube-url position-relative">
                    <label>Add pdf</label>
                    <input type="file" name="pdfFile" #fileInput id="pdfInput"      formControlName="pdf"
                        (change)="pdfSelected($event)" accept=".pdf" />
                </div>
            </li>
            <li>
                <div class="youtube-url">
                    <label>Upload Image...</label>


                    <div>
                        <input type="file" formControlName="image" accept="image/*" (change)="onImageSelected($event)"
                            id="imageInput" />
                    </div>
                </div>
            </li>
            <li>
                <div class="youtube-url">
                    <div>
                        <label>Add URL</label>
                        <input type="url" formControlName="url" (change)="urlChange($event)"
                            placeholder="Paste URL here .. " />
                    </div>
                </div>
            </li>
            <li>
                <div class="youtube-url">
                    <div>
                        <label>Add Youtube url</label>
                        <input type="url" formControlName="youtubeUrl" (change)="youtubeUrlChange($event)"
                            placeholder="Paste your link here .. " />
                    </div>
                    </div>
            </li>
        </ul>

        <button type="submit">Submit</button>
    </div>

</form>