.add_btn {
    background: #003060;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 16px;
    padding: 5px 30px;
    line-height: 35px;
    margin-bottom: 20px;
    position: absolute;
    left: 45%;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 7px;

    i {
        display: inline-block;
        vertical-align: middle;
    }
}
.formSection {
    width: 50%;
    border: 1px solid #e5e6e7;
    background: #fff;
    padding: 45px 15px 15px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    box-shadow: 14px 16px 20px -7px #00001114;

    .remove_btn {
        float: right;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        i {
            font-size: 20px;
        }
    }
    ul {
        padding-left: 0;
        li {
            list-style: none;
            border-radius: 4px;
            padding: 10px;

            label {
                display: block;
                font-size: 0.85rem;
                font-weight: 500;
                margin-bottom: 5px;
                text-transform: capitalize;
            }

            input {
                padding: 5px 10px;
                border: none;
                width: 100%;
                border: 1px solid #ccc9c933;
                font-size: 13px;
                height: 37px;
                border-radius: 7px;

                &:focus {
                    outline: none;
                }
            }
            ::ng-deep .p-calendar {

                width: 100%;

                ::ng-deep .p-datepicker {

                    transform: scale(0.75) translate(170px, 130px);
                }
                
                input {
                    padding: 5px 10px;
                    border: none;
                    width: 100%;
                    border: 1px solid #ccc9c933;
                    font-size: 13px;
                    height: 37px;
                    border-radius: 7px;
                }
                
            }

            ::ng-deep .p-dropdown {
                width: 100%;
                text-transform: capitalize;
            }
            &>button {
                background: #522D80;
                border-radius: 5px;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                padding: 10px 20px;
                display: block;
                width: 100%;
            }
        }
    }
}