@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a882tn');
  src:  url('fonts/icomoon.eot?a882tn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a882tn') format('truetype'),
    url('fonts/icomoon.woff?a882tn') format('woff'),
    url('fonts/icomoon.svg?a882tn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group-check:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-calender:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e903";
}
.icon-heart-1:before {
  content: "\e904";
}
.icon-hearts:before {
  content: "\e905";
}
.icon-left-arrow:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-heart-11:before {
  content: "\e90b";
}
