<nav class="navbar navbar-expand-lg">
  <!-- Navbar content -->
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand" href="#">
      <img src="https://inncyst-staging-bucket.s3.ap-south-1.amazonaws.com/inncyst-logo1.png" width="200px" height="80px" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="customHeader && !logoutSuccess " class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="javascript:void(0)" (click)="optionClick('home')" class="nav-link" aria-current="page">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="optionClick('about-us')" href="javascript:void(0)">
            About Us
          </a>
        </li>
        <!-- <li class="nav-item dropdown-itemss" >
          <p-splitButton
            label=" Product/Services"
            [model]="dropdownitems"
            (click)="product()"
          ></p-splitButton>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="product()" href="javascript:void(0)">
            Product/Services
            <!-- <i class="pi pi-chevron-down"></i> -->
            <i class="fas fa-caret-down"></i>
          </a>
          <ul>
            <li (click)="productOrServicedropdown('Internship')">
              <a class="nav-link">
                <i class="pi pi-briefcase"></i>
                <span>Internship</span>
              </a>
            </li>
            <li (click)="productOrServicedropdown('Industry')">
              <a class="nav-link">
                <i class="pi pi-briefcase"></i>
                <span>Jobs</span>
              </a>
            </li>
            <li (click)="productOrServicedropdown('')">
              <a class="nav-link">
                <i class="pi pi-file"></i>
                <span>Projects</span>
              </a>
            </li>
            <li (click)="productOrServicedropdown('')">
              <a class="nav-link">
                <i class="pi pi-cog"></i>
                <span>Laboratory Services</span>
              </a>
            </li>
            <li (click)="productOrServicedropdown('')">
              <a class="nav-link">
                <i class="pi pi-wrench"></i>
                <span>Manufacturing Facilities</span>
              </a>
            </li>
            <li (click)="productOrServicedropdown('')">
              <a class="nav-link">
                <i class="pi pi-user"></i>
                <span>Mentors</span>
              </a>
            </li>
            <!-- <li>
              <a class="nav-link">
                <i class="pi pi-wrench"></i>
                <span> Project Enabler</span>
                <i class="pi pi-chevron-right"></i>
              </a>
              <ul>
                <li (click)="productOrServicedropdown('')">
                  <a class="nav-link">
                    <i class="pi pi-user"></i>
                    <span>Mentors</span>
                  </a>
                </li>
                <li (click)="productOrServicedropdown('')">
                  <a class="nav-link">
                    <i class="pi pi-cog"></i>
                    <span>Laboratory Services</span>
                  </a>
                </li>
                <li (click)="productOrServicedropdown('')">
                  <a class="nav-link">
                    <i class="pi pi-wrench"></i>
                    <span>Manufacturing Facilities</span>
                  </a>
                </li>
              </ul>
            </li> -->
          </ul>
        </li>
        <li class="nav-item" (click)="optionClick('contactus')">
          <a class="nav-link">
            Contact us
          </a>
        </li>
        <!-- <li class="nav-item" (click)="optionClick('jobs')">
          <a class="nav-link">
            Jobs
          </a>
        </li> -->
      </ul>
    </div>
    <div *ngIf="!customHeader  && !logoutSuccess" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/jobs/posts']">
            Jobs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="optionClick('My Jobs')" href="javascript:void(0)">
            My Jobs
          </a>
        </li>
      </ul>
    </div>
    <div class="users-option" *ngIf="!logoutSuccess">
      <div *ngIf="!customHeader && !logoutSuccess" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/jobs/posts']">
              Jobs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="optionClick('My Jobs')" href="javascript:void(0)">
              My Jobs
            </a>
          </li>
        </ul>
      </div>
    </div>
      <div class="users-option" *ngIf="!logoutSuccess">
        <div class="register" [routerLink]="['/registeration']" (click)="register()">
          <p-button label="Register">
            <i class="pi pi-user-plus"></i>
          </p-button>
        </div>

        <div class="login" [routerLink]="['/Login']" (click)="register()">
          <p-button label="Login">
            <i class="pi pi-sign-in"></i>
          </p-button>
        </div>
      </div>

      <div class="profile-container" *ngIf="logoutSuccess">
        <div class="img-wrapper">
          <img [src]="profileImage" alt="Profile Image" class="profile-image" />
        </div>

        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/my-profile']" [queryParams]="{ status: 0 }">
            Profile
          </button>
          <button mat-menu-item [routerLink]="['/jobs/my-jobs']">
            Job Applyed
          </button>
          <button mat-menu-item [routerLink]="['/change-password']">
            Change Password
          </button>
          <button mat-menu-item (click)="logOutUser()">Logout</button>
        </mat-menu>
      </div>
    </div>
   
</nav>

<p-dialog [(visible)]="loginflow" [blockScroll]="false" [modal]="true" [draggable]="false" [style]="{ width: '60vw' }"
  (onHide)="onClosePopup('login')" (click)="cancel()">
  <app-login (openRegisterFlow)="openRegisterFlow($event)"></app-login>
</p-dialog>

<app-sign-up-questions [sidebarEnable]="sidebarEnable" *ngIf="isSignup"
  (quistionSubmit)="quistionSubmit($event)"></app-sign-up-questions>

<!-- </div> -->

<!-- {{ isOtpPage }} -->
<!-- Otp page -->
<!-- <app-registration-otp
  (OtpModal)="OtpModal($event)"
  *ngIf="isOtpPage"
  [isOtpPage]="isOtpPage"
></app-registration-otp> -->
<!-- Otp page -->
<div class="progress-bar" *ngIf="progressBar">
  <p-progressBar mode="indeterminate"></p-progressBar>
</div>