<section class="internship_sec">
    <section class="left_aside_part"></section>
    <section class="right_details_part">
        <div class="right_details_head">
            <h2>UI/UX internship <span>Hubspot</span></h2>
        </div>
        <div class="overview">
            <h2>Internship Overview</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h2>Key responsibilities:</h2>
            <ul>
                <li>1. Designing, manufacturing, and installing components that fulfill requirements</li>
                <li>2. Creating plans and designs using CAD technology</li>
                <li>3. Learning quickly and working independently with minimal supervision</li>
            </ul>
            <h2>Skill(s) required</h2>
            <div class="tags">
                <span>Ui Designer</span>
                <span>Figma</span>
                <span>Landing Page</span>
            </div>
        </div>
    </section>
</section>