<app-header></app-header>
<section class="internship_sec">
  <div class="top_filter_sec">
    <div class="sorting">
      <p-dropdown
        [options]="jobTypeSort"
        [(ngModel)]="selectedJobType"
        optionLabel="name"
        (onChange)="selectedJobTypeDropdown($event)"
        class="job_type"
      ></p-dropdown>

      <p-dropdown
        [options]="Sort"
        [(ngModel)]="sorting"
        optionLabel="name"
        (onChange)="sortDropdown($event)"
        class="sort_by"
      ></p-dropdown>

      <p-dropdown
        [options]="typeSort"
        [(ngModel)]="selectedType"
        optionLabel="name"
        (onChange)="selectedTypeDropdown($event)"
        class="filters"
      ></p-dropdown>

      <input
        type="text"
        [(ngModel)]="location"
        placeholder="Please Enter Location"
      />

      <button (click)="sortLocation()"><i class="pi pi-search"></i></button>
      <button (click)="resetUrl()"><i class="pi pi-undo"></i></button>
      <div class="slide_range">
        <span>please Select Salary Range</span>
        <input
          type="text"
          pInputText
          [(ngModel)]="selectedRange"
          class="w-full"
        />
        <p-slider
          [(ngModel)]="selectedRange"
          [min]="5000"
          [max]="30000"
          [range]="true"
          (onSlideEnd)="onRangeChange($event)"
        ></p-slider>
      </div>
    </div>
  </div>
  <section class="internship_sec_inner">
    <section class="left_aside_part">
      <app-loader *ngIf="leftSideListLoadding"></app-loader>
      <div class="company_lists">
        <div
          class="search-results-container"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="250"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
        >
          <ul>
            
            <li
              *ngFor="let a of AllJobDetails; let i = index"
              (click)="jobDetails(a._id, i)"
              [ngClass]="{ is_active: selectedJob == i }"
            >
              <div class="company_details_head">
                <div class="comapny_details">
                  <span>
                    <img
                    [src]="a.company?.image?a.company?.image:'../../../assets/no-image.svg'"
                      width="90"
                      height="48"
                      loading="lazy"
                    />
                  </span>
                  <h2>
                    {{a.company?.companyName}} 
                    <span class="posted_time"
                      >Posted {{a.createdAt}} days ago</span
                    >
                   <button style="background-color: RED;" (click)="detailsPage(a._id)">Details</button>
                  </h2>
                </div>

                <h2>{{ a.details }}</h2>
                <div class="tags">
                 
                  <span *ngIf="a.experience">experience :- {{a.experience}} {{a.experienceTime}}</span>
                  <span>{{a.education}}</span>
                  <span>{{ a.salary }} /  {{a.salaryType}}</span>
                  <span>{{ a.intranshipType }}</span>
                
                </div>
              </div>
              <div class="location">
                <span
                  ><i class="pi pi-map-marker"></i>
                  {{ a.location }}</span
                >
                <span><i class="pi pi-briefcase"></i>{{ a.type }}</span>
                <span *ngIf="a.duration">{{a.duration}} {{a.durationIn}} </span>

                <span><i class="pi pi-user-plus"></i>{{ a.jobOpening }}</span>
              </div>
              <div class="company_tags">
                <span *ngFor="let b of a.skills">{{ b }}</span>
              </div>
            </li>

            <!-- -::::::::::::::::::::::::::::::::::Job details part::::::::::::::::::::::::::::::-->
          </ul>
        
          <section class="noData" *ngIf="AllJobDetails.length == 0 && !leftSideListLoadding">
            <p>No Job Posts available</p>
          </section>
        </div>
      </div>
    </section>
    
    
   
    <!-- <section class="right_details_part">
      <h1 *ngIf=" rightSideLoadding">Loadding.........</h1>

      <ng-container *ngIf="AllJobDetails.length == 0 && !rightSideLoadding ">
        <p>No Record Found</p>
      </ng-container>
      <ng-container *ngIf="AllJobDetails.length > 0">
        <div *ngFor="let a of singleJobDetails">
          <div class="right_details_head">
            <div>
              <span>
                <img
                
                [src]="a.company.image ?a.company.image:'../../../assets/no-image.svg'"
                  width="170"
                  height="75"
                />              </span>
              
             
            </div>
            <h2>
              <span>company name:- {{ a.company.companyName }}</span>
              <span>company description:- {{ a.company.aboutCompany }}</span>
              <span>company foundation:- {{ a.company.companyEstdYear }}</span>
              <span>No of Employees:- {{ a.company.empCount }}</span>
            </h2>
          </div>
          <div class="overview">
            <h2>{{a.type}} Overview</h2>
            <p>
     {{a.details}}
            </p>
            <h2 *ngIf="a.responsibilities.length > 0">Key responsibilities:</h2>
            <ul *ngFor="let item of a.responsibilities">
              
              <li>
                {{ item }}
              </li>
            </ul>
            <div>
              <h2>education qualification :-- {{a.education}}</h2>
            </div>
            <div >
              <h2 *ngIf="a.experience" >minimum experience</h2>
{{a.experience}} {{a.experienceTime}}
            </div>
            <h2>Skill(s) required</h2>
            <div class="tags" *ngFor="let b of a.skills">
              <span>{{ b }}</span>
            </div>
            <h2>Salary</h2>
            <p>{{ a.salary }} / {{a.salaryType}}</p>
           
            <p>salary type :- {{a.stipend}}</p>
            <h2>Perks</h2>
            <div class="tags">
              <span>Certificate</span>
              <span>Letter of recommendation</span>
              <span>Flexible work hours</span>
            </div>
            <div >

              <h2 *ngIf="a.coverLetter.availability || a.coverLetter.letter">Additional Information</h2>
              <p *ngIf="a.coverLetter.availability">
                availability:-- 
                {{ a.coverLetter.availability }}
              </p>
              <P *ngIf="a.coverLetter.letter">
                letter:-- {{a.coverLetter.letter}}
              </P>
<p *ngIf="a.coverLetter.moreQuestions.length > 0"> Another Question :--</p>
<ul type="circle">
  <li *ngFor="let a of a.coverLetter.moreQuestions">
    {{a}}
  </li>
</ul>
         
            </div>
            <h2>Number of openings</h2>
            <p class="company_tags">{{ a.jobOpening }}</p>
            <h1>work models :-  </h1> {{a.intranshipType }}          
            <div class="apply_btn">
              <button type="button" (click)="applyJob()">Apply Now</button>
            </div>
          </div>
        </div>
      </ng-container>
    </section> -->
  </section>
</section>

<!-- <p-dialog
  (onHide)="closeProfileUpdateForm()"
  [(visible)]="profileUpdate"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [modal]="true"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <h2>
      Applying for {{ singleJobDetails[0].intranshipName }}
      internship
      <span>{{ singleJobDetails[0].companyName }}</span>
    </h2>
  </ng-template>
  <div>
    <p-steps
      [model]="items"
      [(activeIndex)]="activeIndex"
      [readonly]="false"
    ></p-steps>
  </div>
  <router-outlet></router-outlet>
</p-dialog> -->
<app-footer></app-footer>
