<div *ngIf="studentListData.length > 0">
  <div *ngFor="let item of studentListData">
    <p>applicationStatus:-- {{ item.applicationStatus }}</p>
    <p>availability:- {{ item.availability }}</p>
    <p *ngIf="item.availability_message != null">
      availability_message:- {{ item.availability_message }}
    </p>
    <p>email:-- {{ item.email }}</p>
    <p>jobId:- {{ item.jobId }}</p>
    <p>phone :-- {{ item.phone }}</p>
    <p>status:- {{ item.status }}</p>
    <p>studentName:- {{ item.studentName }}</p>
    <p>student Id :-- {{ item._id }}</p>
    <p>createdAt:-- {{ item.userId.createdAt }}</p>
    <p>location:-- {{ item.userId.location }}</p>
    <p *ngFor="let item of item.userId.skills">skills:- {{ item }}</p>
    <img [src]="item.userId.image" />
    {{ item.userId.image }}
    <p>verified:-- {{ item.userId.verifie }}</p>
    {{ item.userId.image }}
    pdf:--
    <pdf-viewer
      [src]="item.pdf"
      [render-text]="true"
      [original-size]="false"
      style="width: 400px; height: 500px"
    ></pdf-viewer>
    <ol type="none">
      <h1>Portfolio Details:----</h1>
      <li *ngFor="let items of item.portfolioData; let i = index">
        <p> Portfolio </p>
        <p>title:-- {{ items.title }}</p>
        {{items.url}}
        <p [innerHtml]="items.description"></p>

        <p>url:-- {{ items.url }}</p>
        <p>portfolioStatus:-- {{ items.portfolioStatus }}</p>
        <ng-container *ngIf="items.image != 'http://localhost:5500null'">
          <p>Image:--<img [src]="items.image" alt="" /></p>
        </ng-container>
        <ng-container *ngIf="items.url">
          Url:--
          <a target="blank" [href]="items.description">{{
            items.url
          }}</a>
        </ng-container>
        <ng-container *ngIf="items.pdf != 'http://localhost:5500null'">
          <p>Pdf:--</p>
          <pdf-viewer
            [src]="items.pdf"
            [render-text]="true"
            [original-size]="false"
            style="width: 400px; height: 500px"
          ></pdf-viewer>
        </ng-container>
        <!-- <ng-container *ngIf="items.youtubeUrl">
            <P>YOUTUBE</P>
            <iframe
              width="560"
              height="315"
              [src]="items.youtubeUrl | sanitizerUrl"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </ng-container> -->
        <hr />
      </li>
    </ol>

    <button (click)="openStatus()">Edit status</button>
    <button (click)="updateStatus(item._id)">update</button>
    <p-dialog
      header="Title"
      [(visible)]="editDialog"
      [style]="{ width: '50vw', height: '300px' }"
    >
      >
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="status"
          [(ngModel)]="selectedStatus"
          optionLabel="name"
          placeholder="Select a Status"
          (onChange)="statusChange($event, item._id)"
        ></p-dropdown>
      </div>
    </p-dialog>
  </div>
</div>
<div *ngIf="studentListData?.length == 0">
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
  <p>Sorry No Student Available.............</p>
</div>
