<section class="my_profile_sec" *ngIf="ProfileDetails">
  <div class="my_profile_sec_inner">
    <div class="profile_img">
      <figure>
        <img [src]="croppedImage" />
        <span>
          {{ ProfileDetails.status ? 'Active' : 'Deactive' }}
        </span>
      </figure>
    </div>
    <div class="profile_details">
      <button (click)="openEdit()" class="edit_btn">Edit</button>
      <h2>{{ ProfileDetails.name }}</h2>
      <p class="subhead">
        {{ ProfileDetails.location??'Update Your Location' }}
      </p>
      <div class="mail_register">
        <a href="mailto:amanda.jg@gmail.com">
          <img src="../../../assets/mail-icon.png" />
          {{ ProfileDetails.email }}
        </a>
        <strong>
          Site Register On
          <span>{{ ProfileDetails.createdAt | date: 'MMM d, y' }}</span>
        </strong>
      </div>
      <span>
        <img src="../../../assets/call-icon.png" />
        +91 {{ ProfileDetails.phone }}
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula
        tincidunt urna sit amet placerat. Ut erat nisl, dignissim et ligula nec,
        sodales molestie tellus. Quisque ultricies lorem ligula, id fermentum
        tortor vehicula sed.Vestibulum sapien erat.
      </p>
    </div>
  </div>
</section>

<!-- {
    "_id": "64ea2b0e919da58a5a9eff3a",
    "name": "mob bgv",
    "email": "mnb@mailinator.com",
    "phone": "8763652622",
    "image": null,
    "role": "student",
    "verified": true,
    "question_step": false,
    "status": true,
    "createdAt": "2023-08-26T16:40:46.227Z",
    "__v": 0
} -->

<p-sidebar
  [(visible)]="editProfile"
  position="right"
  [style]="{ width: '50em' }"
>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="profile-section">
      <div class="left-section">
        <div class="profile-pic">
          <img [src]="croppedImage" alt="" />
          <!-- <p-fileUpload
            mode="basic"
            name="demo[]"
            url="./upload.php"
            accept="image/*8 5tdx"
            class="upload-btn"
            [customUpload]="false"
            (uploadHandler)="fileChangeEvent($event)"
          ></p-fileUpload> -->
          <input
            class="upload-btn"
            type="file"
            accept=".jpg, .jpeg, .png,.JPG, .JPEG, .PNG"
            (change)="fileChangeEvent($event)"
            (click)="cropper.toggle($event)"
          />
        </div>
      </div>
      <div class="right-section">
        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Name"
          formControlName="name"
        />
        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Short Description"
          formControlName="shortDescription"
        />
        <p-chips
          separator=","
          placeholder="Hint: graphics, html, css"
          formControlName="skills"
        ></p-chips>

        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Location"
        />

        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            type="email"
            pInputText
            class="p-inputtext-sm"
            placeholder="Enter your Email"
            formControlName="email"
          />
        </span>
        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>
          <input
            type="number"
            pInputText
            class="p-inputtext-sm"
            placeholder="Enter your Phone number"
            formControlName="phone"
          />
        </span>
        <textarea
          rows="5"
          cols="3"
          pInputTextarea
          placeholder="Describe here ....."
        ></textarea>
      </div>
    </div>
    <input type="submit" value="Save" />
  </form>
</p-sidebar>

<!-- <input type="file" accept=".jpg, .jpeg, .png,.JPG, .JPEG, .PNG"  (change)="fileChangeEvent($event)" /> -->

<!-- <img [src]="croppedImage" /> -->

<button (click)="back()">Back To Job</button>
<p-overlayPanel #cropper>
  <ng-template pTemplate>
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      (imgCroppedDone)="ImgCroppedDone($event)"
      (imgCroppedCancel)="CancelImgCroppedDone()"
      [resizeToWidth]="236"
      [resizeToHeight]="252"
      [cropperMinWidth]="236"
      [cropperMinHeight]="252"
    ></image-cropper>
  </ng-template>
</p-overlayPanel>
