<app-header></app-header>
<section class="my_profile_sec" *ngIf="ProfileDetails">
  <div class="profile_whole_sec">
    <div class="my_profile_sec_inner">
      <div class="profile_img">
        <figure>
          <img [src]="imagePath" alt="profile image" />
          <span>
            {{ ProfileDetails.status ? 'Active' : 'Deactive' }}
          </span>
        </figure>
      </div>
      <div class="profile_details">
        <button (click)="back()" class="back_btn">Back To Job</button>
        <button (click)="openEdit()" class="edit_btn">Edit</button>

        <h2>{{ ProfileDetails.name }}</h2>
        <p class="subhead">
          {{
            ProfileDetails.location
              ? ProfileDetails.location
              : 'Update Your Location'
          }}
        </p>
        <div class="mail_register">
          <a>
            <img src="../../../assets/mail-icon.png" />
            {{ ProfileDetails.email }}
          </a>
          <strong>
            Site Register On
            <span>{{ ProfileDetails.createdAt | date: 'MMM d, y' }}</span>
          </strong>
        </div>
        <span>
          <img src="../../../assets/call-icon.png" />
          +91 {{ ProfileDetails.phone }}
        </span>
        <p>
          {{ description }}
        </p>
        <ul class="skills">
          <li *ngFor="let item of skillSet">{{ item | uppercase }}</li>
        </ul>
        <button (click)="Protfolio()" class="portfolio_btn">
          Go To Portfolio
        </button>
      </div>
    </div>
  </div>
</section>

<!-- {
    "_id": "64ea2b0e919da58a5a9eff3a",
    "name": "mob bgv",
    "email": "mnb@mailinator.com",
    "phone": "8763652622",
    "image": null,
    "role": "student",
    "verified": true,
    "question_step": false,
    "status": true,
    "createdAt": "2023-08-26T16:40:46.227Z",
    "__v": 0
} -->

<p-sidebar
  [(visible)]="editProfile"
  position="right"
  [style]="{ width: '50em' }"
>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="edit-profile-form"
  >
    <div class="profile-section">
      <div class="left-section">
        <div class="profile-pic">
          <img [src]="imagePath" alt="" />
          <!-- <p-fileUpload
            mode="basic"
            name="demo[]"
            url="./upload.php"
            accept="image/*8 5tdx"
            class="upload-btn"
            [customUpload]="false"
            (uploadHandler)="fileChangeEvent($event)"
          ></p-fileUpload> -->
          <div class="file-upload-wrapper">
            <input
              class="upload-btn"
              type="file"
              accept=".jpg, .jpeg, .png,.JPG, .JPEG, .PNG"
              (change)="fileChangeEvent($event)"
              #fileInput
            />
            <label></label>
            <button type="button" class="button-upload">Select File</button>
          </div>
        </div>
      </div>
      <div class="right-section">
        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Name"
          formControlName="name"
        />
        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Short Description"
          formControlName="description"
        />
        <p-chips
          separator=" "
          placeholder="Hint: graphics, html, css"
          formControlName="skills"
        ></p-chips>
        <h5>
          Please add
          <strong>space</strong>
          after adding any skills
        </h5>
        <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Location"
          formControlName="location"
        />

        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            type="email"
            pInputText
            class="p-inputtext-sm"
            placeholder="Enter your Email"
            formControlName="email"
          />
        </span>
        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>
          <input
            type="number"
            pInputText
            class="p-inputtext-sm"
            placeholder="Enter your Phone number"
            formControlName="phone"
          />
        </span>
        <!-- <textarea
          rows="5"
          cols="3"
          pInputTextarea
          placeholder="Describe here ....."
        ></textarea> -->
      </div>
    </div>
    <input type="submit" value="Save" class="save_btn" />
  </form>
</p-sidebar>

<!-- <input type="file" accept=".jpg, .jpeg, .png,.JPG, .JPEG, .PNG"  (change)="fileChangeEvent($event)" /> -->

<!-- <img [src]="croppedImage" /> -->

<p-dialog
  header="Title"
  [(visible)]="cropperModal"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    (imageCropped)="imageCropped($event)"
    [resizeToWidth]="236"
    [resizeToHeight]="236"
    [cropperMinWidth]="236"
    [cropperMinHeight]="236"
    [autoCrop]="true"
    [output]="'base64'"
  ></image-cropper>

  <button type="submit" (click)="croppedComplete()">Cropped</button>
</p-dialog>
<app-footer></app-footer>
