<app-header></app-header>

<div style="margin-top: 100px;">
  <p-tabView >

    <p-tabPanel header="Personal Information">
      <section class="my_profile_sec" *ngIf="ProfileDetails">
        <div class="profile_whole_sec">
          <div class="my_profile_sec_inner">
            <div class="profile_img">
              <figure>
                <img [src]="imagePath" alt="profile image" />
                <span>
                  {{ ProfileDetails.status ? 'Active' : 'Deactive' }}
                </span>
              </figure>
            </div>
            <div class="profile_details">
              <button (click)="back()" class="back_btn">Back To Job</button>
              <button (click)="openEdit()" class="edit_btn">Edit</button>
      
              <h2>{{ ProfileDetails.name }}</h2>
              <p class="subhead">
                {{
                  ProfileDetails.location
                    ? ProfileDetails.location
                    : 'Update Your Location'
                }}
              </p>
              <div class="mail_register">
                <a>
                  <img src="../../../assets/mail-icon.png" />
                  {{ ProfileDetails.email }}
                </a>
                <strong>
                  Site Register On
                  <span>{{ ProfileDetails.createdAt | date: 'MMM d, y' }}</span>
                </strong>
              </div>
              <span>
                <img src="../../../assets/call-icon.png" />
                +91 {{ ProfileDetails.phone }}
              </span>
              <p [innerHTML]="description">
            
              </p>
              <ul class="skills">
                <li *ngFor="let item of skillSet">{{ item | uppercase }}</li>
              </ul>
              <!-- <button (click)="Protfolio()" class="portfolio_btn">
                My Project
              </button> -->
            </div>
          </div>
        </div>
      </section>

      <p-sidebar
  [(visible)]="editProfile"
  position="right"
  [style]="{ width: '50em' }"
>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="edit-profile-form"
  >
    <div class="profile-section">
      <div class="right-section">
        <p-fieldset legend="Personal Information" [toggleable]="true">
          <div class="formGroup">
          <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="name">
            <label for="float-input">Name</label>
          </span> 
          </div>
          <div class="formGroup">
            <p-editor [style]="{'height':'320px'}" formControlName="description"></p-editor>
          </div>
          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your Email" formControlName="email" />
            </span>
          </div>
          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-phone"></i>
              <input type="number" pInputText class="p-inputtext-sm" placeholder="Enter your Phone number"
                formControlName="phone" />
            </span>
          </div>
          <div class="formGroup">
            <span class="p-float-label">
            <input id="float-input" type="text" pInputText class="p-inputtext-sm" placeholder="Location" formControlName="location" />
            <label for="float-input">Location</label>
            </span>
          </div>
        </p-fieldset>
        
        <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <p-dropdown
              [options]="genderList"
              optionLabel="name"
              optionValue="value"
              formControlName="gender"
            ></p-dropdown>

              <!-- <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your gender" formControlName="gender" /> -->
            </span>
          </div>
          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>

              <p-calendar formControlName="dob"  (onSelect)="dateSelect($event)" placeholder="select your DOB"></p-calendar>
              <!-- <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your age" formControlName="age" /> -->
            </span>
          </div>
          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your interest" formControlName="areaOfInterest" />
            </span>
          </div>
        
          <!-- <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your branch" formControlName="branch" />
            </span>
          </div> -->
          
          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <p-dropdown
              [options]="streamList"
              optionLabel="name"
              optionValue="value"
              formControlName="stream"
            ></p-dropdown>

              <!-- <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your stream" formControlName="stream" /> -->
            </span>
          </div>

          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>

              <p-dropdown
              [options]="branchList"
              optionLabel="name"
              optionValue="value"
              formControlName="branch"
            ></p-dropdown>

              <!-- <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your branch" formControlName="branch" /> -->
            </span>
          </div>

          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your institution name" formControlName="institution" />
            </span>
          </div>

          <div class="formGroup">
            <span class="p-input-icon-left">
              <i class="pi pi-envelope"></i>

              <p-dropdown
              [options]="semesterList"
              optionLabel="name"
              optionValue="value"
              formControlName="semester"
            ></p-dropdown>

              <!-- <input type="email" pInputText class="p-inputtext-sm" placeholder="Enter your semester" formControlName="semester" /> -->
            </span>
          </div>

          

        <!-- <p-fieldset legend="Work Experience" [toggleable]="true">
          <div class="formGroup">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText>
              <label for="float-input">Designation</label>
            </span>
          </div>
          <div class="formGroup">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText>
              <label for="float-input">Company Name</label>
            </span>
          </div>
          <div class="formGroup">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText>
              <label for="float-input">Duration</label>
            </span>
          </div>
          <div class="formGroup">
            <p-editor [style]="{'height':'320px'}"></p-editor>
          </div>
          
        </p-fieldset> -->
        <!-- <p-fieldset legend="Education" [toggleable]="true">
          <div class="formGroup">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText>
              <label for="float-input">Class Name</label>
            </span>
          </div>
          <div class="formGroup">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText>
              <label for="float-input">Board Name</label>
            </span>
          </div>
        </p-fieldset> -->
        <p-fieldset legend="Skills" [toggleable]="true">
          <div class="formGroup">

            <ng-container formArrayName="skills">
              <div style="display: block; margin-top: 6px">
              <span
                  style="color: red; margin-left: 15px; display: inline-block"
                  (click)="addnewSkill()"
                  >Add more</span
                >
              </div>
              <div
                *ngFor="let skill of getSkillsArrayControls(); let i = index"
                style="margin-top: 7px"
              >
                <input
                  type="text"
                  [formControlName]="i"
                  style="display: inline-block; margin-top: 5px"
                />
                <button
                  (click)="removeSkill(i)"
                  style="color: red; margin-left: 15px; font-size: 18px"
                >
                  X
                </button>
              </div>
            </ng-container>



            <!-- <p-chips separator=" " placeholder="Hint: graphics, html, css" formControlName="skills"></p-chips> -->
          </div>     
          <!-- <span>Please add <strong>space</strong> after adding any skills</span> -->
        </p-fieldset>
        <!-- <input
          type="text"
          pInputText
          class="p-inputtext-sm"
          placeholder="Short Description"
          formControlName="description"
        /> -->

        
        <!-- <textarea
          rows="5"
          cols="3"
          pInputTextarea
          placeholder="Describe here ....."
        ></textarea> -->
      </div>
    </div>
    <input type="submit" value="Save" class="save_btn" />
  </form>
</p-sidebar>

<!-- <input type="file" accept=".jpg, .jpeg, .png,.JPG, .JPEG, .PNG"  (change)="fileChangeEvent($event)" /> -->

<!-- <img [src]="croppedImage" /> -->

<p-dialog
  header="Title"
  [(visible)]="cropperModal"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    (imageCropped)="imageCropped($event)"
    [resizeToWidth]="236"
    [resizeToHeight]="236"
    [cropperMinWidth]="236"
    [cropperMinHeight]="236"
    [autoCrop]="true"
    [output]="'base64'"
  ></image-cropper>

  <button type="submit" (click)="croppedComplete()">Cropped</button>
</p-dialog>
  </p-tabPanel>
  <p-tabPanel header="Upload your cv">
    <p>
     
     <app-uploadcv></app-uploadcv>
    </p>
  </p-tabPanel>
  <p-tabPanel header="Project" >
    <app-protfolio></app-protfolio>
      <!-- <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p> -->
  </p-tabPanel>
  <p-tabPanel header="Talent/Achivment">
    <p>
      Comming Soon.................
    </p>
</p-tabPanel>
  </p-tabView>
</div>




<app-footer></app-footer>
