<div class="header-section">
    <div class="img-section">
        <img src="../../../assets/brand-logo.png" alt="">
    </div>
    <div class="form-section">
        <h3>Please Enter The Following</h3>
        <div class="form-area">
            <form>
                <div class="user-name">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Username</label>
                    </span>                    
                </div>
                <div class="password">
                    <label>Password</label>
                    <p-password></p-password>

                </div>
                <div class="button-area">
                    <button class="intern" pButton pRipple type="button" label="Intern"></button>
                    <button class="job" pButton pRipple type="button" label="Job "></button>
                    <button class="industry" pButton pRipple type="button" label="Industry"></button>

                </div>
            </form>

        </div>
    </div>
</div>