<p-sidebar
  [(visible)]="display"
  position="right"
  [style]="{ width: '30em' }"
  [dismissible]="false"
  [blockScroll]="false"
  (onHide)="onHide()"
>
  <div class="question-area">
    <div class="sidebar-heading">
      <h3>Please answer the Following questions</h3>
    </div>
    <div class="form-wrapper">
      <form [formGroup]="questionSets" (ngSubmit)="onSubmitAnswers()">
        <div class="col-12 md:col-12 mt-3 mb-4 full-width-number-field">
          <span class="p-float-label">
            <input
              formControlName="companyName"
              id="float-input"
              type="text"
              pInputText
              class=""
            />
            <label for="float-input">Company name</label>
          </span>
        </div>
        <div class="col-12 md:col-12 mt-3 mb-4 full-width-number-field">
          <span class="p-float-label">
            <!-- <input id="float-input" type="text" pInputText class="" /> -->
            <p-calendar
              formControlName="companyEstableYear"
              view="year"
              dateFormat="yy"
              [showButtonBar]="true"
            ></p-calendar>
            <label for="float-input">Company establishment year</label>
          </span>
        </div>
        <div class="col-12 md:col-12 mt-3 mb-4 full-width-number">
          <span class="p-float-label">
            <input
              formControlName="aboutCompany"
              id="float-input"
              type="text"
              pInputText
              class=""
            />
            <label for="float-input">About company</label>
          </span>
        </div>
        <div class="col-12 md:col-12 mt-3 mb-4 full-width">
          <span class="p-float-label">
            <input
              formControlName="noEmployee"
              id="float-input"
              type="text"
              pInputText
              class=""
            />
            <label for="float-input">No. Of employees</label>
          </span>
        </div>
        <div class="col-12 md:col-12 mt-3 mb-4 full-width">
          <span class="p-float-label">
            <input
              formControlName="placeOfWork"
              id="float-input"
              type="text"
              pInputText
              class=""
            />
            <label for="float-input">Place of work</label>
          </span>
        </div>

        <div class="col-12 md:col-12 mt-3 mb-4 dropdown-full-width mt-5">
          <span class="p-float-label">
            <input
              formControlName="salary"
              id="float-input"
              type="text"
              pInputText
              class=""
            />
            <label class="dropdown-lable-field float-input" for="float-input">
              Salary package / Year
            </label>
          </span>
        </div>
        <div class="submit-btn">
          <p-button
            class="submit-btns"
            type="submit"
            label="continue"
          ></p-button>
          <!-- <input type="submit" value="Submit"> -->
        </div>
      </form>
    </div>
  </div>
</p-sidebar>
