.form-wrapper {
  padding: 0 0 20px 0;
  h5 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #522d80;
  }
}
#navbarNav {
  justify-content: center;
  .navbar-nav {
    .nav-item {
      padding: 0 10px;
      a {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

::ng-deep .p-float-label > label {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #522d80;
}

::ng-deep .p-dialog .p-dialog-header {
  padding: 0;
}

.navbar {
  padding: 0 0 5px 0;
}
.users-option {
  display: flex;
  align-items: center;
  margin-right: 50px;
  .register {
    margin-right: 10px;
  }
}

.register {
  ::ng-deep p-splitbutton {
    .p-splitbutton {
      .p-button {
        background: #522d80;
        border: 1px solid #522d80;
      }
    }
  }
}
.login {
  .p-button {
    background: #ffffff;
    border: 1px solid #522d80;
    color: #522d80;
  }
}

.navbar-brand {
  height: 108px;
  width: 248px;
  overflow: hidden;
  margin-left: 50px;
}

::ng-deep .p-button:focus {
  box-shadow: none;
}

.dropdown-itemss {
  ::ng-deep .p-splitbutton {
    .p-button {
      background: transparent;
      border: none;
      padding: 10px 5px;

      span {
        color: #737373;
      }
    }
    .p-splitbutton-menubutton {
      padding: 0 !important;
      width: auto !important;
    }
  }
}

// input {
//   width: 100%;
// }

// ::ng-deep input {
//   width: 100%;
// }

.sign-up-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;
  }
  .right-section {
    width: 50%;
  }
}

.full-width {
  ::ng-deep .p-password {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;
  .p-inputwrapper {
    width: 100%;
    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

.full-width {
  ::ng-deep .p-inputtext {
    width: 100%;
  }
}

.dropdown-full-width {
  ::ng-deep .p-inputtext {
    width: 100%;
  }
}

.full-width-number-field {
  width: 100%;
  ::ng-deep .p-inputtext {
    width: 100%;
  }
}

.full-width-number {
  ::ng-deep .p-inputtext {
    width: 100%;
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #8cd3f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #8cd3f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
  }
}

.login-area {
  text-align: center;
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

.question-area {
  .sidebar-heading {
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 35px;
      display: flex;
      align-items: center;
      color: #522d80;
    }
  }
}

::ng-deep .p-calendar {
  width: 100%;
}
