.portfolio_sec {
    margin: 113px auto 0;
    padding-top: 60px;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    .portfolio_left {
        flex: 0 0 30%;
        img {
            width: 250px;
            height: 250px;
        }
        h3 {
            font-size: 22px;
            position: relative;
            padding-bottom: 10px;
            &::after {
                content:'';
                position: absolute;
                background: #3B82F6;
                width: 15%;
                height:2px;
                left: 0;
                bottom: 2px;
            }
        }
    }
    .portfolio_right {
        flex: 0 0 68%;
        p {
            font-size: 14px;
        }
    }
    .add_portfolio_btn {
        border: dashed 2px #999;
        padding: 20px;
        font-size: 16px;
        color: #999;
        background: #fff;
        position: relative;
        height: 150px;
        width: 30%;
        display: grid;
        place-content: center;
        cursor: pointer;
        margin-top: 40px;
        i {
            display: block;
            margin: 0 auto 10px;
            width: 24px;
            height: 24px;
            font-weight: 600;
            font-size: 24px;
        }
        span {
            font-weight: 500;
        }
    }
}
.dialog{
    height: 300px !important;
}
.portfolio_sec_modal {
    width: 500px;
    h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            list-style: none;
        }
    }
}
.myFormSec {
    display: flex;
    flex-direction: row;
}
.portfolio_sec_modal {
    min-width: 800px;
}
.portfolio_details_sec {
    padding-top: 60px;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        li {
            width: 47%;
            display: inline-block;
            vertical-align: top;
            // background: rgb(245, 245, 245);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
            border-radius: 10px;
            padding: 15px 20px;
            margin: 5px 2% 20px 5px;
            position: relative;
            min-height: 260px;
            list-style: none;
            position: relative;
            overflow: hidden;
            button {
                position:absolute;
                right: 0;
                display: inline-block;
                right: 40px;
                background: none;
                &:first-of-type {
                    right: 10px;
                }
            }
            h2 {
                text-transform: capitalize;
                font-size: 24px;
                font-weight: 500;
            }
            p {
                word-wrap: break-word;
                a {
                    text-decoration: underline;
                }
                span{
                    &.status {
                        display: inline-block;
                        background: rgba(235,235,235,1);
                        padding: 5px 8px;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                        border-radius: 5px;
                    }
                }
                &.tags {
                    font-weight: 600;
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.myFormSecEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .formLeft {
        flex: 0 0 50%;
        text-align: center;
    }

    .formRight {
        flex: 0 0 48%;
        ul {
            padding-left: 0;

            li {
                list-style: none;
                border-radius: 4px;
                border: 1px solid #e5e6e7;
                padding: 10px;
                margin-bottom: 10px;

                label {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                input {
                    border: none;
                    width: 100%;
                    border-bottom: 1px solid #ccc9c9;
                    font-size: 13px;

                    &:focus {
                        outline: none;
                    }
                }

                ::ng-deep .p-editor-container {
                    height: 180px;

                    .p-editor-content {
                        height: calc(100% - 40px) !important;
                    }
                }

                ::ng-deep .p-dropdown {
                    width: 100%;
                    text-transform: capitalize;
                }
            }
        }

        &>button {
            background: #522D80;
            border-radius: 5px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 10px 20px;
            display: block;
            width: 100%;
        }
    }
}