<section class="portfolio_sec">
  <div
    (click)="addProtfolio()"
    icon="pi pi-info-circle"
    label="Show"
    class="add_portfolio_btn"
  >
    <i class="pi pi-plus"></i><span>Add Portfolio</span>
  </div>
</section>
<p-dialog class="dialog" [(visible)]="display" (onHide)="handleDialogHide()">
  <section class="portfolio_sec">
    <ng-container>
      <div *ngFor="let a of field">
        <app-protfolio-details
          [obj]="a"
          (individualObj)="getObj($event)"
          (id)="deletedObjId($event)"
        ></app-protfolio-details>
        <br />
      </div>
      <br />
    </ng-container>
  </section>
</p-dialog>

<!-- <button (click)="getProtfolio()">get obj</button> -->

<hr />
<!-- details start here............-->
<div>
  <div *ngIf="portfolioDetails.length == 0">
    <p>no data found</p>
  </div>
  <ng-container *ngIf="portfolioDetails.length != 0">
    <div *ngFor="let item of portfolioDetails">
      <button (click)="editPortfolio()">edit</button><br>
      <button (click)="deletePortfolio(item._id)">delete</button>
      <p>title:-- {{ item.title }}</p>
      <p [innerHtml]="item.description"></p>
      <ng-container *ngIf="item.image != 'http://localhost:5500null'">
        <p>Image:--<img [src]="item.image" alt="" /></p>
      </ng-container>
      <ng-container *ngIf="item.url">
       
          Url:--
          <a target="blank" [href]="item.description">{{ item.url }}</a>
       
      </ng-container>
      <ng-container *ngIf="item.pdf != 'http://localhost:5500null'">
        <p>Pdf:--</p>
        <pdf-viewer [src]="item.pdf"
                [render-text]="true"
                [original-size]="false"
                style="width: 400px; height: 500px"
    ></pdf-viewer>

      </ng-container>

      <ng-container *ngIf="item.youtubeUrl">
        <P>YOUTUBE</P>
        {{item.youtubeUrl}}
        <iframe width="560" height="315" [src]="'https://www.youtube.com/embed/'+item.youtubeUrl" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6q9NtaWYbBk" frameborder="0" allowfullscreen></iframe> -->
      </ng-container>
      
      <hr />
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6q9NtaWYbBk" frameborder="0" allowfullscreen></iframe>
  </ng-container>
</div>

<!-- <img src="6501f5800a2bcadb7478a6d0-Screenshot (3).png"> -->
