
<div class="modal-content">
    <h2>Key responsibilities</h2>
    <strong>Selected intern's day-to-day responsibilities include:</strong>
    <ul>
        <li>
            1. Working on design related briefs for product & promotional concepts
            for website & social media handles, including product shots, labels,
            brochures, packaging, web banners, promotional campaigns & other
            marketing collaterals
        </li>
        <li>
            2. Presenting concept visualization through sketches, drawings, and
            illustrations
        </li>
        <li>
            3. Managing photo editing, system correction, image retouching, and
            color correction apart from developing concepts, graphics, and layouts
            for product illustrations, catalog, company logos, and website
            design/layout, etc.
        </li>
        <li>
            4. Designing product concepts & prototype development based on a defined
            brief
        </li>
        <li>
            5. Developing the idea, giving it a visual identity, making rough
            sketches and integrating technical and visual solutions into a design
            concept
        </li>
        <li>
            6. Creating a prototype in collaboration with other managers and
            designers to ensure that the prototype is created within project
            specifications and expectations
        </li>
        <li>
            7. Coordinating services of outside vendors & liaising with external
            printers or any other vendors if need be to ascertain the timely
            execution and quality of delivery
        </li>
        <li>
            8. Conceptualizing & implementing the brand's social media campaigns &
            strategies, including content creation, graphic designing, creative
            writing, social media messages, blogging, etc.
        </li>
    </ul>
    <div class="benefits">
        <h3>Benefits:</h3>
        <ul>
            <li>1. Base pay (stipend)</li>
            <li>2. Quarterly performance bonus</li>
            <li>3. Cult Fit Live membership</li>
            <li>4. Access to premium online courses for skill enhancement</li>
            <li>5. Uncapped customer referral bonus</li>
        </ul>
    </div>
    <h2>Skill(s) required</h2>
    <div class="tags">
        <span>Ui Designer</span>
        <span>Figma</span>
        <span>Landing Page</span>
    </div>
    
</div>
<div class="dialog-footer">
    <button (click)="nextPage()">Continue</button>
</div>
