p {
    font-family: "Poppins", sans-serif;
}

footer {
    padding: 10px 20px;
    background-color: #434343;

    p {
        color: #fff;
        font-size: 0.75rem;
        margin-bottom: 0;
    }

}