.custom-wrapper-admin {
    margin-top: calc(0px + 1px) !important;
    background-color: transparent !important;
}

.full-width {
    margin-left: 0 !important;
    padding-left: 250px;
    background: #035366;
}