<mat-list>
  <ng-container *ngFor="let item of menu">
    <!-- If the item doesn't have children show it as list item-->
    <ng-container *ngIf="item.subMenu === undefined">
      <mat-list-item
        *ngIf="item.title"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon [style.color]="item.color" mat-list-icon>
          {{ item.icon }}
        </mat-icon>
        <div mat-line>{{ item.title }}</div>
      </mat-list-item>
    </ng-container>

    <!-- If the item has subMenu show it as accordion-->
  </ng-container>
</mat-list>
