nav {

    background-color: #e8ebed;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 9;
    width: 100%;

}

.form-inline {
    position: relative;
    padding: 0 0 12px;
    width: 150px;
    justify-content: flex-end;

    .user-icon {
        cursor: pointer;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        margin-right: 6rem;

        .view-rqst {

            display: flex;
            align-items: center;
            gap: 3px;
            color: #fff;
            background: #000;
            border-radius: 12px;
            padding: 0px 15px;

        }

        ::ng-deep.mat-button-wrapper {

            display: flex;
            align-items: center;
            gap: 20px;


            i {
                background: #fff;
                padding: 10px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: grid;
                place-content: center;

                // &:hover .mat-dropdown-menu {
                //     opacity: 1 !important;
                //     visibility: visible !important;
                //     transform: translateY(0);
                // }
            }

            .fa-noti {

                background-color: #000;
                color: #fff !important;
            }

        }


    }

    .mat-dropdown-menu {
        position: absolute;
        top: 50px;
        right: -86px;
        width: 150px;
        padding: 10px 0;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 1000;
        border: 1px solid #cfcfcf;
        border-radius: 12px;
        font-size: 0.9rem;

        li {
            list-style: none;
        }

        hr {
            margin: 5px 0;
            border-color: #b5b5b5;
        }

        .mat-dropdown-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            padding: 7px 16px;
            color: #333;
            text-decoration: none;
            border-radius: 7px;
            margin: 0 7px;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    .mat-dropdown-menu.visible {
        visibility: visible;
        opacity: 1;
    }

}