<div class="container sup-lab-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="we-do-right-section">
                <h2 class="heading">LABORATORY SERVICES</h2>
                <ul class="check-item">
                    <li><a href=""><span class="icon-group-check"></span>Easy onboarding for academic, research, and
                            accredited labs.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can easily book slots, streamlining
                            service request management.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can share documents with the lab.</a>
                    </li>
                    <li><a href=""><span class="icon-group-check"></span>Labs can quickly generate and share test
                            reports with users through the platform.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can make secure payments directly through
                            the platform.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Provides a hierarchical view, allowing
                            department admins to manage their labs while organization admins oversee departmental
                            labs.</a></li>
                </ul>
                <button class="button-section" type="button" [routerLink]="['/coming-soon']"><span>Know More</span>
                    <i class="pi pi-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="we-do-left-section">
                <!-- <img src="../../../assets/bg/lab-bg.jpg" alt=""> -->
                <div class="lab-info-box">
                    <img src="../../../assets/bg/lab-microscope.png" width="762px" height="800px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container sup-lab-container sup-manufacturing-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="we-do-left-section">
                <!-- <img src="../../../assets/bg/lab-bg.jpg" alt=""> -->
                <div class="lab-info-box">
                    <img src="../../../assets/bg/lab-microscope.png" width="762px" height="800px" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="we-do-right-section">
                <h2 class="heading">ADVANCE MANUFACTURING SERVICES</h2>
                <ul class="check-item">
                    <li><a href=""><span class="icon-group-check"></span>Easy onboarding for companies providing manufacturing services</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can easily book slots, streamlining service request management</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can share drawings, sketches, and other documents to help service providers process requests</a>
                    </li>
                    <li><a href=""><span class="icon-group-check"></span>Users can communicate directly with service providers through the platform</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Service providers can share pictures of completed work via the platform</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can make secure payments directly through the platform</a></li>
                </ul>
                <button class="button-section" type="button" [routerLink]="['/coming-soon']"><span>Know More</span>
                    <i class="pi pi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container sup-lab-container sup-mentor-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="we-do-right-section">
                <h2 class="heading">MENTOR</h2>
                <ul class="check-item">
                    <li><a href=""><span class="icon-group-check"></span>Offering personalized mentorship to guide
                            students through project planning and execution</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Connecting students with industry experts and
                            experienced professionals for valuable insights</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Providing resources and tools to help students
                            overcome project challenges</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Facilitating regular feedback sessions to track
                            progress and improve project outcomes</a></li>
                </ul>
                <button class="button-section" type="button" [routerLink]="['/coming-soon']"><span>Know More</span>
                    <i class="pi pi-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="we-do-left-section">
                <!-- <img src="../../../assets/bg/lab-bg.jpg" alt=""> -->
                <div class="lab-info-box">
                    <img loading="lazy" src="../../../assets/mentor.png" width="762px" height="800px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>