<div class="container sup-lab-container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="we-do-right-section">
                <h2 class="heading">LABORATORY</h2>
                <ul class="check-item">
                    <li><a href=""><span class="icon-group-check"></span>Easy onboarding for academic, research, and accredited labs.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can easily book slots, streamlining service request management.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can share documents with the lab.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Labs can quickly generate and share test reports with users through the platform.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Users can make secure payments directly through the platform.</a></li>
                    <li><a href=""><span class="icon-group-check"></span>Provides a hierarchical view, allowing department admins to manage their labs while organization admins oversee departmental labs.</a></li>
                </ul>
                <button class="button-section" type="button"><span>Know More</span>
                    <i class="pi pi-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="we-do-left-section">
                <!-- <img src="../../../assets/bg/lab-bg.jpg" alt=""> -->
                <div class="lab-info-box">
                    <span>Lorem</span>
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, voluptas.</p>
                    <img src="../../../assets/bg/lab-microscope.png" class="lab-intrument" alt="">
                </div>
            </div>
        </div>
    </div>
</div>