<div class="container-fluid what-we-do-section">
    <div class="row">
        <div class="col-12 col-sm-6 p-0">
            <div class="we-do-left-section">
                <img src="../../../assets/we-do.svg" alt="">
            </div>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <div class="we-do-right-section">
                <p class="heading-text">What We Do</p>
                <h3 class="heading-main">Innovating Together: Bridging Academia and Industry</h3>
                <article class="artical-section artical-section-top">
                    Innov Catalyst bridges the gap between academia and industry, connecting fresh minds with industry needs. Our goal is to accelerate innovation at an affordable price.
                </article>
                <article class="artical-section artical-section-mid">
                    To Showcasethe talents of students and create a large pool of fresh ideas through the digitization of their academic projects
                </article>
                    <article class="artical-section">
                        To create a large pool of students and mapping their skills based on the needs of the industry and making them available for internship / job.
                    </article>
               
                <button class="know-more-btn" type="button">know More <span class="icon-hearts"></span></button>
            </div>
        </div>
    </div>
    </div>