.active {
  background: #e1e3e9;
}

.main-sidebar {
  background: #522d80;
}
.main-sidebar .brand-link.logo-switch {
  background: #522d80;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background: #371d57;
}
