<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link logo-switch">
    <!-- <img
      src="/docs/3.2/assets/img/logo-xs.png"
      alt="AdminLTE Docs Logo Small"
      class="brand-image-xl logo-xs"
    /> -->
    <img
      [src]="profileImage"
      class="brand-image-xs logo-xl"
      style="left: 12px;"
    />
    <!-- <p>{{profileName}}</p> -->
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
      >
        <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu === 0 }"
          [routerLink]="['/industry']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li
          [ngClass]="{ active: activeleftmenu == 1 }"
          class="nav-item"
          [routerLink]="['/industry/jobs']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-clipboard"></i>
            <p>
              Jobs
            </p>
          </a>
        </li>
        <!-- <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu == 2 }"
          [routerLink]="['/industry/reports']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Reports
            </p>
          </a>
        </li> -->
        <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu == 3 }"
          [routerLink]="['/industry/profile']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Profile
            </p>
          </a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu == 5 }"
          [routerLink]="['/industry/changePassword']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Change Password
            </p>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ active: activeleftmenu == 4 }">
          <a class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <i class="nav-icon fas fa-copy"></i>
            <p (click)="logout()">
              logout
            </p>
          </a>
        </li>
       
      </ul>
    </nav>
  </div>
</aside>
