<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link logo-switch">
    <img
      src="/docs/3.2/assets/img/logo-xs.png"
      alt="AdminLTE Docs Logo Small"
      class="brand-image-xl logo-xs"
    />
    <img
      src="/docs/3.2/assets/img/logo-xl.png"
      alt="AdminLTE Docs Logo Large"
      class="brand-image-xs logo-xl"
      style="left: 12px;"
    />
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
      >
        <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu === 0 }"
          [routerLink]="['/industry']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-microchip"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li
          [ngClass]="{ active: activeleftmenu == 1 }"
          class="nav-item"
          [routerLink]="['/industry/jobs']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-handshake"></i>
            <p>
              Jobs
            </p>
          </a>
        </li>
        <!-- <li
          class="nav-item"
          [ngClass]="{ active: activeleftmenu == 2 }"
          [routerLink]="['/industry/reports']"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Reports
            </p>
          </a>
        </li> -->
        <li
        class="nav-item"
        [ngClass]="{ active: activeleftmenu == 3 }"
        [routerLink]="['/industry/profile']"
      >
        <a class="nav-link">
          <i class="nav-icon fas fa-copy"></i>
          <p>
            Profile
          </p>
        </a>
      </li>
      <li
      class="nav-item"
      [ngClass]="{ active: activeleftmenu == 5 }"
      [routerLink]="['/industry/changePassword']"
    >
      <a class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
          Change Password
        </p>
      </a>
    </li>
      <li
      class="nav-item"
      [ngClass]="{ active: activeleftmenu == 4 }"
      
    >
      <a class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p (click)="logout()">
          logout
        </p>
      </a>
    </li>
      
        <!-- <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Components
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Header</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Control Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Card</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Small-/ Info-Box</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Direct Chat</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Timeline</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ribbons</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Miscellaneous</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Plugins</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-code"></i>
            <p>
              JavaScript
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Layout</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Push Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Treeview</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Card Widget</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>CardRefresh</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Control Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Direct Chat</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Todo List</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Toasts</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sidebar Search</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Expandable Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>IFrame</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Navbar Search</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fab fa-chrome"></i>
            <p>
              Browser Support
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-bookmark"></i>
            <p>
              Implementations
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-mortar-pestle"></i>
            <p>
              Additional Styles
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-hand-point-up"></i>
            <p>
              Upgrade Guide
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-hands-helping"></i>
            <p>
              Contributing Guide
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
              FAQ
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>
              License
            </p>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</aside>
