.active {
  background: #e1e3e9;
}

.main-sidebar {
  background: #522d80;
  nav {
    a {
      font-weight: 500;
    }
    li.nav-item.active {
      a {
        color: #371d57;
        font-weight: 600;
      }
    }
  }
}
.main-sidebar .brand-link.logo-switch {
  background: #522d80;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background: #371d57;
}
