<app-header></app-header>
<section class="about_us_sec">
  <div class="container-fluid">
    <h2>
      We are small design team
      <br />
      with a big passion
    </h2>
    <div class="about-banner">
      <img src="../../assets/about-us-banner.png" />
    </div>

    <div class="two_cont_img_sec">
      <h3>
        We help businesses
        <br />
        also designers
      </h3>
      <p>
        We help people to grow their business using coca landing page ui kit
        with professional and powerfull digital solution. Let's collaborate with
        our young talented designers.
      </p>
    </div>

    <!-- <div class="works">
      <div class="work_left">
        <h2>
          <span>AMAZING WORKS</span>
          Achievements
          <br />
          so far
        </h2>
        <p>
          Donec bibendum, dui id ultrices molestie, neque neque porta felis, id
          viverra ligula justo interdum mi. Nunc malesuada, risus eu maximus
          consequat, purus enim ultricies nisi, elit ante et turpis.
        </p>
        <div class="works_done">
          <img src="../../assets/Ic-Done.png" width="85" height="85" />
          <strong>
            875+
            <span>Projects Done</span>
          </strong>
        </div>
        <div class="works_done">
          <img src="../../assets/Ic-product.png" width="85" height="85" />
          <strong>
            320
            <span>Products Created</span>
          </strong>
        </div>
      </div>
      <div class="work_right">
        <div class="image_col"><img src="../../assets/achievement1.png" /></div>
        <div class="image_col">
          <img src="../../assets/achievement2.png" />
          <img src="../../assets/achievement3.png" />
        </div>
      </div>
    </div> -->
    <div class="our_vision">
      <div class="imagePart">
        <img src="../../assets/our-vision.png" />
      </div>
      <div class="contentPart">
        <h3>Our Vision</h3>
        <p>
          To create an ecosystem where industry, academia, and individuals collaborate to develop innovative solutions
          through the optimal utilization of available resources.
        </p>
      </div>
    </div>
    <div class="our_mision">
      <div class="contentPart">
        <h3>Our Mission</h3>
        <p>
          To create a platform, where recruiters connect with interns and entry level candidates based on their
          projects, experience, skills and achievements.
        </p>
        <p>
          To Showcase students talents and generate a diverse pool of fresh ideas through the digitization of their
          academic projects.
        </p>
        <p>
          To foster collaboration between industry / senior experts and students to solve real-world problems
        </p>
        <p>
          To integrate state-of-the-art academic and accredited laboratories with advanced manufacturing facilities on a
          single platform, creating a comprehensive network of product development and testing services accessible to
          all users at competitive prices.
        </p>
      </div>
      <div class="imagePart">
        <img src="../../assets/our-mission.png" />
      </div>
    </div>
  </div>
  <!-- <div class="contact_us">
    <p>
      We design and develop
      <u>mobile apps</u>
      that delight your users and grow your business.
    </p>
    <button>Contact Us</button>
  </div> -->
  <div class="amazing_team">
    <h2>About Us</h2>
    <p>
      At Inncyst, we are dedicated to bridging the gap between talent and opportunity. Our mission is to connect the
      diverse pool of student talent, their innovative projects, and the laboratories with users, enabling faster
      innovation at affordable prices.
    </p>
    <!-- <ul>
      <li>
        <img src="../../assets/cameron-williamson.png" />
        <h4>Cameron Williamson</h4>
        <span>Founder</span>
      </li>
      <li>
        <img src="../../assets/annette-black.png" />
        <h4>Annette Black</h4>
        <span>Co-Founder</span>
      </li>
      <li>
        <img src="../../assets/robert-fox.png" />
        <h4>Robert Fox</h4>
        <span>Art Director</span>
      </li>
      <li>
        <img src="../../assets/eleanor-pena.png" />
        <h4>Eleanor Pena</h4>
        <span>Project Manager</span>
      </li>
      <li>
        <img src="../../assets/darlene-robertson.png" />
        <h4>Darlene Robertson</h4>
        <span>UI Designer</span>
      </li>
      <li>
        <img src="../../assets/courtney-henry.png" />
        <h4>Courtney Henry</h4>
        <span>UI Designer</span>
      </li>
      <li>
        <img src="../../assets/floyd-miles.png" />
        <h4>Floyd Miles</h4>
        <span>Graphic Designer</span>
      </li>
      <li>
        <img src="../../assets/kristin-watson.png" />
        <h4>Kristin Watson</h4>
        <span>Illustrator</span>
      </li>
    </ul> -->

    <ul>
      <p>
        We strive to create a comprehensive platform that:
      </p>
      <li>
        <p>
          <b>Connects Recruiters and Talent</b> : Our platform allows recruiters to easily connect with interns and
          entry-level candidates based on their projects, experience, skills, and achievements, ensuring a perfect match
          for their needs.
        </p>
      </li>
      <li>
        <p>
          <b>howcases Student Talents</b> : We digitize academic projects to highlight the skills and creativity of
          students, generating a rich pool of fresh ideas and innovations.
        </p>
      </li>
      <li>
        <p>
          <b>Fosters Collaboration</b> : By facilitating collaboration between industry experts, senior professionals,
          and students, we tackle real-world challenges and drive impactful solutions.
        </p>
      </li>
      <li>
        <p>
          <b>Integrates Facilities</b> : Our platform brings together state-of-the-art academic and accredited
          laboratories alongside advanced manufacturing facilities, creating a comprehensive network of product
          development and testing services that are accessible to all users at competitive prices.
        </p>
    </ul>
    <p class="last_p">
      At Inncyst, we believe that by uniting talent and resources, we can foster a culture of innovation that benefits
      students, industries, and society as a whole. Join us in transforming ideas into reality!
    </p>
  </div>
  <!-- <div class="free_trial">
    <h3>Ready to collaborate?</h3>
    <h2>Start your free trial today!</h2>
    <button>Get Started</button>
  </div> -->
</section>
<app-footer></app-footer>