.about_us_sec {
  padding: 50px 0;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-top: 113px;
  h2 {
    color: #522d80;
    font-weight: 700;
    font-size: 80px;
    line-height: 86px;
    text-align: center;
    margin-bottom: 70px;
  }
  .about-banner {
    max-width: 1330px;
    margin: auto;
    img {
      width: 100%;
      max-height: 692px;
    }
  }
  .two_cont_img_sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 90px auto 0;
    h3 {
      font-weight: 700;
      font-size: 60px;
      line-height: 64px;
      color: #522d80;
      flex: 0 0 49%;
      margin: 0;
      letter-spacing: -3px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #1d1e25;
      flex: 0 0 36%;
      margin-left: auto;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url(../../assets/help-business-icon.png) no-repeat left top;
        left: -140px;
        width: 126px;
        height: 127px;
        bottom: -30px;
      }
    }
  }
  .works {
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .work_left {
      flex: 0 0 40%;
      h2 {
        color: #522d80;
        font-weight: 700;
        font-size: 60px;
        line-height: 64px;
        text-align: left;
        span {
          color: #19a6ec;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          display: block;
          margin-bottom: 10px;
        }
      }
      p {
        color: #1d1e25;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 60px;
      }
      .works_done {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 60px;
        img {
          margin-right: 36px;
        }
        strong {
          color: #1d1e25;
          font-weight: 700;
          font-size: 80px;
          line-height: 86px;
          span {
            color: #808d9e;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            display: block;
          }
        }
      }
    }
    .work_right {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      .image_col {
        margin-left: 28px;
        flex: 0 0 283px;
        img {
          margin-top: 25px;
        }
      }
    }
  }
  .our_vision {
    padding: 100px 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e4f5;
    .imagePart {
      flex: 0 0 688px;
    }
    .contentPart {
      background: #fbfbfb;
      box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      padding: 30px;
      text-align: center;
      margin-left: -100px;
      h3 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6f8ba4;
      }
    }
  }
  .our_mision {
    padding: 100px 0 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .imagePart {
      flex: 0 0 688px;
    }

    .contentPart {
      background: #fbfbfb;
      box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      padding: 30px;
      text-align: center;
      margin-right: -100px;
      position: relative;

      h3 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6f8ba4;
      }
    }
  }
  .contact_us {
    text-align: center;
    background: linear-gradient(133.79deg, #3f1f8d 3.75%, #673ab7 97.17%);
    padding: 80px 0;
    p {
      color: #ffffff;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 1px;
    }
    button {
      color: #ffffff;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      border: 1px solid #ffffff;
      border-radius: 8px;
      width: 230px;
      text-align: center;
      display: inline-block;
      padding: 15px 0;
      text-transform: uppercase;
      margin-top: 50px;
      background: transparent;
      &:hover {
        color: #673ab7;
        background: #fff;
      }
    }
  }
  .amazing_team {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px 0;
    h2 {
      color: #1d1e25;
      font-weight: 700;
      font-size: 80px;
      line-height: 86px;
      margin-bottom: 25px;
      display: inline-block;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url(../../assets/team-graphic-img.png) no-repeat;
        width: 112px;
        height: 108px;
        left: -90px;
      }
    }
    p.last_p {
      color: #3a3a3a;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
    }
    ul {
      margin: 0;
      padding: 70px 0;
      text-align: left;
      li {
        margin: 0 25px 0;
        h4 {
          color: #1d1e25;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          margin-top: 15px;
        }
        span {
          color: #808d9e;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .free_trial {
    background: #19a6ec;
    border-radius: 20px;
    padding: 100px 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url(../../assets/emoji-1.png) no-repeat;
      width: 83px;
      height: 83px;
      left: 106px;
      top: 80px;
    }
    &:after {
      content: "";
      position: absolute;
      background: url(../../assets/emoji-2.png) no-repeat;
      width: 72px;
      height: 72px;
      right: 100px;
      bottom: 133px;
    }
    h3 {
      color: rgba(255, 255, 255, 0.5);
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 20px;
    }
    h2 {
      color: #ffffff;
      font-weight: 700;
      font-size: 60px;
      line-height: 64px;
      margin-bottom: 0;
    }
    button {
      color: #2a85ff;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      border: 1px solid #ffffff;
      border-radius: 8px;
      width: 175px;
      text-align: center;
      display: inline-block;
      padding: 15px 0;
      text-transform: uppercase;
      margin-top: 60px;
      background: #fff;
      &:hover {
        color: #fff;
        background: transparent;
      }
    }
  }
}
