<section class="about_us_sec">
    <div class="container-fluid">
        <h2>We are small design team <br/>
        with a big passion</h2>
        <div class="about-banner">
            <img src="../../assets/about-us-banner.png" />
        </div>

        <div class="two_cont_img_sec">
            <h3>We help businesses <br/>
            also designers</h3>
            <p>We help people to grow their business using coca landing page ui kit with professional and powerfull digital solution. Let's collaborate with our young talented designers.</p>
        </div>

        <div class="works">
            <div class="work_left">
                <h2><span>AMAZING WORKS</span>Achievements<br/> so far</h2>
                <p>Donec bibendum, dui id ultrices molestie, neque neque porta felis, id viverra ligula justo interdum mi. Nunc malesuada, risus eu maximus consequat, purus enim ultricies nisi, elit ante et turpis.</p>
                <div class="works_done">
                    <img src="../../assets/Ic-Done.png" width="85" height="85" />
                    <strong>875+ <span>Projects Done</span></strong>
                </div>
                <div class="works_done">
                    <img src="../../assets/Ic-product.png" width="85" height="85" />
                    <strong>320 <span>Products Created</span></strong>
                </div>
            </div>
            <div class="work_right">

            </div>
        </div>
        <div class="our_vision">
            <div class="imagePart">
                <img src="../../assets/our-vision.png" />
            </div>
            <div class="contentPart">
                <h3>Our Vision</h3>
                <p>Quisque quis faucibus tellus, non tincidunt urna. Pellentesque faucibus aliquet mi, id efficitur nisl aliquam at.Phasellus volutpat lobortis consectetur. Duis efficitur iaculis ipsum ut sodales. Phasellus suscipit lectus eget sapien die lut accumsan, vitae auctor magna suscipit. Ut sagittis mauris auctor dictum semifeugiat. Duis lectus neque, aliquet quis justo euismod, vehicula felis. In luctus dui nec pretium.</p>
            </div>
        </div>
        <div class="our_mision">
            <div class="contentPart">
                <h3>Our Mission</h3>
                <p>Quisque quis faucibus tellus, non tincidunt urna. Pellentesque faucibus aliquet mi, id efficitur nisl aliquam at.Phasellus volutpat lobortis consectetur. Duis efficitur iaculis ipsum ut sodales. Phasellus suscipit lectus eget sapien die lut accumsan, vitae auctor magna suscipit. Ut sagittis mauris auctor dictum semifeugiat. Duis lectus neque, aliquet quis justo euismod, vehicula felis. In luctus dui nec pretium.</p>
            </div>
            <div class="imagePart">
                <img src="../../assets/our-mission.png" />
            </div>
        </div>
    </div>
    <div class="contact_us">
        <p>We design and develop <u>mobile apps</u> that delight your users and grow your business.</p>
        <button>Contact Us</button>
    </div>
    <div class="amazing_team">
        <h2>Amazing Team</h2>
        <p>We provide experienced advisors to help your company become more<br/> successful in the future.</p>
        <ul>
            <li>
                <img src="../../assets/cameron-williamson.png" />
                <h4>Cameron Williamson</h4>
                <span>Founder</span>
            </li>
            <li>
                <img src="../../assets/annette-black.png" />
                <h4>Annette Black</h4>
                <span>Co-Founder</span>
            </li>
            <li>
                <img src="../../assets/robert-fox.png" />
                <h4>Robert Fox</h4>
                <span>Art Director</span>
            </li>
            <li>
                <img src="../../assets/eleanor-pena.png" />
                <h4>Eleanor Pena</h4>
                <span>Project Manager</span>
            </li>
            <li>
                <img src="../../assets/darlene-robertson.png" />
                <h4>Darlene Robertson</h4>
                <span>UI Designer</span>
            </li>
            <li>
                <img src="../../assets/courtney-henry.png" />
                <h4>Courtney Henry</h4>
                <span>UI Designer</span>
            </li>
            <li>
                <img src="../../assets/floyd-miles.png" />
                <h4>Floyd Miles</h4>
                <span>Graphic Designer</span>
            </li>
            <li>
                <img src="../../assets/kristin-watson.png" />
                <h4>Kristin Watson</h4>
                <span>Illustrator</span>
            </li>
        </ul>
    </div>
    <div class="free_trial">
        <h3>Ready to collaborate?</h3>
        <h2>Start your free trial today!</h2>
        <button>Get Started</button>
    </div>
</section>