/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

::ng-deep .p-button:focus {
  box-shadow: none !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-feature-settings: "lnum" on, "pnum" on;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "icomoon";
  /* Import the files from the correct directory -> assets/icon/ */
  src: url("assets/icon/icomoon.eot?112bs6");
  src: url("assets/icon/icomoon.eot?112bs6#iefix") format("embedded-opentype"),
    url("assets/icon/icomoon.ttf?112bs6") format("truetype"),
    url("assets/icon/icomoon.woff?112bs6") format("woff"),
    url("assets/icon/icomoon.svg?112bs6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e903";
}

.icon-checkmark:before {
  content: "\e902";
}

.icon-calender:before {
  content: "\e901";
}

.icon-heart-1:before {
  content: "\e904";
}

.icon-hearts:before {
  content: "\e905";
}

// .icon-left-arrow:before {
//   content: "\e906";
// }

.icon-play:before {
  content: "\e907";
}

// .icon-right-arrow:before {
//   content: "\e908";
// }

.icon-search:before {
  content: "\e909";
}

.icon-user:before {
  content: "\e90a";
}

.icon-heart-11:before {
  content: "\e90b";
}

.icon-group-check:before {
  content: "\e90c";
}

.icon-left-arrow:before {
  content: "\e900";
}

.icon-right-arrow:before {
  content: "\e904";
}

.some-class {
  print-color-adjust: exact;
}


::ng-deep .p-dialog .p-dialog-header {
  padding: 0 !important;
}

body.sidebar-mini.layout-fixed.layout-navbar-fixed.sidebar-collapse .main-sidebar li.nav-item {
  margin: 0.5rem 0;
}

.os-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.sidebar-mini.layout-fixed.layout-navbar-fixed.sidebar-collapse img.brand-image-xs {
  padding-left: 7px;
  padding-right: 7px;
  max-height: 36px;
  object-fit: contain;
  visibility: visible;
  animation-name: fadeIn;
  left: 0px !important;
}

body.sidebar-mini.layout-fixed.layout-navbar-fixed.sidebar-collapse a.brand-link.logo-switch::before {
  display: none;
}

body.sidebar-mini.layout-fixed.layout-navbar-fixed.sidebar-collapse .leftbottom-card {
  visibility: hidden;
}

.p-overlaypanel-content {
  padding: 0.5rem 0rem !important;
}

.p-inputtext:enabled:focus {
  // border: 0;
  box-shadow: none;
}



.layout-navbar-fixed .wrapper .main-header {
  left: 0;
  position: relative !important;
  right: 0;
  top: 0;
  z-index: 1037;
  border-bottom: 0 !important;
}

.main-footer {
  border-top: 0;
}