<div class="job-profile-top">
    <span class="profile-img">

    </span>
    <h2>Rupam Saha</h2>
    <a>8583882759</a><br/>
    <a href="mailto:john.doe@gmail.com">john.doe@gmail.com</a><br/>
    <p>Description</p>
</div>
<div class="job-profile-info">
    <h3>Additional Info</h3>
    <p>
        <strong>Gender:</strong>
        <span>Male</span>
    </p>
    <p>
        <strong>Age:</strong>
        <span>24</span>
    </p>
    <p>
        <strong>Location:</strong>
        <span>Kolkata</span>
    </p>
    <p>
        <strong>Institution:</strong>
        <span>Male</span>
    </p>
    <p>
        <strong>Profile Created:</strong>
        <span>9th February, 2023 5:46 p.m</span>
    </p>
    <p>
        <strong>Date of Birth:</strong>
        <span>17th Dec, 1999</span>
    </p>
</div>

<div class="job-profile-info">
    <h3>Educational Info</h3>
    <p>
        <strong>Area of Interest:</strong>
        <span>Javascript</span>
    </p>
    <p>
        <strong>Role:</strong>
        <span>Student</span>
    </p>
    <p>
        <strong>Semester:</strong>
        <span>1</span>
    </p>
    <p>
        <strong>Skills:</strong>
        <span>C, C++, Java</span>
    </p>
    <p>
        <strong>Profile Created:</strong>
        <span>9th February, 2023 5:46 p.m</span>
    </p>
</div>