.wrapper {
  margin-top: 80px;
  padding: 0 20px;

  .text-wrapper {
    margin-bottom: 20px;

    p {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #522d80;
    }

    .header-text {
      font-weight: 600;
      font-size: 40px;
      line-height: 46px;
      color: #292929;
      position: relative;
      margin: 20px 0 30px;
    }

    .header-text::after {
      content: "";
      width: 60px;
      height: 3px;
      background: #4e2b7a;
      border-radius: 50px;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }

  .left-section {
    position: relative;

    .img-wrap {
      margin-bottom: 20px;
    }

    .overlap-setion {
      position: absolute;
      bottom: -182px;
      width: 95%;
      background-color: #ffffff5e;
      left: 0;
      border-radius: 10px;
      left: 20px;
      padding: 20px 30px;
      backdrop-filter: blur(18px);

      ul {
        display: flex;
        padding: 10px 0px !important;
        margin-bottom: 0;

        li {
          list-style: none;
          padding: 10px 20px 10px 0;
          color: #27ae60;
          padding-top: 10px;
          cursor: pointer;

          span {
            color: #ec8e11;
            padding-right: 5px;
          }
        }
      }

      .desc-section {
        .heading-text {
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          color: #292929;
          position: relative;
        }

        .heading-text::after {
          content: "";
          width: 60px;
          height: 3px;
          background: #ec8e11;
          border-radius: 50px;
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }

      ol {
        padding-top: 20px;

        li {
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #555555;
          }
        }
      }
    }
  }

  .right-section {
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;

        .post-wrapper {
          display: flex;
          width: 100%;

          .img-wrap {
            width: 40%;
            border-radius: 10px;
            overflow: hidden;
          }

          .desc {
            width: 60%;

            p {
              margin-bottom: 10px;
              color: #27ae60;

              span {
                color: #ec8e11;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .wrapper {
    .text-wrapper {
      .header-text {
        font-size: 25px;
        line-height: 30px;
      }
    }

    .row {
      .col-7 {
        width: 100%;
      }

      .col-5 {
        width: 100%;
      }
    }

    .left-section {
      .overlap-setion {
        position: static;
      }
    }

    .right-section {
      ul {
        padding-left: 0;

        li {
          .post-wrapper {
            .desc {
              margin-left: 20px;

              h5 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .wrapper {
    .left-section {
      .overlap-setion {
        position: static;
      }
    }

    .right-section {
      ul {
        padding: 20px 0 0;
      }
    }
  }
}