<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-wrapper">
                    <p>From Our Experience</p>
                    <h3 class="header-text">Read Our Latest News and Articles</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="left-section">
                    <div class="img-wrap">
                        <img width="800" height="400" src="../../../assets/post.png" alt="">
                    </div>
                    <div class="overlap-setion">
                        <ul>
                            <li><span class="icon-calender"></span> March 9, 2023</li>
                            <li><span class="icon-comment"></span>No Comments</li>
                        </ul>
                        <div class="desc-section">
                            <h3 class="heading-text">Here are some recent news and articles related to internships and jobs:</h3>
                            <ol>
                                <li>
                                    <p><q>The Pandemic's Impact on Internships and Entry-Level Jobs</q> (Forbes, March 9, 2023) This article discusses how the pandemic has affected internships and entry-level job opportunities. Many companies have scaled back or cancelled their internship programs, and the job market for recent graduates has become more competitive.</p>
                                </li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="right-section">
                    <ul>
                        <li>
                            <div class="post-wrapper">
                                <div class="img-wrap">
                                    <img src="../../../assets/we-do.png" alt="">
                                </div>
                                <div class="desc">
                                    <p><span class="icon-calender"></span> September 15, 2022</p>
                                    <h5>Why Gen Z Values Work-Life Balance More Than Any Other Generation" (Inc., February 23, 2023)</h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-wrapper">
                                <div class="img-wrap">
                                    <img src="../../../assets/we-do.png" alt="">
                                </div>
                                <div class="desc">
                                    <p><span class="icon-calender"></span> September 15, 2022</p>
                                    <h5>"How to Ace Your Virtual Job Interview" (CNN Business, February 28, 2023)</h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-wrapper">
                                <div class="img-wrap">
                                    <img src="../../../assets/we-do.png" alt="">
                                </div>
                                <div class="desc">
                                    <p><span class="icon-calender"></span>September 15, 2022</p>
                                    <h5>"Why Companies Should Offer Paid Internships" (Fast Company, March 2, 2023)</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>