.top_header_panel {
    display: flex;
    flex-direction: row;
    width: 90%;
    .search_panel {
        margin: 0 30px;
        flex:0 0 400px;
        max-width: 400px;
        ::ng-deep .p-inputgroup {
            height: 45px;
            border: 1px solid #E5E7EB;
            border-radius: 16px;
            button {
                background: none;
                border: none;
                color: #6B7280;
            }
            input {
                border: none;
                border-radius: 16px;
            }
        }
    }
}