<div class="top_header_panel">
  <div class="search_panel">
    <div class="p-inputgroup">
      <button type="button" pButton ><i class="pi pi-search"></i></button>
      <input type="text" pInputText placeholder="Search" />
    </div>
  </div>

  <div class="navbar-custome-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="theme-switch-wrapper nav-link">
          <label class="theme-switch" for="checkbox">
            <input (change)="switchTheme($event)" type="checkbox" id="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
