<div *ngIf="!questionStep" class="profileAdd">
  <h1>{{ profileData ? 'complete' : 'update' }} your profile</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div class="form_group">
      <div class="form_field_group">
        <label>Compnany Name</label>
        <input pInputText type="text" formControlName="companyName" />
      </div>
      <div class="form_field_group">
        <label>Compnany Name</label>
        <input pInputText type="text" formControlName="companyName" />
      </div>
      <div class="form_field_group">
        <label>Compnany established Year</label>
        <input type="text" formControlName="companyEstdYear" />
      </div>
      <div class="form_field_group">
        <label>Compnany Details</label>
        <input pInputText type="text" formControlName="aboutCompany" />
      </div>
      <div class="form_field_group">
        <label>Compnany employee</label>
        <input pInputText type="number" formControlName="empCount" />
      </div>
      <div class="form_field_group">
        <label>Compnany workplace</label>
        <input pInputText type="text" formControlName="workPlace" />
      </div>
      <div class="form_field_group">
        <label>Branch Office</label>
        <input pInputText type="text" formControlName="branchOffice" />
      </div>
      <div class="form_field_group">
        <label>Corporate Office</label>
        <input pInputText type="text" formControlName="corporateOffice" />
      </div>
      <div class="form_field_group">
        <div class="file-input-container">
          <input type="file" (change)="onFileSelected($event)" class="file-input" id="fileInput">
          <label for="fileInput" class="custom-button">Choose File</label>
        </div>
        <!-- <button (click)="uploadImage()">Upload Image</button> -->
      </div>
    </div>
    <!-- <div>
    <img src=""  formControlName="workPlace">
</div> -->
    <!-- <button type="submit" *ngIf="submitButton">submit</button> -->
  </form>
  <!-- <button (click)="editProfile()" *ngIf="!submitButton && questionStep">Edit Profile</button> -->
  <!-- <button (click)="getProfile()">getProfile details</button> -->
  <div class="form_footer_group">
    <button (click)="addPortfolio()" *ngIf="!questionStep">Add</button>
  </div>
</div>

<div
  *ngIf="(profileData | json) != '{}' && viewProfile && questionStep"
  class="profileAdd profileView"
>
  <h3 class="my-4 text-center font-weight-bold">View your profile</h3>
  <div class="form_group">
    <div class="form_group_inline">
      <i class="pi pi-building comapnyName"></i>
      <div class="form_field_group">
        <label>Compnany Name</label>
        <p>{{ profileData.companyName }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-calendar-times estYear"></i>
      <div class="form_field_group">
        <label>Company Established Year</label>
        <p>{{ profileData.companyEstdYear }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-info detailCompany"></i>
      <div class="form_field_group">
        <label>Company Details</label>
        <p>{{ profileData.aboutCompany }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-users employeeCompany"></i>
      <div class="form_field_group">
        <label>Compnany Employee</label>
        <p>{{ profileData.empCount }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-desktop workplaceCompany"></i>
      <div class="form_field_group">
        <label>Compnany Workplace</label>
        <p>{{ profileData.workPlace }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-building branchCompany"></i>
      <div class="form_field_group">
        <label>Branch Office</label>
        <p>{{ profileData.branchOffice }}</p>
      </div>
    </div>

    <div class="form_group_inline">
      <i class="pi pi-building corpoCompany"></i>
      <div class="form_field_group">
        <label>Corporate office</label>
        <p>{{ profileData.corporateOffice }}</p>
      </div>
    </div>

    <div class="img-section">
      <img [src]="profileData.image" alt="" />
    </div>
  </div>

  <!-- <p>COMPANY established Year:- {{ profileData.companyEstdYear }}</p>
  <p>Company Details:-- {{ profileData.aboutCompany }}</p>
  <p>Company employee ::-- {{ profileData.empCount }}</p>

  <p>Company workPlace:- {{ profileData.workPlace }}</p>
  <p>Branch Office:-- {{ profileData.branchOffice }}</p>
  <p>Corporate Office:-- {{ profileData.corporateOffice }}</p> -->

  <div class="form_footer_group">
    <button (click)="editProfile()" *ngIf="!submitButton && questionStep">
      Edit Profile
    </button>
  </div>
</div>

<div *ngIf="editProfileData && !viewProfile" class="profileAdd">
  <h3 class="my-4 text-center font-weight-bold">
    {{ profileData ? 'update' : 'complete' }} your profile
  </h3>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div class="form_group">
      <div class="form_field_group">
        <label>Compnany Name</label>
        <input pInputText type="text" formControlName="companyName" />
      </div>
      <div class="form_field_group">
        <label>Compnany Name</label>
        <input pInputText type="text" formControlName="companyName" />
      </div>
      <div class="form_field_group">
        <label>Compnany established Year</label>
        <input pInputText type="text" formControlName="companyEstdYear" />
      </div>
      <div class="form_field_group">
        <label>Compnany Details</label>
        <textarea
          pInputText
          type="text"
          formControlName="aboutCompany"
        ></textarea>
      </div>
      <div class="form_field_group">
        <label>Compnany employee</label>
        <input pInputText type="number" formControlName="empCount" />
      </div>
      <div class="form_field_group">
        <label>Compnany workplace</label>
        <input pInputText type="text" formControlName="workPlace" />
      </div>
      <div class="form_field_group">
        <label>Branch Office</label>
        <input pInputText type="text" formControlName="branchOffice" />
      </div>
      <div class="form_field_group">
        <label>Corporate Office</label>
        <input pInputText type="text" formControlName="corporateOffice" />
      </div>
      <div *ngIf="!openImageUploadButton" class="img-section">
        <img [src]="profileForm.get('image')?.value" alt="" />
        <button
          (click)="removeImage()"
          *ngIf="profileData.image"
          class="remove-img"
        >
          <i class="pi pi-times"></i>
        </button>
      </div>
      <div class="form_field_group">

        <div class="file-input-container edit-container">
          <input
          type="file"
          *ngIf="openImageUploadButton"
          (change)="onFileSelected($event)" class="file-input" id="fileInput">
          <label for="fileInput" class="custom-button">Choose File</label>
        </div>
        <!-- <button (click)="uploadImage()">Upload Image</button> -->
      </div>
    </div>
    <div class="form_footer_group">
      <button type="submit">Update</button>
    </div>
  </form>
</div>

<app-loader *ngIf="loading"></app-loader>
