<div *ngIf="!questionStep">
  <h1>please {{ profileData ? 'update' : 'complete' }} your profile.</h1>
  <!-- <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div>
      <label>Compnany Name <sup>*</sup></label>
      <input pInputText type="text" formControlName="companyName" />
    </div>
    <div>
      <label>Compnany established Year <sup>*</sup></label>
      <input type="text" formControlName="companyEstdYear" />
    </div>
    <div>
      <label>Compnany Details <sup>*</sup></label>
      <input pInputText type="text" formControlName="aboutCompany" />
    </div>
    <div>
      <label>Compnany employee <sup>*</sup></label>
      <input pInputText type="number" formControlName="empCount" />
    </div>
    <div>
      <label>Compnany workplace <sup>*</sup></label>
      <input pInputText type="text" formControlName="workPlace" />
    </div>
    <div>
      <label>Branch Office </label>
      <input pInputText type="text" formControlName="branchOffice" />
    </div>
    <div>
      <label>Corporate Office</label>
      <input pInputText type="text" formControlName="corporateOffice" />
    </div>
    <div>
      <input type="file" (change)="onFileSelected($event)" /><sup>*</sup>
    </div>
  </form> -->

  <!-- app.component.html -->
  <form
    [formGroup]="profileForm"
    (ngSubmit)="submitForm()"
    class="p-fluid profile-form"
  >
    <div class="p-field">
      <label for="companyName">
        Company Name
        <sup>*</sup>
      </label>
      <input
        id="companyName"
        type="text"
        pInputText
        formControlName="companyName"
      />
    </div>

    <div class="p-field">
      <label for="companyEstdYear">
        Company established Year
        <sup>*</sup>
      </label>
      <input
        id="companyEstdYear"
        type="text"
        pInputText
        formControlName="companyEstdYear"
      />
    </div>

    <div class="p-field">
      <label for="aboutCompany">
        Company Details
        <sup>*</sup>
      </label>
      <input
        id="aboutCompany"
        type="text"
        pInputText
        formControlName="aboutCompany"
      />
    </div>

    <div class="p-field">
      <label for="empCount">
        Company Employee
        <sup>*</sup>
      </label>
      <input
        id="empCount"
        type="number"
        pInputNumber
        formControlName="empCount"
      />
    </div>

    <div class="p-field">
      <label for="workPlace">
        Company Workplace
        <sup>*</sup>
      </label>
      <input
        id="workPlace"
        type="text"
        pInputText
        formControlName="workPlace"
      />
    </div>

    <div class="p-field">
      <label for="branchOffice">Branch Office</label>
      <input
        id="branchOffice"
        type="text"
        pInputText
        formControlName="branchOffice"
      />
    </div>

    <div class="p-field">
      <label for="corporateOffice">Corporate Office</label>
      <input
        id="corporateOffice"
        type="text"
        pInputText
        formControlName="corporateOffice"
      />
    </div>

    <div class="p-field">
      <label for="file">
        Upload Image
        <sup>*</sup>
      </label>
      <p-fileUpload
        name="file"
        accept="image/*"
        (onSelect)="onFileSelected($event)"
        mode="basic"
      ></p-fileUpload>
    </div>

    <button pButton type="submit" label="Submit" class="submit-button"></button>
  </form>

  <button (click)="addPortfolio()" *ngIf="!questionStep" class="add-button">
    add
  </button>
</div>

<!-- <div *ngIf="(profileData | json) != '{}' && viewProfile && questionStep">
  <p>COMPANNY NAME:- {{ profileData.companyName }}</p>
  <p>COMPANY established Year:- {{ profileData.companyEstdYear }}</p>
  <p>Company Details:- {{ profileData.aboutCompany }}</p>
  <p>Company employee ::- {{ profileData.empCount }}</p>

  <p>Company workPlace:- {{ profileData.workPlace }}</p>
  <p>Branch Office:- {{ profileData.branchOffice }}</p>
  <p>Corporate Office:- {{ profileData.corporateOffice }}</p>

  <br />
  <img [src]="profileData.image" alt="" />

  <button (click)="editProfile()" *ngIf="!submitButton && questionStep">
    Edit Profile
  </button>
</div> -->

<!-- YourComponent.component.html -->
<div
  *ngIf="(profileData | json) !== '{}' && viewProfile && questionStep"
  class="profile-container p-shadow-3 p-fluid"
>
  <div class="image-wrapper-ind">
    <img [src]="profileData.image" alt="Profile Image" class="profile-image" />
  </div>
  <div class="profile-details">
    <div class="profile-item">
      <strong>COMPANY NAME:</strong>
      {{ profileData.companyName }}
    </div>
    <div class="profile-item">
      <strong>COMPANY established Year:</strong>
      {{ profileData.companyEstdYear }}
    </div>
    <div class="profile-item">
      <strong>Company Details:</strong>
      {{ profileData.aboutCompany }}
    </div>
    <div class="profile-item">
      <strong>Company employee:</strong>
      {{ profileData.empCount }}
    </div>
    <div class="profile-item">
      <strong>Company workPlace:</strong>
      {{ profileData.workPlace }}
    </div>
    <div class="profile-item">
      <strong>Branch Office:</strong>
      {{ profileData.branchOffice }}
    </div>
    <div class="profile-item">
      <strong>Corporate Office:</strong>
      {{ profileData.corporateOffice }}
    </div>
  </div>
  <button
    pButton
    type="button"
    (click)="editProfile()"
    *ngIf="!submitButton && questionStep"
    class="edit-button p-button-rounded p-button-outlined p-button-text"
  >
    Edit Profile
  </button>
</div>
<!-- <div *ngIf="editProfileData && !viewProfile">
  <h1>please {{ profileData ? 'update' : 'complete' }} your profile........</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div>
      <label>
        Compnany Name
        <sup>*</sup>
      </label>
      <input pInputText type="text" formControlName="companyName" />
    </div>
    <div>
      <label>
        Compnany established Year
        <sup>*</sup>
      </label>
      <input pInputText type="text" formControlName="companyEstdYear" />
    </div>
    <div>
      <label>
        Compnany Details
        <sup>*</sup>
      </label>
      <textarea
        pInputText
        type="text"
        formControlName="aboutCompany"
      ></textarea>
    </div>
    <div>
      <label>
        Compnany employee
        <sup>*</sup>
      </label>
      <input pInputText type="number" formControlName="empCount" />
    </div>
    <div>
      <label>
        Compnany workplace
        <sup>*</sup>
      </label>
      <input pInputText type="text" formControlName="workPlace" />
    </div>
    <div>
      <label>Branch Office</label>
      <input pInputText type="text" formControlName="branchOffice" />
    </div>
    <div>
      <label>Corporate Office</label>
      <input pInputText type="text" formControlName="corporateOffice" />
    </div>
    <div *ngIf="!openImageUploadButton">
      <img [src]="profileForm.get('image')?.value" alt="" />
      <button (click)="removeImage()" *ngIf="profileData.image">X</button>
    </div>
    <div>
      <input
        type="file"
        *ngIf="openImageUploadButton"
        (change)="onFileSelected($event)"
      />
    </div>
    <button type="submit">submit</button>
  </form>
</div> -->

<!-- YourComponent.component.html -->
<div
  *ngIf="editProfileData && !viewProfile"
  class="profile-edit-container p-fluid"
>
  <h1 class="profile-heading">
    {{ profileData ? 'Update' : 'Complete' }} your profile
  </h1>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="submitForm()"
    class="p-fluid profile-form"
  >
    <div class="p-field">
      <label for="companyName">
        Company Name
        <sup>*</sup>
      </label>
      <input
        id="companyName"
        pInputText
        type="text"
        formControlName="companyName"
      />
    </div>
    <div class="p-field">
      <label for="companyEstdYear">
        Company established Year
        <sup>*</sup>
      </label>
      <input
        id="companyEstdYear"
        pInputText
        type="text"
        formControlName="companyEstdYear"
      />
    </div>
    <div class="p-field">
      <label for="aboutCompany">
        Company Details
        <sup>*</sup>
      </label>
      <textarea
        id="aboutCompany"
        pInputTextarea
        type="text"
        formControlName="aboutCompany"
      ></textarea>
    </div>
    <div class="p-field">
      <label for="empCount">
        Company employee
        <sup>*</sup>
      </label>
      <input
        id="empCount"
        pInputNumber
        type="number"
        formControlName="empCount"
      />
    </div>
    <div class="p-field">
      <label for="workPlace">
        Company workplace
        <sup>*</sup>
      </label>
      <input
        id="workPlace"
        pInputText
        type="text"
        formControlName="workPlace"
      />
    </div>
    <div class="p-field">
      <label for="branchOffice">Branch Office</label>
      <input
        id="branchOffice"
        pInputText
        type="text"
        formControlName="branchOffice"
      />
    </div>
    <div class="p-field">
      <label for="corporateOffice">Corporate Office</label>
      <input
        id="corporateOffice"
        pInputText
        type="text"
        formControlName="corporateOffice"
      />
    </div>
    <div *ngIf="!openImageUploadButton" class="image-preview">
      <div class="image-wrapper-ind">
        <img [src]="profileForm.get('image')?.value" alt="" />
      </div>
      <button
        pButton
        type="button"
        (click)="removeImage()"
        *ngIf="profileData.image"
        class="remove-button"
      >
        X
      </button>
    </div>
    <div class="p-field">
      <input
        type="file"
        *ngIf="openImageUploadButton"
        (change)="onFileSelected($event)"
      />
    </div>
    <button pButton type="submit" label="Submit" class="submit-button"></button>
  </form>
</div>

<app-loader *ngIf="loading"></app-loader>
