<div *ngIf="!questionStep">
  <h1>please {{ profileData ? "update" : "complete" }} your profile........</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div>
      <label>Compnany Name</label>
      <input type="text" formControlName="companyName" />
    </div>
    <div>
      <label>Compnany established Year</label>
      <input type="text" formControlName="companyEstdYear" />
    </div>
    <div>
      <label>Compnany Details</label>
      <input type="text" formControlName="aboutCompany" />
    </div>
    <div>
      <label>Compnany employee</label>
      <input type="number" formControlName="empCount" />
    </div>
    <div>
      <label>Compnany workplace</label>
      <input type="text" formControlName="workPlace" />
    </div>

    <div>
      <input type="file" (change)="onFileSelected($event)" />
      <!-- <button (click)="uploadImage()">Upload Image</button> -->
    </div>

    <!-- <div>
    <img src=""  formControlName="workPlace">
</div> -->
    <!-- <button type="submit" *ngIf="submitButton">submit</button> -->
  </form>
  <!-- <button (click)="editProfile()" *ngIf="!submitButton && questionStep">Edit Profile</button> -->
  <!-- <button (click)="getProfile()">getProfile details</button> -->
  <button (click)="addPortfolio()" *ngIf="!questionStep">add</button>
</div>

<div *ngIf="(profileData | json) != '{}' && viewProfile && questionStep">
  <p>COMPANNY NAME:-- {{ profileData.companyName }}</p>
  <p>COMPANY established Year:- {{ profileData.companyEstdYear }}</p>
  <p>Company Details:-- {{ profileData.aboutCompany }}</p>
  <p>Company employee ::-- {{ profileData.empCount }}</p>

  <p>Company workPlace:- {{ profileData.workPlace }}</p>

  <br />
  <img [src]="profileData.image" alt="" />

  <button (click)="editProfile()" *ngIf="!submitButton && questionStep">
    Edit Profile
  </button>
</div>

<div *ngIf="editProfileData && !viewProfile">
  <h1>please {{ profileData ? "update" : "complete" }} your profile........</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div>
      <label>Compnany Name</label>
      <input type="text" formControlName="companyName" />
    </div>
    <div>
      <label>Compnany established Year</label>
      <input type="text" formControlName="companyEstdYear" />
    </div>
    <div>
      <label>Compnany Details</label>
      <input type="text" formControlName="aboutCompany" />
    </div>
    <div>
      <label>Compnany employee</label>
      <input type="number" formControlName="empCount" />
    </div>
    <div>
      <label>Compnany workplace</label>
      <input type="text" formControlName="workPlace" />
    </div>
    <div *ngIf="!openImageUploadButton">
      <img [src]="profileForm.get('image')?.value" alt="" />
      <button (click)="removeImage()" *ngIf="profileData.image">X</button>
    </div>
    <div>
      <input
        type="file"
        *ngIf="openImageUploadButton"
        (change)="onFileSelected($event)"
      />
      <!-- <button (click)="uploadImage()">Upload Image</button> -->
    </div>
    <button type="submit">submit</button>
  </form>
</div>


<app-loader *ngIf="loading "></app-loader>