<div class="body-bg" style="position: fixed; width: 100%;">
    <img src="https://img.freepik.com/free-vector/gradient-background-vector-gray-color-with-cube-patterns_53876-128364.jpg?t=st=1727198502~exp=1727202102~hmac=d9654235da5760fa1e071b311c1227fede3ea26ae6f05cccfaf8eaaa36a76d35&w=996" width="100%" alt="">
</div>
<app-header></app-header>
<app-slider></app-slider>
<app-apply-section></app-apply-section>
<app-get-job></app-get-job>
<app-what-we-do></app-what-we-do>
<app-video-section></app-video-section>
<!-- <app-gallery-section></app-gallery-section> -->
<app-our-team></app-our-team>
<app-testimonials></app-testimonials>
<!-- <app-visitors></app-visitors> -->
<app-exprience></app-exprience>
<app-footer></app-footer>