<div class="container-fluid">
  <div class="sup-signup-wrapper" *ngIf="signupPageHide">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="left-section">
          <div class="left-image-wrapper">
            <app-registration-nav></app-registration-nav>
            <div class="intro">
              <div class="desc text-center">
                <h1>Get Started With Us</h1>
                <p>
                  Unlock a world of opportunities with our comprehensive
                  platform to help you achieve your career goals and drive
                  innovation
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="right-section">
          <div class="form-wrapper">
            <h3>
              SIGN UP
              <span>as</span>
            </h3>
            <div class="social-signup">
              <div
                class="social-icon-sign google-sign"
                (click)="ssoLogin('google-oauth2')"
              >
                <img
                  src="../../../assets/icon/google.png"
                  width="30px"
                  height="30px"
                  alt="google-signup"
                />
                Sign up with Google
              </div>
              <div
                class="social-icon-sign linkdin-sign"
                (click)="ssoLogin('linkedin')"
              >
                <img
                  src="../../../assets/icon/linkedin.png"
                  width="25px"
                  height="25px"
                  alt="linkedin-signup"
                />
                Sign up with Linkdin
              </div>
            </div>
            <p class="divider">
              <span>or</span>
            </p>
            <app-registration-tab
              (currentTabInfo)="currentTab($event)"
            ></app-registration-tab>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="otp-wrapper" *ngIf="otpPageOpen">
    <div class="left-section">
      <div class="left-image-wrapper">
        <img src="../../../assets/signup-img.svg" alt="" />
      </div>
    </div>
    <div class="right-section">
      <div class="form-wrapper">
        <h5>OTP Verification</h5>
        <div class="col-12 md:col-12 mt-3 mb-4 form-wrapper-section">
          <div class="text-area">
            <p class="heading-line">
              Enter the 4 digit OTP code sent at your email
              <b>{{ userEmail }}</b>
            </p>
            <a class="cancel-btn" herf="#">Cancel</a>
          </div>
          <div class="otp-input-section">
            <label class="field-label">
              Enter OTP
              <sup>*</sup>
            </label>
            <span class="p-float-label">
              <ng-otp-input
                *ngIf="redirectToOtp === true"
                #ngOtpInput1
                [config]="{ length: 4 }"
                (onInputChange)="onEmailOtpChange($event)"
              ></ng-otp-input>
            </span>
          </div>
          <div class="resend-section" (click)="resendOtp('email')">
            Didn’t received the code?
            <a>Resend Code</a>
          </div>
        </div>
        <div class="devider"></div>
        <div class="col-12 md:col-12 mt-3 mb-4 form-wrapper-section">
          <div class="text-area">
            <p class="heading-line">
              Enter the 4 digit OTP code sent at your Number
              <b>+91 {{ phone }}</b>
            </p>
          </div>
          <div class="otp-input-section">
            <label class="field-label">
              Enter OTP
              <sup>*</sup>
            </label>
            <span class="p-float-label">
              <ng-otp-input
                #ngOtpInput2
                [config]="{ length: 4 }"
                (onInputChange)="onPhoneOtpChange($event)"
              ></ng-otp-input>
            </span>
          </div>
          <div class="resend-section" (click)="resendOtp('phone')">
            Didn’t received the code?
            <a>Resend Code</a>
          </div>
        </div>
        <div class="submit-btn">
          <p-button
            class="submit-btns"
            type="submit"
            label="verify"
            (onClick)="onSubmitOtp()"
          ></p-button>
        </div>
        <div class="login-area mb-3 mt-3">
          <a [routerLink]="['/Login']">
            <span>Back to login</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-registration-footer></app-registration-footer>
</div>
