h1,
h2,
span,
p,
button {
  font-family: "Poppins", sans-serif !important;
}

.sup-signup-wrapper {
  height: 100vh;
  display: flex;
  // background-color: #000;

  .row {
    align-items: flex-start;

    .left-section {
      padding: 2rem;

      .left-image-wrapper {
        width: 100%;
        height: 90vh;
        background-image: url(../../../assets/bg/registraion-bg-line.png), linear-gradient(45deg, #1c5893, #522d80 70%);
        background-size: cover;
        background-blend-mode: multiply;
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 20px;

        .intro {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4rem;
          height: 100%;
          max-width: 80%;
          margin: 0 auto;
          color: #fff;

          .logo {
            filter: drop-shadow(-4px 6px 6px #000) brightness(1.4);
          }

          h1 {
            font-size: 3.2rem;
            font-weight: 300;
            margin: 15px 0;
          }

          p {
            text-align: center;
            font-size: 0.75rem;
            line-height: 1.7;
            font-weight: 200;
          }


        }

      }
    }

    .right-section {
      padding: 0;
      transform: scale(0.9);

      .social-signup-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px 0;

        button {
          background-color: #fff;
          color: #003060;
          font-weight: 600;
          font-size: 0.75rem;
          padding: 15px;
          width: auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
          transition: all 0.2s ease-in-out;
          text-align: left;
          gap: 12px;

          &:hover {
            transform: scale(0.9);
          }

          i {
            font-size: 1rem;
          }

          p {
            text-align: left;
            margin-bottom: -0;
            font-weight: 500;
            line-height: 1.6;
            font-size: 0.7rem;

            span {
              font-weight: 700;
              font-size: 0.9rem;
            }
          }

        }
      }
    }
  }
}


// @media only screen and (min-width:768px) and (max-width:1023px) {
//   .sup-signup-wrapper {
//     .row {
//       .right-section {
//         transform: scale(0.8);
//       }
//     }
//   }
// }


::ng-deep .p-inputtext {
  border-radius: 15px;
  height: 45px;
  font-size: 0.83rem;
  padding: 0 20px;
  font-weight: 400;

  label {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1;
    color: #522d80;

  }

}


.register {
  ::ng-deep p-splitbutton {
    .p-splitbutton {
      .p-button {
        background: #522d80;
        border: 1px solid #522d80;
      }
    }
  }
}

.sign-up-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // padding-top: 237px;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;

    .left-image-wrapper {
      img {
        width: 100%;
      }
    }
  }

  .right-section {
    width: 50%;
    padding-left: 50px;

    .form-wrapper {
      max-width: 525px;
      padding: 0 20px;

      h3 {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #522d80;
        margin-bottom: 30px;
      }

      .social-signup-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px 0;

        button {
          background-color: #fff;
          color: #003060;
          font-weight: 600;
          font-size: 0.75rem;
          padding: 15px;
          width: auto;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          transition: all 0.2s ease-in-out;
          text-align: left;
          gap: 12px;

          &:hover {
            transform: scale(0.9);
          }

          i {
            font-size: 2rem;
          }

          p {
            text-align: left;
            margin-bottom: -4px;
            font-weight: 500;
            line-height: 1.6;
            font-size: 0.7rem;

            span {
              font-weight: 700;
              font-size: 0.9rem;
            }
          }

        }
      }
    }
  }
}

.full-width {
  margin-bottom: 45px !important;

  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;
  margin-bottom: 45px !important;
  position: relative;

  .p-inputwrapper {
    width: 100%;

    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

::ng-deep .p-float-label>label {
  font-weight: 300 !important;
}

::ng-deep .p-float-label {

  & .p-inputwrapper-filled~label,
  & .p-inputwrapper-focus~label {
    font-size: 16px;
    top: -20px;
  }

  input {

    &:focus~label,
    &.p-filled~label {
      font-size: 16px;
      top: -20px;
    }
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  margin-bottom: 45px !important;
  position: relative;

  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #3b82f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #3b82f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    display: block;
    padding: 0;
    height: 62px;
    line-height: 62px;
  }
}

.login-area {
  text-align: center;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

.checkbox-sec {
  input {
    margin-right: 10px;
  }

  label {
    color: #9a9ab0;
    font-weight: 400;
    font-size: 14px;
  }
}

.error_msg {
  position: absolute;
  right: 0;
  color: #e24c4c;
  font-size: 12px;
}

.otp-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 130px;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;
  }

  .right-section {
    width: 50%;
  }
}

.form-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #522d80;

    span {
      font-weight: 400;
      font-size: 1rem;
      padding-left: 0.5rem;
    }
  }

  p {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.85rem 0;
  }

  .social-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 4rem;

    .social-icon-sign {
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 5px 20px;
      font-size: 0.8rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }

  }

  p.divider {
    width: 76%;
    text-align: center;
    position: relative;
    margin: 1.5rem 0;

    span {
      background-color: #fff;
      padding: 5px 15px;
      z-index: 9;
      position: relative;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }

  }
}

.full-width {
  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;

  .p-inputwrapper {
    width: 100%;

    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #3b82f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #3b82f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
  }
}

.login-area {
  text-align: center;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

.form-wrapper-section {
  padding: 0 30px;

  .text-area {
    display: flex;
    justify-content: space-between;

    .heading-line {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #373f46;

      b {
        display: block;
      }
    }

    .cancel-btn {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: right;
      color: #522d80;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .otp-input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .field-label {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      text-transform: capitalize;
      color: #373f46;
      margin-bottom: 10px;
    }
  }

  .resend-section {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: #522d80;
    }
  }
}

.devider {
  width: 86px;
  height: 3px;
  background: #522d80;
  margin: 0 auto;
  border-radius: 10px;
}

.back-btn {
  background: none;
  border: 1px solid #ddd;
  padding: 10px 30px;
  transition: 0.3s all ease-in-out;
  color: rgb(0 0 0);
  border-radius: 4px;
  box-shadow: 2px 3px 2px 0px #ddd;
}

.back-btn:hover {
  background: #8cd3f636;
  transition: 0.3s all ease-in-out;
  color: #522d80;
}

.back-btn:hover i {
  color: #522d80;
}

.back-btn i {
  padding-right: 5px;
}

.back {
  color: rgb(0, 0, 0);
}