<div class="container-fluid">
  <div class="sign-up-wrapper">
    <div class="left-section">
      <div class="left-image-wrapper">
        <img src="../../../assets/signup-bg.png" alt="" />
      </div>
    </div>
    <div class="right-section">
      <div class="form-wrapper">
        <h5>Sign Up</h5>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="col-12 md:col-12 mt-3 mb-4 full-width-number-field">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                pInputText
                class=""
                formControlName="userName"
              />
              <label for="float-input">Name</label>
            </span>
            <div
              *ngIf="
                (isSubmited && registerForm.get('userName')?.invalid) ||
                (registerForm.get('userName')?.invalid &&
                  (registerForm.get('userName')?.dirty ||
                    registerForm.get('userName')?.touched))
              "
              class=""
            >
              <div *ngIf="registerForm.get('userName')?.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="registerForm.get('userName')?.errors?.['minlength']">
                Minimum 4 Charactar Required.
              </div>
            </div>
          </div>
          <div class="col-12 md:col-12 mt-3 mb-4 full-width-number-field">
            <span class="p-float-label">
              <input type="email" pInputText formControlName="email" />
              <label for="float-input">Email</label>
            </span>
            <div
              *ngIf="
                (isSubmited && registerForm.get('email')?.invalid) ||
                (registerForm.get('email')?.invalid &&
                  (registerForm.get('email')?.dirty ||
                    registerForm.get('email')?.touched))
              "
              class=""
            >
              <div *ngIf="registerForm.get('email')?.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="registerForm.get('email')?.errors?.['email']">
                Not Correct Format
              </div>
            </div>
          </div>
          <div class="col-12 md:col-12 mt-3 mb-4 full-width-number">
            <span class="p-float-label">
              <p-inputNumber
                formControlName="mobile"
                inputId="withoutgrouping"
                [useGrouping]="false"
                value=""
              ></p-inputNumber>
              <label for="float-input">Mobile Number</label>
            </span>
            <div
              *ngIf="
                (isSubmited && registerForm.get('mobile')?.invalid) ||
                (registerForm.get('mobile')?.invalid &&
                  (registerForm.get('mobile')?.dirty ||
                    registerForm.get('mobile')?.touched))
              "
              class=""
            >
              <div *ngIf="registerForm.get('mobile')?.errors?.['required']">
                mobile number is required.
              </div>
              <div *ngIf="registerForm.get('mobile')?.errors?.['pattern']">
                Minimum 10 Charactar Required.
              </div>
            </div>
          </div>
          <div class="col-12 md:col-12 mt-3 mb-4 full-width">
            <span class="p-float-label">
              <p-password
                formControlName="password"
                [toggleMask]="true"
              ></p-password>
              <label for="float-input">Password</label>
            </span>
            <div
              *ngIf="submitted && registerForm.get('password')?.errors"
              class="alert alert-danger"
            >
              <div *ngIf="registerForm.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>
          </div>
          <div class="col-12 md:col-12 mt-3 mb-4 full-width">
            <span class="p-float-label">
              <p-password formControlName="confirmPassword"></p-password>
              <label for="float-input">Confirm Password</label>
            </span>
            <div
              *ngIf="submitted && registerForm.get('confirmPassword')?.errors"
              class="alert alert-danger"
            >
              <div
                *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
              >
                Confirm Password is required
              </div>

              <div
                *ngIf="registerForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']"
              >
                Passsword and Confirm Password didn't match.
              </div>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-3 mb-4 dropdown-full-width mt-5">
            <span class="p-float-label">
              <p-dropdown
                [options]="options"
                optionLabel="optionName"
                formControlName="options"
                optionValue="optionName"
                formControlName="options"
              ></p-dropdown>
              <label class="dropdown-lable-field" for="float-input">
                Select The correct option
              </label>
            </span>
          </div>
          <div class="col-12 md:col-12 mt-3 mb-3">
            <span class="checkbox-sec">
              <input type="checkbox" formControlName="agree" />
              <label>I have read and agree to the Terms of Service</label>
            </span>
            <div
              *ngIf="isSubmited && registerForm.get('mobile')?.invalid"
              class=""
            >
              <div *ngIf="registerForm.get('agree')?.errors?.['required']">
                check before submit.
              </div>
            </div>
          </div>
          <div class="submit-btn">
            <p-button
              class="submit-btns"
              type="submit"
              label="Sign up"
            ></p-button>
          </div>
        </form>

        <div (click)="registrationLoginOption()" class="login-area mb-3 mt-3">
          <a href="javascript:void(0)" (click)="redirectToLogin()">
            Already registered?
            <span>Login</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
