.register {
  ::ng-deep p-splitbutton {
    .p-splitbutton {
      .p-button {
        background: #522d80;
        border: 1px solid #522d80;
      }
    }
  }
}

.sign-up-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // padding-top: 237px;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;

    .left-image-wrapper {
      img {
        width: 100%;
      }
    }
  }

  .right-section {
    width: 50%;
    padding-left: 50px;

    .form-wrapper {
      max-width: 525px;
      padding: 0 20px;

      h5 {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #522d80;
        margin-bottom: 30px;
      }
    }
  }
}

.full-width {
  margin-bottom: 45px !important;

  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;
  margin-bottom: 45px !important;
  position: relative;

  .p-inputwrapper {
    width: 100%;

    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

::ng-deep .p-float-label>label {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #522d80;
}

::ng-deep .p-float-label {

  & .p-inputwrapper-filled~label,
  & .p-inputwrapper-focus~label {
    font-size: 16px;
    top: -20px;
  }

  input {

    &:focus~label,
    &.p-filled~label {
      font-size: 16px;
      top: -20px;
    }
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  margin-bottom: 45px !important;
  position: relative;

  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #3b82f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #3b82f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    display: block;
    padding: 0;
    height: 62px;
    line-height: 62px;
  }
}

.login-area {
  text-align: center;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

.checkbox-sec {
  input {
    margin-right: 10px;
  }

  label {
    color: #9a9ab0;
    font-weight: 400;
    font-size: 14px;
  }
}

.error_msg {
  position: absolute;
  right: 0;
  color: #e24c4c;
  font-size: 12px;
}

.otp-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 130px;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;
  }

  .right-section {
    width: 50%;
  }
}

.form-wrapper {
  padding: 0 20px;

  h5 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #522d80;
  }
}

.full-width {
  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;

  .p-inputwrapper {
    width: 100%;

    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #3b82f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #3b82f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
  }
}

.login-area {
  text-align: center;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

.form-wrapper-section {
  padding: 0 30px;

  .text-area {
    display: flex;
    justify-content: space-between;

    .heading-line {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #373f46;

      b {
        display: block;
      }
    }

    .cancel-btn {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: right;
      color: #522d80;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .otp-input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .field-label {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      text-transform: capitalize;
      color: #373f46;
      margin-bottom: 10px;
    }
  }

  .resend-section {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: #522d80;
    }
  }
}

.devider {
  width: 86px;
  height: 3px;
  background: #522d80;
  margin: 0 auto;
  border-radius: 10px;
}

.back-btn {
  background: none;
  border: 1px solid #ddd;
  padding: 10px 30px;
  transition: 0.3s all ease-in-out;
  color: rgb(0 0 0);
  border-radius: 4px;
  box-shadow: 2px 3px 2px 0px #ddd;
}

.back-btn:hover {
  background: #8cd3f636;
  transition: 0.3s all ease-in-out;
  color: #522d80;
}

.back-btn:hover i {
  color: #522d80;
}

.back-btn i {
  padding-right: 5px;
}

.back {
  color: rgb(0, 0, 0);
}