<div class="wrapper" style="margin-top: 200px;">
  <header class="main-header hd_top">
    <!-- <app-school-admin-top-left-panel></app-school-admin-top-left-panel> -->
    <div class="main-sidebar siderbar_left">Left Panel</div>

    <nav class="navbar navbar-static-top">
      <div class="dashboard_hd_left">
        <a
          class="sidebar-toggle hidden-lg hidden-md hidden-sm"
          data-toggle="push-menu"
          role="button"
        >
          2222
        </a>
        <h4>12</h4>
        <p>34</p>
        k
      </div>

      <!-- <app-school-admin-top-right-panel [videoURL]="videoURL" [videoText]="videoText">
        </app-school-admin-top-right-panel> -->
      <div>
        Right Panel
      </div>
    </nav>
  </header>
  <div class="content-wrapper dashboard_wrap"></div>
</div>
