<div class="wrapper">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="/docs/3.2/assets/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div>
  <nav class="main-header navbar navbar-expand navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link bg-info rounded dropdown-toggle"
          id="navbarVersionDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          v3.2
        </a>
        <div class="dropdown-menu py-0" aria-labelledby="navbarVersionDropdown">
          <a class="dropdown-item bg-info disabled">v3.2</a>
          <a class="dropdown-item">v3.1</a>
          <a class="dropdown-item">v3.0</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="theme-switch-wrapper nav-link">
          <label class="theme-switch" for="checkbox">
            <input
              (change)="switchTheme($event)"
              type="checkbox"
              id="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link logo-switch">
      <img
        src="/docs/3.2/assets/img/logo-xs.png"
        alt="AdminLTE Docs Logo Small"
        class="brand-image-xl logo-xs"
      />
      <img
        src="/docs/3.2/assets/img/logo-xl.png"
        alt="AdminLTE Docs Logo Large"
        class="brand-image-xs logo-xl"
        style="left: 12px;"
      />
    </a>
    <div class="sidebar">
      <div class="form-inline mt-2">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar nav-child-indent flex-column"
          data-widget="treeview"
          role="menu"
        >
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-microchip"></i>
              <p>
                Installation
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                Dependencies & Plugins
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Layout
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Components
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Header</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Main Sidebar</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Control Sidebar</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Card</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Small-/ Info-Box</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Direct Chat</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Timeline</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ribbons</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Miscellaneous</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Plugins</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-code"></i>
              <p>
                JavaScript
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Layout</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Push Menu</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Treeview</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Card Widget</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CardRefresh</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Control Sidebar</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Direct Chat</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Todo List</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Toasts</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sidebar Search</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Expandable Tables</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>IFrame</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Navbar Search</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fab fa-chrome"></i>
              <p>
                Browser Support
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-bookmark"></i>
              <p>
                Implementations
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-mortar-pestle"></i>
              <p>
                Additional Styles
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-hand-point-up"></i>
              <p>
                Upgrade Guide
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-hands-helping"></i>
              <p>
                Contributing Guide
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-question-circle"></i>
              <p>
                FAQ
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-file-contract"></i>
              <p>
                License
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper px-4 py-2">
    <div class="content-header">
      <h1>Layout</h1>
    </div>
  </div>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      v3.2
    </div>
    <strong>
      Copyright &copy; 2014-2022
      <a>AdminLTE.io</a>
      .
    </strong>
    All rights reserved.
  </footer>
</div>
