.main-sidebar {
    background: #522D80;
}
.main-sidebar .brand-link.logo-switch {
    background:#522D80;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background:#371d57;
}