.sign-up-wrapper {
  margin-top: 113px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;

    .left-image-wrapper {
      img {
        width: 100%;
      }
    }
  }

  .right-section {
    width: 50%;
    padding-left: 50px;
    padding-top: 150px;
    .form-wrapper {
      max-width: 525px;
      padding: 0 20px;

      h5 {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #522d80;
        margin-bottom: 30px;
      }
      .p-field {
        margin-bottom: 30px;
        label {
          display: block;
          color: #522D80;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
        }
        input {
          border-radius: 8px;
          border: 1px solid #161616;
          padding: 15px 24px;
          width: 100%;
        }
      }
      ::ng-deep .submit-btns {
        display: block;
        width: 100%;
        margin-top: 85px;
        button {
          width: 100%;
          padding: 20px 0;
        }
      }
    }
  }
}

.error_msg {
    position: absolute;
    right: 0;
    color: #e24c4c;
    font-size: 12px;
  }
  .invalid-text {
    color: red;
    font-size: 14px;
  }