<app-header *ngIf="userTypeChecking"></app-header>
<div class="container-fluid">
  <div class="sign-up-wrapper">
    <!-- <div class="left-section">
      <div class="left-image-wrapper">
        <img src="../../../assets/signup-bg.png" alt="" />
      </div>
    </div> -->

    <div class="right-section">
      <div class="form-wrapper">
        <h5>Change Password</h5>
        <form
          [formGroup]="changePasswordForm"
          (submit)="onChangePasswordSubmit()"
        >
          <div class="p-field">
            <label for="oldPassword">Old Password</label>
            <input type="password" formControlName="oldPassword" />
            <p
              class="invalid-text"
              *ngIf="
                changePasswordForm.get('oldPassword')?.touched &&
                changePasswordForm.get('oldPassword')?.invalid
              "
            >
              Old Password is required
            </p>
          </div>

          <div class="p-field">
            <label for="password">New Password</label>
            <input type="text" formControlName="NewPassword" />
            <p
              class="invalid-text"
              *ngIf="
                changePasswordForm.get('NewPassword')?.touched &&
                changePasswordForm.get('NewPassword')?.invalid
              "
            >
              New Password is required and must be at least 6 characters
            </p>
          </div>

          <div class="p-field">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="text"
              formControlName="confirmPassword"
              id="confirmPassword"
            />
            <p
              class="invalid-text"
              *ngIf="
                changePasswordForm.get('confirmPassword')?.touched &&
                changePasswordForm.get('confirmPassword')?.invalid
              "
            >
              Confirm Passsword is required
            </p>
            <div
              class="invalid-text"
              *ngIf="changePasswordForm.hasError('notSame')"
            >
              New Passsword and Confirm Password didn't match.
            </div>
          </div>

          <div class="submit-btn">
            <p-button
              class="submit-btns"
              type="submit"
              label="Sign in"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="userTypeChecking"></app-footer>
