<aside class="main-sidebar sidebar-dark-primary custom-sidebar">
  <!-- <a class="brand-link logo-switch"></a> -->

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar nav-child-indent flex-column"
        data-widget="treeview"
        role="menu"
      >
        <li
          class="nav-item"
          *ngFor="let item of sidebarMenu"
          [ngClass]="{ active: activeMenu === item.selfIndex }"
          (click)="activeClass(item.selfIndex)"
          [routerLink]="item.route"
        >
          <a class="nav-link">{{ item.menuName }}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
