.side-bar-wrapper {
    background: rgb(141, 141, 228);
}

.custom-sidebar {
    border-radius: 66px;
    top: 28px;
    left: 6px;
    background: #ffffff;
    box-shadow: 4px 4px 5px 0px #0353664f;
    height: calc(100vh - 110px);
}