<div class="d-flex align-items-start">
  <div class="nav border-pills-tab flex-column nav-pills border-right" id="v-pills-tab" role="tablist"
    aria-orientation="vertical">
    <button class="nav-link parent-nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
      data-bs-target="#profile-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
      <i class="fa fa-user"></i>
      Profile
    </button>
    <button class="nav-link parent-nav-link" id="v-pills-mentorship-tab" data-bs-toggle="pill"
      data-bs-target="#mentorship-pills-profile" type="button" role="tab" aria-controls="v-pills-mentorship"
      aria-selected="false">
      <i class="fa-solid fa-book"></i>
      Mentorship
    </button>
    <button class="nav-link parent-nav-link" id="v-pills-pricing-tab" data-bs-toggle="pill"
      data-bs-target="#pricing-pills-pricing" type="button" role="tab" aria-controls="v-pills-pricing"
      aria-selected="false">
      <i class="fa-solid fa-tag"></i>
      Pricing
    </button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="profile-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
      tabindex="0">
      <div class="input-field about-details overflow-hidden border-bottom">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3 border-pills-tab pr-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
              type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
              About
            </button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
              type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              Contact
            </button>
            <button class="nav-link" id="v-pills-exp-tab" data-bs-toggle="pill" data-bs-target="#v-pills-exp"
              type="button" role="tab" aria-controls="v-pills-exp" aria-selected="false">
              Work Experience
            </button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
              type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              Education
            </button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
              type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              Skills & Tools
            </button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
              tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3>About</h3>
                </div>
                <div class="row first-row">

                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="upload-image">
                      <div class="container">
                        <h1>Profil Image Upload
                        </h1>
                        <div class="avatar-upload">
                          <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                          </div>
                          <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="row mt-4 pt-5">
                      <div class="col-lg-12 col-md-12 col-12 px-4">
                        <form [formGroup]="mentorForm" (ngSubmit)="onSubmit()">
                          <div class="form-input">
                            <label for="">Full Name <span class="text-danger font-xs">*</span></label>
                            <input type="text" class="form-control" name="fullNameMentor" formControlName="fullName">
                          </div>

                          <div class="form-input">
                            <label for="">Profile Heading <span class="text-danger font-xs">*</span></label>
                            <input type="text" class="form-control" name="fullNameMentor"
                              formControlName="profileHeading">
                          </div>

                          <div class="form-input">
                            <label for="">What do you do? <span class="text-danger font-xs">*</span></label>
                            <input type="text" class="form-control" name="fullNameMentor" formControlName="whatDoYouDo">
                          </div>

                          <div class="form-input">
                            <label for="">About<span class="text-danger font-xs">*</span></label>
                            <textarea name="" id="" class="form-control" formControlName="about"></textarea>
                          </div>

                          <div class="d-flex gap-2">
                            <div class="form-input w-100">
                              <label for="">Location <span class="text-danger font-xs">*</span></label>
                              <select name="" id="" class="form-control" formControlName="country">
                                <option value="ind">India</option>
                                <option value="ch">China</option>
                              </select>
                            </div>

                            <div class="form-input w-100">
                              <label for="" class="label-hidden">Label</label>
                              <select name="" id="" class="form-control" formControlName="state">
                                <option value="wb">West bengal</option>
                                <option value="asm">Assam</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-input">
                            <label for="">Language you speak <span class="text-danger font-xs">*</span></label>
                            <textarea name="" id="" class="form-control" formControlName="languages"></textarea>
                          </div>

                          <div class="final-submission-btn float-right d-flex gap-3">
                            <button type="button" class="btn btn-transparent btn-sm"
                              (click)="mentorForm.reset()">Clear</button>
                            <button type="submit" class="btn btn-submit btn-sm"
                              [disabled]="mentorForm.invalid">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
              tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3>Contact</h3>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12 px-4">
                        <form [formGroup]="mentorContactForm" (ngSubmit)="onSubmitContact()">
                          <div class="form-input">
                            <label for="">Email</label>
                            <input type="text" class="form-control" name="Email" formControlName="mentorEmail">
                          </div>
                          <div class="form-input">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" name="Phone Number" formControlName="mentorPhone">
                          </div>
                          <hr>
                          <div class="form-input">
                            <label for="">Linkedin</label>
                            <input type="text" class="form-control" name="Linkedin" formControlName="linkedinUrl"
                              placeholder="https://www.linkedin.com/in/test/">
                          </div>
                          <div class="form-input">
                            <label for="">Github</label>
                            <input type="text" class="form-control" name="Github" formControlName="gitHubUrl"
                              placeholder="https://www.github.com/in/test/">
                          </div>
                          <div class="form-input">
                            <label for="">Dribble</label>
                            <input type="text" class="form-control" name="Dribble" formControlName="dribbleUrl"
                              placeholder="https://www.dribbble.com/in/test/">
                          </div>
                          <div class="form-input">
                            <label for="">Youtube</label>
                            <input type="text" class="form-control" name="Youtube" formControlName="youtubeUrl"
                              placeholder="https://www.youtube.com/in/test/">
                          </div>
                          <div class="form-input">
                            <label for="">Behance</label>
                            <input type="text" class="form-control" name="Behance" formControlName="behanceUrl"
                              placeholder="https://www.instagram.com/in/test/">
                          </div>
                          <div class="form-input">
                            <label for="">Instagram</label>
                            <input type="text" class="form-control" name="Instagram" formControlName="instaUrl"
                              placeholder="https://www.instagram.com/in/test/">
                          </div>
                          <div class="final-submission-btn float-right d-flex gap-3">
                            <button type="button" class="btn btn-transparent btn-sm"
                              (click)="mentorForm.reset()">Clear</button>
                            <button type="submit" class="btn btn-submit btn-sm"
                              [disabled]="mentorForm.invalid">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab" tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3 class="d-flex justify-content-between">Work Experience
                    <button mat-button (click)="openExperienceDialog()">Add Experience</button>
                  </h3>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 px-4">
                    <div class="form-input">
                      <label for="">When did you start working?</label>
                      <input type="date" class="form-control" name="fullNameMentor">
                    </div>
                  </div>
                  <hr>
                  <div class="col-lg-12 col-md-12 col-12 px-4">
                    <div class="form-input">
                      <h3>Experiences</h3>
                      <div class="row add-exp">
                        <div class="col-lg-6 col-md-6 col-6">
                          <span>
                            Jun 21 - Present
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                          <div class="details">
                            <span class="role">
                              UI Development
                            </span>
                            <p>
                              Mass Software Solutions
                            </p>
                            <div class="act-btn">
                              <i class="fa fa-eye"></i>
                              <i class="fa fa-edit"></i>
                              <i class="fa fa-trash fa-danger"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row add-exp">
                        <div class="col-lg-6 col-md-6 col-6">
                          <span>
                            Jun 21 - Present
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                          <div class="details">
                            <span class="role">
                              UI Development
                            </span>
                            <p>
                              Mass Software Solutions
                            </p>
                            <div class="act-btn">
                              <i class="fa fa-eye"></i>
                              <i class="fa fa-edit"></i>
                              <i class="fa fa-trash fa-danger"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row add-exp">
                        <div class="col-lg-6 col-md-6 col-6">
                          <span>
                            Jun 21 - Present
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                          <div class="details">
                            <span class="role">
                              UI Development
                            </span>
                            <p>
                              Mass Software Solutions
                            </p>
                            <div class="act-btn">
                              <i class="fa fa-eye"></i>
                              <i class="fa fa-edit"></i>
                              <i class="fa fa-trash fa-danger"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
              tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3>Education</h3>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 px-4">
                    <div class="form-input">
                      <div class="row add-exp">
                        <div class="col-lg-6 col-md-6 col-6">
                          <span>
                            Jun 21 - Present
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                          <div class="details">
                            <span>
                              UI Development
                            </span>
                            <p>
                              Mass Software Solutions
                            </p>
                            <div class="act-btn">
                              <i class="fa fa-eye"></i>
                              <i class="fa fa-edit"></i>
                              <i class="fa fa-trash fa-danger"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
              tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3>Skills and Tools</h3>
                </div>
                <div class="row">
                  <form [formGroup]="skillsAndToolsForm" (ngSubmit)="onSubmitSkillAndTools()">
                    <div class="col-lg-12 col-md-12 col-12 px-4">
                      <div class="form-input">
                        <label for="">Technical Skills</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Select Qualification</mat-label>
                          <input type="text" matInput formControlName="qualificationControl"
                            [matAutocomplete]="autoQual">
                          <mat-autocomplete #autoQual="matAutocomplete">
                            <mat-option *ngFor="let qual of qualifications | async" [value]="qual.label">
                              {{ qual.label }}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error
                            *ngIf="skillsAndToolsForm.get('qualificationControl')?.invalid && skillsAndToolsForm.get('qualificationControl')?.touched">
                            Qualification selection is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-12 px-4">
                      <div class="form-input">
                        <label for="">Tools</label>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Select a Tool</mat-label>
                          <input type="text" matInput formControlName="toolControl" [matAutocomplete]="autoTools">
                          <mat-autocomplete #autoTools="matAutocomplete">
                            <mat-option *ngFor="let tool of filteredTools | async" [value]="tool.label">
                              {{ tool.label }}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error
                            *ngIf="skillsAndToolsForm.get('toolControl')?.invalid && skillsAndToolsForm.get('toolControl')?.touched">
                            Tool selection is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="final-submission-btn float-right d-flex gap-3">
                      <button type="button" class="btn btn-transparent btn-sm"
                        (click)="mentorForm.reset()">Clear</button>
                      <button type="submit" class="btn btn-submit btn-sm"
                        [disabled]="mentorForm.invalid">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="mentorship-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
      tabindex="0">
      <div class="input-field about-details overflow-hidden">
        <div class="d-flex align-items-start">
          <div class="nav flex-column border-pills-tab nav-pills me-3 pr-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#mentee-pills-home" type="button" role="tab" aria-controls="v-pills-home"
              aria-selected="true">
              Mentee Prefereneces
            </button>

          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="mentee-pills-home" role="tabpanel"
              aria-labelledby="v-pills-home-tab" tabindex="0">
              <div class="input-field about-details">
                <div class="row">
                  <div class="head">
                    <h3>Mentorship</h3>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12 px-4">
                        <div class="form-input">
                          <label for="">Select Primary Expertise <span class="text-danger font-xs">*</span></label>
                          <select name="" id="" class="form-control">
                            <option value="">Frontend Developer</option>
                            <option value="">Backend Developer</option>
                            <option value="">Fullstack Developer</option>
                          </select>
                          <span class="alert">
                            Yout primary domain
                          </span>
                        </div>

                        <div class="form-input">
                          <label for="">Select Secondary Expertise
                          </label>
                          <select name="" id="" class="form-control">
                            <option value="">Frontend Developer</option>
                            <option value="">Backend Developer</option>
                            <option value="">Fullstack Developer</option>
                          </select>
                          <span class="alert">
                            Other domains from which you can cater mentees
                          </span>
                        </div>


                        <!-- <div class="form-input">
                          <label for="">Persona</label>
                          <div class="d-flex gap-2">
                            <div class="box">
                              <div class="persona-head">
                                <h4>Fresher</h4>
                                <input type="checkbox">
                              </div>
                              <p>
                                Mentees currently in college or seeking their first job.
                              </p>
                            </div>
                            <div class="box">
                              <div class="persona-head">
                                <h4>Experienced</h4>
                                <input type="checkbox">
                              </div>
                              <p>
                                Mentees aiming for career growth or considerig domain change.
                              </p>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pricing-pills-pricing" role="tabpanel" aria-labelledby="v-pills-pricing-tab"
      tabindex="0">
      <div class="input-field about-detail overflow-hiddens">
        <div class="d-flex align-items-start">
          <div class="nav border-pills-tab flex-column nav-pills me-3 px-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#mentee-pills-home" type="button" role="tab" aria-controls="v-pills-home"
              aria-selected="true">
              My Pricing
            </button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="mentee-pills-home" role="tabpanel"
              aria-labelledby="v-pills-home-tab" tabindex="0">
              <div class="input-field about-details">
                <div class="head">
                  <h3>Pricing</h3>
                </div>
                <ul>
                  <p>
                    Important Terms and Conditions:
                  </p>
                  <li>
                    To ensure affordability for freshers ( people in college / just out of it ) , pricing for freshers
                    should be lower than that for experienced professionals.
                  </li>
                  <li>
                    o encourage better value for longer plans. 3 & 6 month plans must provide a lower per month rate
                    compared to 1 month plans
                  </li>
                  <li>
                    For international mentees, you will get 3.5 times the pricing of Indian mentees.
                  </li>
                </ul>

                <div class="box">
                  <h5>Per Hour basic
                  </h5>
                  <div class="d-flex gap-2 align-items-center">
                    <div class="d-flex gap-2">
                      <div class="form-input">
                        <input type="text" class="form-control" placeholder="₹3000">
                      </div>
                      <p><b>/ per hour</b></p>
                    </div>

                    <div class="d-flex gap-2">
                      <p><b>how many hour</b></p>
                      <div class="form-input">
                        <input type="text" class="form-control" placeholder="2">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="final-submission-btn float-right d-flex gap-3">
      <button class="btn btn-transparent btn-sm">Close</button>
      <button class="btn btn-submit btn-sm">Submit</button>
    </div> -->
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
