.internship_sec {
    padding: 70px 0 20px;
    font-family: 'Raleway';
    background: #fff;
    margin-top: 0;

    .top_filter_sec {

        max-width: 1297px;
        margin: 0 auto;
        background: #fff;
        padding: 12px 0;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
        margin-bottom: 10px;

        .sorting {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &>input[type=text] {
                border-radius: 12px;
                border: 0.5px solid #C8C8C8;
                background: #FAFAFA;
                padding: 14px 16px;
                margin-right: 10px;
            }

            &>button {
                height: 48px;
                width: 48px;
                color: #522D80;
                border-radius: 6px;
                margin-right: 10px;

                i {
                    font-size: 20px;
                }
            }

            .slide_range {
                span {
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color: #522D80;
                    text-transform: capitalize;
                }

                & ::ng-deep .p-inputtext {
                    padding: 5px 12px;
                    border: none;
                }
            }
        }

        & ::ng-deep .job_type {
            border-right: 1px solid #d4d4d4;
            height: 50px;

            .p-dropdown {
                border-radius: 5px;
                background: #6E41E2;
                margin-right: 20px;

                // border-right: 1px solid #d4d4d4;
                .p-dropdown-label {
                    color: #fff;
                }

                .p-dropdown-trigger-icon {
                    color: white;
                }
            }
        }

        & ::ng-deep .sort_by {
            border-left: 1px solid #d4d4d4;
            height: 50px;

            .p-dropdown {
                border-radius: 5px;
                background: #F3E9FF;
                margin-right: 20px;
                // border-left: 1px solid #d4d4d4;
                margin-left: 20px;

                .p-dropdown-label {
                    color: #522D80;
                }

                .p-dropdown-trigger-icon {
                    color: #522D80;
                }
            }
        }

        & ::ng-deep .filters {
            // border: 1px solid #d4d4d4;
            height: 50px;

            .p-dropdown {
                border-radius: 5px;
                background: #fff;
                margin-right: 20px;
                // border-left: 1px solid #d4d4d4;
                border: 1px solid #522D80;

                .p-dropdown-label {
                    color: #522D80;
                }

                .p-dropdown-trigger-icon {
                    color: #522D80;
                }
            }
        }
    }

    .internship_sec_inner {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        max-width: 1297px;
        margin: 0 auto;
    }

    .left_aside_part {
        flex: 0 0 100%;

        .company_lists {

            // height: 1000px;
            // overflow: scroll;
            // // &::-webkit-scrollbar-track {
            // //     background: #f1f1f1;
            // //     width: 6px;
            // // }
            // // /* Handle */
            // // &::-webkit-scrollbar-thumb {
            // //     background: #888;
            // // }
            // // /* Handle on hover */
            // // &::-webkit-scrollbar-thumb:hover {
            // //     background: #555;
            // // }
            ul {
                list-style: none;
                padding: 0 10px 0 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;

                li {
                    background: #FFFFFF;
                    border: 2px solid #dfdfdf87;
                    border-radius: 12px;
                    padding: 22px 22px 10px;
                    margin: 0 8px 16px;
                    flex: 0 0 32%;
                    position: relative;
                    transform: scale(0.93);
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;


                    &:hover,
                    &.is_active {
                        transform: scale(1);
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        .company_details_head {
                            .tags {
                                span {
                                    background-color: #e9d7ffad;
                                    color: #522D80;
                                    transform: scale(1);
                                }
                            }
                        }

                        &:before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            bottom: -13rem;
                            left: 10rem;
                            width: 500px;
                            height: 500px;
                            border-radius: 50%;
                            background: rgb(82 45 128 / 3%);
                            transform: translate(150px, 150px);
                        }
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        bottom: -13rem;
                        left: 10rem;
                        width: 500px;
                        height: 500px;
                        border-radius: 50%;
                        background: rgb(82 45 128 / 3%);
                        transition: all 0.3s ease-in-out;
                    }

                    .company_details_head {
                        display: flex;
                        flex-direction: column;

                        div.comapny_details {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            border-bottom: 2px solid #ededed;

                            h2 {
                                font-size: 16px;
                                font-weight: bold;
                            }

                            span.posted_time {
                                font-size: 0.65rem;
                                color: #a676e3;
                                margin-bottom: 0;
                                display: block;
                                font-weight: 600;
                                margin-top: 8px;
                                font-style: italic;
                                text-align: right;
                            }

                            &>span {
                                // border: 0.5px solid #C0C0C0;
                                display: block;
                                padding: 5px;
                                width: 100px;
                                height: 50px;
                                text-align: center;
                                margin-right: 10px;

                                img {
                                    max-width: 100%;
                                    object-fit: contain;
                                }
                            }
                        }

                        &>h2 {
                            color: #252525;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            text-transform: capitalize;
                            align-items: center;
                            width: 300px;
                            height: 40px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            span {
                                color: #3B82F6;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                margin-top: 8px;
                            }
                        }


                        .tags {
                            display: flex;
                            justify-content: flex-start;
                            gap: 10px;
                            margin-top: 4px;
                            flex-wrap: wrap;

                            span {
                                background: #e9e9e9;
                                border-radius: 14px;
                                padding: 5px 12px;
                                vertical-align: middle;
                                color: #949494;
                                font-weight: 700;
                                font-size: 12px;
                                transform: scale(0.96);
                                transition: all 0.2s ease-in-out;
                            }
                        }
                    }

                    .location {
                        margin: 20px 0;

                        .details {

                            display: flex;
                            align-items: center;

                        }


                        i {
                            margin-right: 5px;
                            font-size: 13px;
                            display: inline-block;
                            vertical-align: text-bottom;
                            // background: #ccc;
                            padding: 7px;
                            border-radius: 50%;
                        }

                        p {
                            vertical-align: middle;
                            margin-bottom: 0;
                            text-transform: capitalize;
                            font-size: 0.75rem;
                            font-weight: 600;
                            width: 300px;
                            height: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }


                    }



                    .company_tags {
                        margin-top: 13px;

                        span {
                            display: inline-block;
                            background: #F1E6FF;
                            ;
                            border-radius: 14px;
                            padding: 5px 12px;
                            vertical-align: middle;
                            color: #522D80;
                            font-weight: 700;
                            font-size: 12px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            text-transform: capitalize;
                        }
                    }

                    .type_applied {
                        display: flex;
                        flex-direction: row;
                        margin-top: 10px;
                        flex-wrap: wrap;

                        span {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin: 0 20px 10px 0;

                            strong {
                                color: #522D80;
                                font-weight: 600;
                                font-size: 14px;
                                margin-left: 8px;
                            }
                        }
                    }

                    .details_btn {
                        border: 1px solid #522D80;
                        border-radius: 5px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        display: block;
                        margin-top: 20px;
                        width: 100%;
                        background-color: #F1E6FF;
                        color: #522D80;
                        font-weight: 500;
                        bottom: 10px;
                        position: absolute;
                        width: 92%;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }

    .right_details_part {
        flex: 0 0 70%;
        margin-left: 16px;
        background: #fff;
        border-top: 3px solid #522D80;
        max-width: 884px;

        .right_details_head {
            border-bottom: 0.5px solid #969696;
            padding: 30px 40px;
            display: flex;
            flex-direction: row;

            &>div {
                display: block;

                &>span {
                    border: 0.5px solid #C0C0C0;
                    display: block;
                    padding: 5px 5px;
                    width: 188px;
                    height: 87px;
                    text-align: center;

                    img {
                        height: 75px;
                        width: auto;
                    }
                }

                .company_tags {
                    margin-top: 13px;

                    span {
                        display: inline-block;
                        background: #F2F2F2;
                        border-radius: 14px;
                        padding: 5px 12px;
                        vertical-align: middle;
                        color: #522D80;
                        font-weight: 700;
                        font-size: 12px;
                        margin-right: 18px;
                        margin-bottom: 10px;
                    }
                }
            }

            h2 {
                color: #252525;
                font-weight: 600;
                font-size: 30px;
                line-height: 42px;
                margin-left: 32px;

                span {
                    color: #7C7C7C;
                    font-weight: 600;
                    font-size: 24px;
                    display: block;
                    line-height: 33px;
                }
            }
        }

        .overview {
            padding: 26px 42px;

            h2 {
                font-size: 24px;
                font-weight: 600;
                color: #000000;
                margin-bottom: 10px;
            }

            p {
                color: #6C6C6C;
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 25px;

                span {
                    font-weight: 500;
                    font-size: 13px;
                    color: #6C6C6C;
                    line-height: 27px;
                }

                li {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 27px;
                    color: #6C6C6C;
                }
            }

            .tags {
                margin-bottom: 25px;

                span {
                    display: inline-block;
                    background: #EFEFEF;
                    border-radius: 3px;
                    padding: 10px 15px;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    text-align: center;
                    color: #656565;
                    margin-right: 11px;
                }
            }

            .apply_btn {
                text-align: center;
                margin-top: 40px;

                button {
                    background: #522D80;
                    border-radius: 5px;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 10px 20px;
                    display: inline-block;
                }
            }
        }
    }
}

.internship_sec_list {
    padding-top: 0;
}

::ng-deep .p-dialog {
    background-color: #fff;
    font-family: 'Raleway';
    border-radius: 16px;
    overflow: hidden;

    .p-dialog-header {
        padding: 56px 70px;
        border-bottom: 0.5px solid #C4C4C4;
        background: #f8f8f8;
        position: relative;
        margin-bottom: 20px;

        .p-dialog-header-icon {
            position: absolute;
            right: 25px;
            top: 25px;
        }

        h2 {
            color: #000000;
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;

            span {
                color: #6C6C6C;
                font-weight: 500;
                font-size: 24px;
                display: block;
                line-height: 40px;
            }
        }
    }

    .p-dialog-content {
        padding-right: 0;
    }
}

::ng-deep .p-steps {
    &>ul[role=tablist] {
        margin: 0 50px;
    }

    .p-steps-item {
        background: #D9D9D9;
        height: 7px;
        border-radius: 12px;
        margin: 0 12px;

        &.p-steps-current {
            background: #19A6EC;
        }

        &>a {
            display: none;
        }
    }
}

.search-results-container {
    margin: 40px 0 0;
    // height: 1094px;
    max-height: 1094px;
    width: 100%;
    position: relative;
    // overflow-y: scroll;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 2px;
        background-color: rgba(196, 196, 196, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #828282;
    }

    &::-moz-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    &::-moz-scrollbar {
        width: 2px;
        background-color: rgba(196, 196, 196, 0.3);
    }

    &::-moz-scrollbar-thumb {
        background-color: #828282;
    }

    .noData {
        display: grid;
        // align-items: center;
        // height: 100%;
        justify-content: center;
        text-align: center;
        width: 62%;
        margin: 0 auto;
        line-height: 44px;
    }

    // .noData h3 {
    //     color: #404040;
    //     font-family: monospace;
    //     overflow: hidden;
    //     /* Ensures the content is not revealed until the animation */
    //     border-right: .15em solid orange;
    //     /* The typwriter cursor */
    //     // white-space: nowrap;
    //     /* Keeps the content on a single line */
    //     margin: 0 auto;
    //     /* Gives that scrolling effect as the typing happens */
    //     letter-spacing: .15em;
    //     /* Adjust as needed */
    //     animation:
    //         typing 3.5s steps(30, end),
    //         blink-caret .5s step-end infinite;
    // }

}