<app-header></app-header>

<section class="internship_sec">
  <section class="internship_sec_inner">
    <section class="left_aside_part">
      <div class="company_lists">
        <div
          class="search-results-container"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="250"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
        >
          <ul>
            <li
              *ngFor="let a of AllJobDetails; let i = index"
              (click)="gotoLogin()"
              [ngClass]="{ is_active: selectedJob == i }"
            >
              <div class="company_details_head">
                <div class="comapny_details">
                  <span>
                    <img
                      src="{{
                        a.company.image
                          ? a.company.image
                          : '../../../assets/no-image.svg'
                      }}"
                      width="90"
                      height="48"
                      loading="lazy"
                    />
                  </span>
                  <h2>
                    {{ a.companyName }}
                    <span class="posted_time">
                      Posted {{ a.createdAt }} days ago
                    </span>
                  </h2>
                </div>

                <h2 [innerHTML]="a.details"></h2>
                <div class="tags">
                  <span>1-3 Years</span>
                  <span>Graduation/Diploma</span>
                  <span>{{ a.salary }} Lpa</span>
                  <span>{{ a.intranshipType }}</span>
                </div>
              </div>

              <div class="location">
                <span>
                  <i class="pi pi-map-marker"></i>
                  {{ a.location }}Kolkata
                </span>
                <span>
                  <i class="pi pi-briefcase"></i>
                  {{ a.type }}
                </span>
                <span>
                  <i class="pi pi-user-plus"></i>
                  {{ a.jobOpening }}
                </span>
              </div>
              <div class="company_tags">
                <span *ngFor="let b of a.skills">{{ b }}</span>
              </div>
            </li>

            <!-- -::::::::::::::::::::::::::::::::::Job details part::::::::::::::::::::::::::::::-->
          </ul>
          <section class="noData" *ngIf="AllJobDetails.length == 0">
            <h3>
              Exciting opportunities ahead!
              <span class="dynamic-text">
                {{ CurrentUrl === '/job' ? 'Jobs' : 'Internships' }}
              </span>
              are coming soon, your chance to learn, grow, and make an impact
              awaits.
            </h3>
          </section>
        </div>
      </div>
    </section>
  </section>
</section>

<app-footer></app-footer>
