.job_tabs {
    margin: 125px auto 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 1297px;
    flex-wrap: wrap;
    ::ng-deep .p-element {
        width: 100%;
    }
    ::ng-deep .p-tabview-nav {
        li {
            padding-right: 40px;
        }
    }
    ::ng-deep .p-tabview-panels {
        padding: 20px 0;
        .p-tabview-panel {
            font-family: "Open Sans",sans-serif;
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            li {
                list-style-type: none;
                border-radius: 9px;
                border: 1px solid rgba(0, 0, 0, 0.13);
                background: #FDFDFD;
                box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.13);
                padding:15px 0 0;
                flex: 0 0 48%;
                margin-bottom: 20px;
                position: relative;
                    .ellipsis_icon {
                        & > i {
                                position: absolute;
                                right: 10px;
                                top: 20px;
                                cursor: pointer;
                            }
                    }
                    
                    
                    .company_info_head {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
                        padding: 0 42px 26px;
                        .company_logo {
                            border-radius: 7px;
                            width:80px;
                            height: 78px;
                            background: #ccc;
                            margin-right: 20px;
                            text-align: center;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            img {
                                border-radius: 7px;
                                max-height: 78px;
                                width:auto;
                                display: inline-block;
                            }
                        }
                        .company_details {
                            h2 {
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                color: #000;
                                strong {
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 700;
                                    color: #7E56BA;
                                    line-height: 28px;
                                }
                            }
                        }
                        .location_info {
                            strong {
                                font-size: 12px;
                                font-weight: 500;
                                text-transform: capitalize; 
                                position: relative;
                                margin-right: 15px;
                                padding-right: 10px;
                                display: inline-block;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    background: #666;
                                    border-radius: 50%;
                                    right: -5px;
                                    top: 6px;
                                }
                            }
                        }
                    }
                    .company_info_btm {
                        padding: 25px 20px 25px 40px;
                        p {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            color: #000;
                            strong {
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                color: #7E56BA;
                                line-height: 28px;
                            }
                        }
                    }
                    .app_status {
                        border-radius: 0px 0px 9px 9px;
                        background: #7E56BA;
                        padding: 7px 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 24px;
                        font-style: normal;
                        color: #fff;
                        strong {
                            font-weight: 800;
                            line-height: 28px;
                            text-transform: capitalize;
                        }
                    }
                    h2 {
                        font-size:18px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    .job_profile_info {
                        margin: 10px 0;
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            border-radius: 5px;
                            background: #efefef;
                            padding: 2px 10px;
                            font-size: 11px;
                            text-transform: capitalize;
                            margin-right: 8px;
                        }
                    }
                    .location_info {
                        margin-bottom: 6px;
                        i {
                        display: inline-block;
                        vertical-align: middle; 
                        margin-right: 5px;
                        }
                        span {
                            font-size: 12px;
                            color: #6C6C6C;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .company_info {
                        border-top: 1px solid #e9e9e9;
                        margin-top: 15px;
                        padding-top: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        img {
                            max-width: 60%;
                            height: auto;
                            display: inline-block;
                                vertical-align: middle;
                                margin-right: 10px;
                        }
                        span {
                            &:first-of-type {
                                background: none;
                                font-weight: 600;
                                padding: 0;
                                text-transform: none;
                                color: #999;
                                font-size: 13px;
                                strong {
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #3B82F6;
                                }
                                
                            }
                            display: inline-block;
                            border-radius: 5px;
                            background: #d5f0d8;
                            color: #49864F;
                            font-size: 12px;
                            font-weight: 700;
                            padding: 4px 12px;
                            text-transform: capitalize;
                            &.applied {
                                background: #C0E2F3;
                                color: #0F6F9E;
                            }

                            &.rejected {
                                background: #EEB2B2;
                                color: #C63A3A;
                            }
                        }
                    }
                }  
            }
            .back_btn {
                border: 1px solid #E7E6E6;
                border-radius: 5px;
                padding: 10px 20px;
                color: #5E6368;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                background: #eaeaea;
                margin-bottom: 20px;
                i {
                    display: inline-block;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                    font-size: 22px;
                    transition: all 0.6s ease-in-out;
                }
                &:hover {
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
::ng-deep .p-overlaypanel-content {
    padding: 10px 15px;
    button {
        background: none;
        display: block;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
        i {
            margin-right: 10px;
        }
    }

}