<div class="job_tabs">
<p-tabView>
    <p-tabPanel header="Applied">
        <ul>
            <li>
                <p-speedDial [model]="items" direction="down" showIcon="pi pi-ellipsis-v"></p-speedDial>
                <h2>Front End Developer</h2>
                <span>Employer reached out</span>
                <div class="location_info">
                    <i class="pi pi-map-marker"></i><span>Kolkata, West Bengal</span>
                </div>
                <div class="location_info">
                    <i class="pi pi-calendar"></i> <span>Applied on Jul 27</span>
                </div>
                <div class="company_info">
                    <img src="../../../assets/canva.png" width="78" height="32" /> 
                    <strong>Satisfix Software systems</strong>
                </div>
                <!-- <p-speedDial [model]="statusItems" radius="80" direction="up" type="semi-circle"></p-speedDial>
                <button class="update_status">Update Status</button> -->
            </li>
            <li>
                <p-speedDial [model]="items" direction="down" showIcon="pi pi-ellipsis-v"></p-speedDial>
                <h2>Front End Developer</h2>
                <span class="applied">Applied</span>
                <div class="location_info">
                    <i class="pi pi-map-marker"></i><span>Kolkata, West Bengal</span>
                </div>
                <div class="location_info">
                    <i class="pi pi-calendar"></i> <span>Applied on Jul 27</span>
                </div>
                <div class="company_info">
                    <img src="../../../assets/canva.png" width="78" height="32" />
                    <strong>Satisfix Software systems</strong>
                </div>
            </li>
            <li>
                <p-speedDial [model]="items" direction="down" showIcon="pi pi-ellipsis-v"></p-speedDial>
                <h2>Front End Developer</h2>
                <span class="rejected">Not selected by employer</span>
                <div class="location_info">
                    <i class="pi pi-map-marker"></i><span>Kolkata, West Bengal</span>
                </div>
                <div class="location_info">
                    <i class="pi pi-calendar"></i> <span>Applied on Jul 27</span>
                </div>
                <div class="company_info">
                    <img src="../../../assets/canva.png" width="78" height="32" />
                    <strong>Satisfix Software systems</strong>
                </div>
            </li>
            <li>
                <p-speedDial [model]="items" direction="down" showIcon="pi pi-ellipsis-v"></p-speedDial>
                <h2>Front End Developer</h2>
                <span class="rejected">Not selected by employer</span>
                <div class="location_info">
                    <i class="pi pi-map-marker"></i><span>Kolkata, West Bengal</span>
                </div>
                <div class="location_info">
                    <i class="pi pi-calendar"></i> <span>Applied on Jul 27</span>
                </div>
                <div class="company_info">
                    <img src="../../../assets/canva.png" width="78" height="32" />
                    <strong>Satisfix Software systems</strong>
                </div>
            </li>
        </ul>
    </p-tabPanel>
    <p-tabPanel header="Interviews">
        
    </p-tabPanel>
</p-tabView>
</div>
