<app-header></app-header>
<div class="job_tabs">
  <p-tabView>
    <p-tabPanel header="Applied">
      <ul>
        <li *ngFor="let a of AppliedJobDetails">
          <div class="ellipsis_icon">
            <p-overlayPanel #op>
              <ng-template pTemplate="content">
                <button (click)="details(a._id)"><i class="pi pi-info-circle"></i>Details</button>
                <button (click)="applicationStatus()"><i class="pi pi-file"></i>Application Status</button>
              </ng-template>
            </p-overlayPanel>
            <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
          </div>

          <!-- <div class="card flex justify-content-center">
            <p-overlayPanel #op>
                <img src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="product" />
            </p-overlayPanel>
            <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
        </div> -->
          <div class="company_info_head">
            <div class="company_logo"></div>
            <div>
              <h2>{{ a?.jobDetails?.company?.companyName }}</h2>
              <div class="location_info">
                <!-- <strong>{{ a.jobDetails?.companyName }}</strong> -->
                <span>{{ a?.jobDetails?.location }}</span>
              </div>
                          </div>
                      </div>
          <div class="job_profile_info">
            <span>5-10 Years</span>
            <span>Full-time</span>
            <span>Onsite</span>
          </div>

          <div class="location_info">
            <i class="pi pi-calendar"></i>
            <span>{{ a?.jobDetails?.createdAt | date }}</span>
          </div>

          <div class="company_info">
            <!-- <img src="../../../assets/canva.png" width="78" height="32" />  -->

            <!-- <button (click)="details(a)"> send........</button> -->
            <span>
              <strong>$1500/</strong>
              m
            </span>
            <span>{{ a.applicationStatus }}</span>
          </div>
        </li>
        
      </ul>
    </p-tabPanel>
    <p-tabPanel header="Interviews"></p-tabPanel>
  </p-tabView>
</div>
<app-footer></app-footer>
