.login-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;

  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ededed;
  }

  .right-section {
    width: 50%;
  }
}

.form-wrapper {
  padding: 0 20px;

  h5 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #522d80;
  }
}

.full-width {
  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.full-width-number {
  width: 100%;

  .p-inputwrapper {
    width: 100%;

    ::ng-deep .p-inputnumber {
      width: 100%;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.dropdown-full-width {
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.full-width-number-field {
  ::ng-deep input {
    width: 100%;
  }
}

.dropdown-lable-field {
  left: 0;
  top: -22px;
}

.checkbox-sec input {
  margin-right: 10px;
}

.submit-btn {
  ::ng-deep .p-button {
    width: 100%;
    background: #8cd3f6;
    box-shadow: -3px 2px 6px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #8cd3f6;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
  }
}

.login-area {
  text-align: center;

  p {
    cursor: pointer;
    margin-top: 20px;
    color: #8cd3f6;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    span {
      color: #522d80;
    }
  }
}

.submit-btns {
  width: 100%;
}

//login
.login_steps {
  display: flex;
  flex-direction: row;
  background: #fff;
  align-items: center;
  border-radius: 35px;
  margin-bottom: 30px;

  .leftImage {
    flex: 0 0 50%;
    text-align: center;
  }

  .rightContForm {
    flex: 0 0 50%;
    padding: 100px 50px;
    text-align: center;
    border-left: 2px solid #EDEDED;

    h3 {
      color: #522D80;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 65px;
    }

    .subhead {
      position: relative;
      display: flex;
      flex-direction: row;

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #373F46;
        width: 70%;
        text-align: left;
      }

      a {
        color: #522D80;
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-left: auto;
        text-decoration: none;
      }
    }

    &.reset_password {
      .form_group {
        margin-bottom: 48px;
      }

      .formFields {
        button {
          margin-top: 90px;
        }
      }
    }

    .formFields {
      text-align: left;
      margin-top: 10px;

      .form_group {
        label {
          display: block;
          color: #522D80;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          padding-left: 15px;
        }

        input {
          border-radius: 8px;
          border: 1px solid #161616;
          height: 56px;
          line-height: 56px;
          padding: 0 24px;
          width: 100%;
        }

        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          color: #373F46;
          display: block;
          margin-bottom: 5px;
        }
      }

      .resend_code {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-top: 30px;
        text-align: center;

        strong {
          color: #522D80;
          font-weight: 700;
          line-height: 20px;
        }
      }

      button {
        border-radius: 8px;
        background: #8CD3F6;
        width: 100%;
        display: block;
        margin: 60px 0 40px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: white;
        height: 62px;
        line-height: 62px;
        text-transform: uppercase;

        &:hover {
          background: #4ABDF5;
        }
      }

      .backtologin {
        display: block;
        text-align: center;

        a {
          display: inline-block;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          color: #522D80;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.back-btn {
  background: none;
  border: 1px solid #ddd;
  padding: 10px 30px;
  transition: 0.3s all ease-in-out;
  color: rgb(0 0 0);
  border-radius: 4px;
  box-shadow: 2px 3px 2px 0px #ddd;
}

.back-btn:hover {
  background: #8cd3f636;
  transition: 0.3s all ease-in-out;
  color: #522d80;
}

.back-btn:hover i {
  color: #522d80;
}