<div class="login-section"></div>
<div class="login-wrapper" *ngIf="loginModal">
  <div class="left-section">
    <div class="left-image-wrapper">
      <img src="../../../assets/signup-img.svg" alt="" />
    </div>
  </div>
  <div class="right-section">
    <div class="form-wrapper">
      <h5>Sign In</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="col-12 md:col-12 mt-3 mb-4 full-width-number-field">
          <span class="p-float-label">
            <input type="email" pInputText formControlName="email" />
            <label for="float-input">Email</label>
          </span>
        </div>
        <div class="col-12 md:col-12 mt-3 mb-4 full-width">
          <span class="p-float-label">
            <p-password formControlName="password"></p-password>
            <label for="float-input">Password</label>
          </span>
        </div>

        <div class="col-12 md:col-12 mt-3 mb-4 dropdown-full-width mt-5">
          <span class="p-float-label">
            <p-dropdown
              [options]="loginOptionType"
              optionLabel="title"
              optionValue="title"
              formControlName="options"
            ></p-dropdown>
            <label class="dropdown-lable-field" for="float-input">
              Select The correct option
            </label>
          </span>
        </div>
        <div class="submit-btn">
          <p-button
            class="submit-btns"
            type="submit"
            label="Sign in"
          ></p-button>
        </div>
      </form>

      <div (click)="loginPanelOpen()" class="login-area mb-3 mt-3">
        <a href="#">
          New User?
          <span>Sign Up</span>
        </a>
        <p (click)="fogotPassword()">forgot password</p>
      </div>
    </div>
  </div>
</div>

<section class="login_steps" *ngIf="forgotPassword">
  <div class="leftImage">
    <figure>
      <img src="../../../assets/signup-img.svg" width="503" height="468" />
    </figure>
  </div>
  <div class="rightContForm">
    <h3>Forgot your password?</h3>
    <div class="subhead">
      <p>
        Enter your email address and we'll send <br />you an OTP to reset your
        password.
      </p>
      <a (click)="ForgotPasswordCancel()">Cancel</a>
    </div>
    <div class="formFields">
      <div class="form_group">
        <label>Email*</label>
        <input type="text" pInputText #email />
      </div>
      <button (click)="forgotPasswordSubmit(email.value)">Submit</button>
      <span class="backtologin"
        ><a (click)="backToLogIn()"
          ><img src="../../../assets/right-arrow.svg" />Back to login</a
        ></span
      >
    </div>
  </div>
</section>

<section class="login_steps" *ngIf="forgotPasswordOtp">
  <div class="leftImage">
    <figure>
      <img src="../../../assets/signup-img.svg" width="503" height="468" />
    </figure>
  </div>
  <div class="rightContForm">
    <h3>OTP Verification</h3>
    <div class="subhead">
      <p>
        Enter the 4 digit OTP code sent at your email <br /><strong
          >example@gmail.com</strong
        >
      </p>
      <a (click)="forgotPasswordOtpCancel()">Cancel</a>
    </div>
    <div class="formFields">
      <div class="form_group">
        <span>Enter OTP*</span>
        <ng-otp-input
          #ngOtpInput1
          [config]="{ length: 4 }"
          (onInputChange)="onEmailOtpChange($event)"
          formControlName="emailOtp"
        ></ng-otp-input>
      </div>
      <div class="resend_code">
        Didn't received the code? <strong>Resend Code</strong>
      </div>
      <button (click)="otpVrify()">Verify</button>
      <span class="backtologin"
        ><a (click)="backToLogIn()"
          ><img src="../../../assets/right-arrow.svg" />Back to login</a
        ></span
      >
    </div>
  </div>
</section>

<section class="login_steps" *ngIf="resetPassword">
  <div class="leftImage">
    <figure>
      <img src="../../../assets/signup-img.svg" width="503" height="468" />
    </figure>
  </div>
  <div class="rightContForm reset_password">
    <h3>Reset Password</h3>
    <div class="formFields">
      <div class="form_group">
        <label>New Password</label>
        <!-- <p-password [(ngModel)]="value3" [toggleMask]="true"></p-password> -->
      </div>
      <div class="form_group">
        <label>Confirm Password</label>
        <!-- <p-password [(ngModel)]="value3" [toggleMask]="true"></p-password> -->
      </div>
      <button>reset password</button>
      <span class="backtologin"
        ><a (click)="backToLogIn()"
          ><img src="../../../assets/right-arrow.svg" />Back to login</a
        ></span
      >
    </div>
  </div>
</section>
