<div class="client-content-management">
  <ul>
    <li class="tiles">
      <h4>Privacy & Policy</h4>
      <div class="action-btn">
        <button type="button">Update Content</button>
      </div>
    </li>
    <li class="tiles">
      <h4>Refund Policy</h4>
      <div class="action-btn">
        <button type="button">Update Content</button>
      </div>
    </li>
    <li class="tiles">
      <h4>Dashboard Content</h4>
      <div class="action-btn">
        <button type="button">Update Content</button>
      </div>
    </li>
  </ul>
</div>
